ul.entryList
	li.entry
		p.entryThumb
			a(href="expert01.html")
				img(src = "#{assets_prefix}/images/img_expert_02.jpg")
		p.entryTtl
			a(href="expert01.html") “効率化”という<br>付加価値を生み出す
		p.entryText 営業部　齋藤玉樹
	li.entry
		p.entryThumb
			a(href="expert02.html")
				img(src = "#{assets_prefix}/images/img_expert_03.jpg")
		p.entryTtl
			a(href="expert01.html") 「安全のため」という<br>信念を持って
		p.entryText 安全推進部　鵜川誠
	li.entry
		p.entryThumb
			a(href="expert03.html")
				img(src = "#{assets_prefix}/images/img_expert_04.jpg")
		p.entryTtl
			a(href="expert01.html") 得意先の受注に<br>確実に応える
		p.entryText 在庫配置　松崎遙
	li.entry
		p.entryThumb
			a(href="expert04.html")
				img(src = "#{assets_prefix}/images/img_expert_05.jpg")
		p.entryTtl
			a(href="expert01.html") 効率のいい配車を<br>実現するために
		p.entryText 統合配車　伊藤正宏
	li.entry
		p.entryThumb
			a(href="expert05.html")
				img(src = "#{assets_prefix}/images/img_expert_06.jpg")
		p.entryTtl
			a(href="expert01.html") 繁忙期を乗り切る<br>配車のために
		p.entryText 運送部門　大川正人
	li.entry
		p.entryThumb
			a(href="expert06.html")
				img(src = "#{assets_prefix}/images/img_expert_07.jpg")
		p.entryTtl
			a(href="expert01.html") 品質を守りながら<br>安全に運びきる
		p.entryText 運送部門　中前勝也
	li.entry
		p.entryThumb
			a(href="expert07.html")
				img(src = "#{assets_prefix}/images/img_expert_08.jpg")
		p.entryTtl
			a(href="expert01.html") 稼働率の高い<br>倉庫を目指して
		p.entryText 倉庫部門　山下真吾
	li.entry
		p.entryThumb
			a(href="expert08.html")
				img(src = "#{assets_prefix}/images/img_expert_09.jpg")
		p.entryTtl
			a(href="expert01.html") 安全を第一に<br>効率のいい作業を
		p.entryText 倉庫部門　南陽一