extends ../../layout.jade
//各ページごとOGPの設定
//共通設定を使う場合はblockごと削除
block ogp
	-
		var ogp = {
			'title':'test',
			'description':'test',
			'url':'test',
			'image':'test',
			'siteName':'test',
			'lang':'test',
			'fbid':'test',
			'fbid':'test'
		}
//各ページごとmetaの設定
//共通設定を使う場合はblockごと削除
block meta
	-
		var meta = {
			title:'倉庫部門 山下 真吾 - 物流を支えるエキスパートたち - サントリーロジスティクスの強み',
			desc:'de',
			key:'キーワード'
		}
//各ページごとbody classの設定
//複数設定したい場合は半角スペース区切り
//共通設定を使う場合はblockごと削除
//※削除した場合は「lower」が付与される
block slug
	- slug = ''

block pageTtl
	.contHeader
		.contHeaderInner
			h1.contHeaderTtl サントリーロジスティクスの強み
			p.contHeaderSubttl ADVANTAGE
			ul.breadcrumbs
				li <a href="#{assets_prefix}">ホーム</a>
				li <a href="#{assets_prefix}advantage/">強み</a>
				li <a href="#{assets_prefix}advantage/expert/">物流を支えるエキスパートたち</a>
				li 倉庫部門 山下 真吾
block contents
	.pageHeader
		h2.pageHeaderTtl 物流を支えるエキスパートたち
	.mvPage.mvPageExpert
		img.pc(src = "#{assets_prefix}/images/img_expert07_01.jpg")
		img.sp(src = "#{assets_prefix}/images/img_expert07_01_sp.jpg")
		h3.expertTtl 繁忙期を全員で乗り切る団結力に自信。<br>より稼働率の高い倉庫を<br>目指しています。
		p.expertName
			<small>倉庫部門</small> 山下 真吾
	.contWrap
		.row
			.col06
				img.pc(src="#{assets_prefix}/images/img_expert07_02.jpg")
				img.sp(src = "#{assets_prefix}/images/img_expert07_02@2x.jpg")
			.col06
				h4.colTtl 夏場の繁忙期を乗り切るために
				p 埼玉支店の倉庫部門は、サントリー貨物の入出庫・保管、車両の受付、一般貨物・販促品などの手配業務があります。その中で私は、倉庫の運営および収支・労務管理など、全体的な管理をしています。
				p 倉庫にどれだけのサントリー製品を配置するかは、在庫配置の担当者が判断しているので、常に高い庫腹率を保てるよう、倉庫の状況をまめに報告したり、倉庫に空きがあれな何か入れられるものがないか確認したりして、日頃から連携をとっています。<br>また、サントリーグループ以外の一般のお客様への改善のご提案も、定期的に行っています。
		.row
			.col06R
				img.pc(src="#{assets_prefix}/images/img_expert07_03.jpg")
				img.sp(src = "#{assets_prefix}/images/img_expert07_03@2x.jpg")
			.col06
				p 倉庫は24時間体制なので、スタッフの労務管理には一番気を配りますね。繁閑に合わせた要員配置や勤怠管理が主ですが、特に夏場の繁忙期は閑散期の倍以上の入出庫があり、現場も内勤もどうしてもバタバタしてしまいます。普段以上にスタッフを観察して１人１人の様子を把握しておくようにしています。中でも現場のメンバーはシャイな人が多いので、朝・昼・晩と、なるべく倉庫内に足を運んでコミュニケーションをとるようにしています。毎回、繁忙期を乗り超えられたときは、やりきってくれたメンバーに感謝の気持ちがわいてきますね。私自身のやりがいでもあります。

		.row
			.col06
				img.pc(src="#{assets_prefix}/images/img_expert07_04.jpg")
				img.sp(src = "#{assets_prefix}/images/img_expert07_04@2x.jpg")
			.col06
				h4.colTtl 稼働率を上げて、もっと活発な倉庫へ
				p サントリーロジスティクスの強みは、何かあったときに助け合えるところです。必ず周りで誰かが見ていてフォローしてくれるので、安心して働けるんじゃないかと思いますね。困難も全員で乗り切ろうとする会社です。
				p 2015年にこの倉庫に移転してきて、私自身も、倉庫のメンバーもようやく慣れてきました。<br>埼玉支店の倉庫は、サントリーの営業倉庫としては全国トップクラスの取扱数量を誇ります。安全面の強化にも力を入れて頑張っているので、いつもメンバーには「自信を持って取り組もう！」と伝えています。
				p より効率のいい入出庫ができるように体制も変更したので、これからもっともっと稼働率をあげて、活発な倉庫にしていきたいですね。今いるメンバーの能力なら、まだまだ対応できる実力があると思っています。
		include _inc_expert_list

	.contNav
		.contNavTtl サントリーロジスティクスの強み
		.contNavSubttl ADVANTAGE
		nav
			ul
				li
					a
						span 高効率な<br>輸配送
				li
					a
						span 物流品質
				li
					a
						span 物流提案力
				li
					a
						span 物流を支える<br>エキスパート<br>たち



