extends ../../layout.jade
//各ページごとOGPの設定
//共通設定を使う場合はblockごと削除
block ogp
	-
		var ogp = {
			'title':'test',
			'description':'test',
			'url':'test',
			'image':'test',
			'siteName':'test',
			'lang':'test',
			'fbid':'test',
			'fbid':'test'
		}
//各ページごとmetaの設定
//共通設定を使う場合はblockごと削除
block meta
	-
		var meta = {
			title:'倉庫部門 南陽一 - 物流を支えるエキスパートたち - サントリーロジスティクスの強み',
			desc:'de',
			key:'キーワード'
		}
//各ページごとbody classの設定
//複数設定したい場合は半角スペース区切り
//共通設定を使う場合はblockごと削除
//※削除した場合は「lower」が付与される
block slug
	- slug = ''

block pageTtl
	.contHeader
		.contHeaderInner
			h1.contHeaderTtl サントリーロジスティクスの強み
			p.contHeaderSubttl ADVANTAGE
			ul.breadcrumbs
				li <a href="#{assets_prefix}">ホーム</a>
				li <a href="#{assets_prefix}advantage/">強み</a>
				li <a href="#{assets_prefix}advantage/expert/">物流を支えるエキスパートたち</a>
				li 倉庫部門 南陽一
block contents
	.pageHeader
		h2.pageHeaderTtl 物流を支えるエキスパートたち
	.mvPage.mvPageExpert
		img.pc(src = "#{assets_prefix}/images/img_expert08_01.jpg")
		img.sp(src = "#{assets_prefix}/images/img_expert08_01_sp.jpg")
		h3.expertTtl 安全を第一に、常に先読みして<br>効率のいい作業を<br>心がけています。
		p.expertName
			<small>倉庫部門</small> 南陽一
	.contWrap
		.row
			.col06
				img.pc(src="#{assets_prefix}/images/img_expert08_02.jpg")
				img.sp(src = "#{assets_prefix}/images/img_expert08_02@2x.jpg")
			.col06
				h4.colTtl 瞬時の判断が効率に繋がる
				p 私は埼玉支店でフォークマンとして、荷下ろしや格納など倉庫内での作業を担当しています。<br>仕事の流れを簡単に説明すると、倉庫に到着したトラックを誘導し、入荷検品をして予定通りの荷物が届いたことを確認したら、トラックから荷物を下ろして格納するのですが、この時大切なのが、「どこに格納するのか」と、「どこに誘導するのか」の判断です。
		.row
			.col06R
				img.pc(src="#{assets_prefix}/images/img_expert08_03.jpg")
				img.sp(src = "#{assets_prefix}/images/img_expert08_03@2x.jpg")
			.col06
				p 「荷物をどこに格納するのか」に関しては、トラックが倉庫に到着すると受付からどんな荷物が届いたのか無線で連絡がくるので、それを聞いて瞬時に判断しています。なるべく無駄な動きを抑えられるよう、届いたその荷物のことだけでなく他にどんな荷物が届くのか、翌日の入庫予定はどうなっているのかまでを把握しておくよう気をつけています。<br>「トラックをどこに誘導するのか」については、誘導した場所から格納する場所までが遠ければ、それだけ積み下ろしに時間がかかってしまい時間のロスになります。後から来るトラックを待機させてしまうことにもつながり、効率が悪くなってしまうので、とても重要なのです。<br>特に繁忙期になると、トラックの台数も荷物も大幅に増えるため、普段以上に効率のいい作業が不可欠なので、フォークマン同士で連携して乗り越えています。

		.row
			.col06
				img.pc(src="#{assets_prefix}/images/img_expert08_04.jpg")
				img.sp(src = "#{assets_prefix}/images/img_expert08_04@2x.jpg")
			.col06
				h4.colTtl どんなに忙しくても安全を優先
				p 一番大切にしているのは、安全面です。どんなに忙しくても安全を優先して、お互いの声かけや指さし確認を徹底して行っています。<br>週に1度は、安全推進部による巡回があります。以前は指摘事項もありましたが、「安全が仕事の要」　ということを繰り返し唱えられるうちに意識が変わり、今はもう１人１人の安全への意識がとても高いですね。
				p 常に次の工程を考えながら作業しているのですが、イメージ通り無駄なく作業できたときは、すごく達成感を感じますね。この仕事はすごくやりがいがあって楽しいですし、自分に向いていると感じています。<br>運営面でも安全面でも、もっとよくしていけると思うので、そのために気づいたことはみんなで変えていきたいです。与えられた仕事をきっちりとこなすことはもちろん、それ以上に自分に何ができるかを考えていきたいですね。
		include _inc_expert_list

	.contNav
		.contNavTtl サントリーロジスティクスの強み
		.contNavSubttl ADVANTAGE
		nav
			ul
				li
					a
						span 高効率な<br>輸配送
				li
					a
						span 物流品質
				li
					a
						span 物流提案力
				li
					a
						span 物流を支える<br>エキスパート<br>たち



