extends ../../layout.jade
//各ページごとOGPの設定
//共通設定を使う場合はblockごと削除
block ogp
	-
		var ogp = {
			'title':'test',
			'description':'test',
			'url':'test',
			'image':'test',
			'siteName':'test',
			'lang':'test',
			'fbid':'test',
			'fbid':'test'
		}
//各ページごとmetaの設定
//共通設定を使う場合はblockごと削除
block meta
	-
		var meta = {
			title:'安全推進部 鵜川誠 - 物流を支えるエキスパートたち - サントリーロジスティクスの強み',
			desc:'de',
			key:'キーワード'
		}
//各ページごとbody classの設定
//複数設定したい場合は半角スペース区切り
//共通設定を使う場合はblockごと削除
//※削除した場合は「lower」が付与される
block slug
	- slug = ''

block pageTtl
	.contHeader
		.contHeaderInner
			h1.contHeaderTtl サントリーロジスティクスの強み
			p.contHeaderSubttl ADVANTAGE
			ul.breadcrumbs
				li <a href="#{assets_prefix}">ホーム</a>
				li <a href="#{assets_prefix}advantage/">強み</a>
				li <a href="#{assets_prefix}advantage/expert/">物流を支えるエキスパートたち</a>
				li 安全推進部 鵜川誠
block contents
	.pageHeader
		h2.pageHeaderTtl 物流を支えるエキスパートたち
	.mvPage.mvPageExpert
		img.pc(src = "#{assets_prefix}/images/img_expert02_01.jpg")
		img.sp(src = "#{assets_prefix}/images/img_expert02_01_sp.jpg")
		h3.expertTtl すべては安全のために。<br>信念を持って<br>取り組んでいます。
		p.expertName
			<small>安全推進部</small> 鵜川誠
	.contWrap
		.row
			.col06
				img.pc(src="#{assets_prefix}/images/img_expert02_02.jpg")
				img.sp(src = "#{assets_prefix}/images/img_expert02_02@2x.jpg")
			.col06
				h4.colTtl コミュニケーションを大切に安全体制を強化
				p 安全推進部は社内の安全体制を強化するための部署で、具体的には、社内外向け研修の開発と実施、現場への安全巡回と改善活動提案、作業標準策定などを行っています。<br>研修はドライバー、フォークマン、現場管理者向けに、それぞれ実技と座学があります。カリキュラムは基本的には同じですが、内容は都度更新して受講者が飽きないよう工夫しています。<br>現場への巡回は様々なチェック項目があり、守られていなければ厳しいことも言わなければいけないので、普段から積極的にコミュニケーションをとって信頼関係を築けるよう心がけています。
		.row
			.col06R
				img.pc(src="#{assets_prefix}/images/img_expert02_03.jpg")
				img.sp(src = "#{assets_prefix}/images/img_expert02_03@2x.jpg")
			.col06
				p 各現場の安全担当者とは、より安全で効率のいい作業にするためにはどうすればいいか、いつも話し合っています。具体的な策として形になれば、新たな作業標準として現場や案件ごとのルールに追加し、常に改善し続けています。また、新規案件に着手する前には「先取り安全活動」として、必ず関わるメンバー全員で現場に事前調査に行くのですが、安全推進部はそこで危険箇所がないかなど安全面を細かくチェックしています。その上で、案件ごとに管理表や作業ルールを作って共有します。<br>このように、個人の感覚に頼りがちな現場の作業をルール化することで安全品質を均一にすることも、私たちの重要な任務だと思っています。

		.row
			.col06
				img.pc(src="#{assets_prefix}/images/img_expert02_04.jpg")
				img.sp(src = "#{assets_prefix}/images/img_expert02_04@2x.jpg")
			.col06
				h4.colTtl 安全への使命感のもと後進の育成にも注力
				p 私自身、ドライバーやフォークマンを経験した現場上がりの人間なので、事故なく安全に働ける環境で安心して働いてもらいたいという気持ちが強いんです。みんなの感じることや大変なこともよくわかるので、現場を知っていることは大きな強みだと思っています。でも、それに振り回されないようにしなければ、とも思っています。「安全のため」という信念を持って、ブレることのないよう日々の業務に取り組んでいます。
				p 今後は後進の育成に力を入れていきたいですね。変な表現かもしれませんが、私はいつか安全推進部がなくなればいいなと思っているんです。というのは、なくても大丈夫なぐらい安全担当者がリーダーシップをとって、各現場ごとに自発的にしっかり安全活動ができるようになれば、それが一番だと思うからです。<br>そのためにも、安全活動の意義をこれからも根気強く伝えていきたいと思います。
		include _inc_expert_list

	.contNav
		.contNavTtl サントリーロジスティクスの強み
		.contNavSubttl ADVANTAGE
		nav
			ul
				li
					a
						span 高効率な<br>輸配送
				li
					a
						span 物流品質
				li
					a
						span 物流提案力
				li
					a
						span 物流を支える<br>エキスパート<br>たち



