extends ../../layout.jade
//各ページごとOGPの設定
//共通設定を使う場合はblockごと削除
block ogp
	-
		var ogp = {
			'title':'test',
			'description':'test',
			'url':'test',
			'image':'test',
			'siteName':'test',
			'lang':'test',
			'fbid':'test',
			'fbid':'test'
		}
//各ページごとmetaの設定
//共通設定を使う場合はblockごと削除
block meta
	-
		var meta = {
			title:'輸送部門 大川正人 - 物流を支えるエキスパートたち - サントリーロジスティクスの強み',
			desc:'de',
			key:'キーワード'
		}
//各ページごとbody classの設定
//複数設定したい場合は半角スペース区切り
//共通設定を使う場合はblockごと削除
//※削除した場合は「lower」が付与される
block slug
	- slug = ''

block pageTtl
	.contHeader
		.contHeaderInner
			h1.contHeaderTtl サントリーロジスティクスの強み
			p.contHeaderSubttl ADVANTAGE
			ul.breadcrumbs
				li <a href="#{assets_prefix}">ホーム</a>
				li <a href="#{assets_prefix}advantage/">強み</a>
				li <a href="#{assets_prefix}advantage/expert/">物流を支えるエキスパートたち</a>
				li 輸送部門 大川正人
block contents
	.pageHeader
		h2.pageHeaderTtl 物流を支えるエキスパートたち
	.mvPage.mvPageExpert
		img.pc(src = "#{assets_prefix}/images/img_expert05_01.jpg")
		img.sp(src = "#{assets_prefix}/images/img_expert05_01_sp.jpg")
		h3.expertTtl 繁忙期を乗り切る配車のために<br>強固な人間関係が<br>欠かせません。
		p.expertName
			<small>輸送部門</small> 大川正人
	.contWrap
		.row
			.col06
				img.pc(src="#{assets_prefix}/images/img_expert05_02.jpg")
				img.sp(src = "#{assets_prefix}/images/img_expert05_02@2x.jpg")
			.col06
				h4.colTtl 困ったときに助け合える人間関係を大切に
				p 私は神奈川支店で、首都圏を中心にサントリー貨物およびサントリー以外の一般貨物の、輸配送の集車・配車業務を行っています。
				p 飲料の輸送がメインなので繁忙期と閑散期の輸送量の差が激しく、車両の確保には苦労します。繁忙期に合わせると閑散期に空車が出てしまい、閑散期に合わせると繁忙期に輸送しきれないので、年間を通じて過不足なくバランスの取れた配車ができるのが理想です。

		.row
			.col06R
				img.pc(src="#{assets_prefix}/images/img_expert05_03.jpg")
				img.sp(src = "#{assets_prefix}/images/img_expert05_03@2x.jpg")
			.col06
				p そのため、協力会社さんとのコミュニケーションをとても大切にしています。実際に会うことはめったにないので、電話で「A社の車が空いているみたいだよ」「B社でこんな荷物が動いているらしいね」と毎日欠かさず情報交換しています。また、相手が車両を確保できずに困っているときには何とかして手助けできないかと奔走しますし、こちらにも「いつでも車両を貸しますよ」と言ってもらえる関係が築けていると思います。
				p 社内の若いスタッフにも日頃から繰り返し伝えているのですが、この仕事をする上で人間関係は本当に大事だと思います。会社同志のつきあいを超えて、私自身を頼ってくれているんだなと感じることも多々ありますし、そういうときは使命感に燃えてやりがいを感じますね。

		.row
			.col06
				img.pc(src="#{assets_prefix}/images/img_expert05_04.jpg")
				img.sp(src = "#{assets_prefix}/images/img_expert05_04@2x.jpg")
			.col06
				h4.colTtl ドライバーと現場の情報を共有
				p 自社ドライバーとの密なコミュニケーションも非常に大事です。私たちが現場に行くわけではないので、ここからどれだけ情報を得られるかが、その後の輸送品質を左右すると言っても過言ではありません。特に初めて輸送した工場や倉庫の場合は、庭先の状況、どのように待機してどのように荷下ろしするのか、周辺の混雑状況など、事細かに聞き取ります。その内容全てを他のドライバーにも伝えて注意点を共有しています。ドライバー自身も、「今後その現場に行く自分以外のドライバーのために」という意識があるので、かなり細かい情報まで伝えてくれて非常に助かります。
				p サントリーロジスティクスのドライバーは輸送レベルが高いと評判ですね。荷主様からの信頼も厚く、指名でお仕事の依頼を頂くこともあります。安全のことはもちろん、養生に至るまで徹底していて、どんな荷物でも運べるのでこちらも安心です。
		include _inc_expert_list

	.contNav
		.contNavTtl サントリーロジスティクスの強み
		.contNavSubttl ADVANTAGE
		nav
			ul
				li
					a
						span 高効率な<br>輸配送
				li
					a
						span 物流品質
				li
					a
						span 物流提案力
				li
					a
						span 物流を支える<br>エキスパート<br>たち



