extends ../../layout.jade
//各ページごとOGPの設定
//共通設定を使う場合はblockごと削除
block ogp
	-
		var ogp = {
			'title':'test',
			'description':'test',
			'url':'test',
			'image':'test',
			'siteName':'test',
			'lang':'test',
			'fbid':'test',
			'fbid':'test'
		}
//各ページごとmetaの設定
//共通設定を使う場合はblockごと削除
block meta
	-
		var meta = {
			title:'在庫配置センター 松崎遥 - 物流を支えるエキスパートたち - サントリーロジスティクスの強み',
			desc:'de',
			key:'キーワード'
		}
//各ページごとbody classの設定
//複数設定したい場合は半角スペース区切り
//共通設定を使う場合はblockごと削除
//※削除した場合は「lower」が付与される
block slug
	- slug = ''

block pageTtl
	.contHeader
		.contHeaderInner
			h1.contHeaderTtl サントリーロジスティクスの強み
			p.contHeaderSubttl ADVANTAGE
			ul.breadcrumbs
				li <a href="#{assets_prefix}">ホーム</a>
				li <a href="#{assets_prefix}advantage/">強み</a>
				li <a href="#{assets_prefix}advantage/expert/">物流を支えるエキスパートたち</a>
				li 在庫配置センター 松崎遥
block contents
	.pageHeader
		h2.pageHeaderTtl 物流を支えるエキスパートたち
	.mvPage.mvPageExpert
		img.pc(src = "#{assets_prefix}/images/img_expert03_01.jpg")
		img.sp(src = "#{assets_prefix}/images/img_expert03_01_sp.jpg")
		h3.expertTtl 得意先様からの受注に<br>滞りなく応えるため、<br>情報収集を大切にしています。
		p.expertName
			<small>在庫配置センター</small> 松崎遥
	.contWrap
		.row
			.col06
				img.pc(src="#{assets_prefix}/images/img_expert03_02.jpg")
				img.sp(src = "#{assets_prefix}/images/img_expert03_02@2x.jpg")
			.col06
				h4.colTtl データから予測を立て適正な在庫を配置
				p コンビニやスーパーの店頭に並ぶサントリー製品の在庫を一定に保つため、製造工場から担当エリアである東北と北海道の配送センターに必要数量分の在庫を配置しています。日々の在庫状況と得意先様からの受注状況を確認しながら、受注に応えられるよう製品の移動手配を行うのですが、前年度の出荷動向や販売計画などのデータを見て数量を決めていくため、責任は重大です。在庫を切らさないようにすることは大事ですが、配置しすぎても返品に繋がってしまいます。トラックなどの数との兼ね合いも考慮しながら効率よく配置することが重要であり、難しいところです。
		.row
			.col06R
				img.pc(src="#{assets_prefix}/images/img_expert03_03.jpg")
				img.sp(src = "#{assets_prefix}/images/img_expert03_03@2x.jpg")
			.col06
				p だからこそ、自分が立てた予測が当たった時にはやりがいを感じますね。特に新商品が出るときは、製造のスケジュールが変動的だったり、予想以上の発注があったりするので、小さな情報も取りこぼさないよう気をつけています。自分が担当している商品が店頭に並んでいるのを見るとホッとしますね。また、天候状況によっても得意先様からの発注状況は変わります。さらに北海道へは船で運ぶので、気圧の影響で波が高いと出航できないんです。今までは、自分の住んでいるところの天気予報しか見ていませんでしたが、今は担当エリアのチェックが欠かせません。<br>はじめは苦労しましたが、ようやく掴めるようになってきました。

		.row
			.col06
				img.pc(src="#{assets_prefix}/images/img_expert03_04.jpg")
				img.sp(src = "#{assets_prefix}/images/img_expert03_04@2x.jpg")
			.col06
				h4.colTtl どんな困難も乗り越えられるチームワーク
				p サントリーロジスティクスの強みは、何かあっても対処できるところだと思います。トラブルが起こった時は、部署や担当関係なく集まって、みんなで同じ方向を向いて乗り越えようと動いてくれるので、すごく心強いですね。
				p また、在庫配置センターの中にも、倉庫部門や輸送部門などの現場経験者が多いのも強みの1つだと思います。私自身も以前は倉庫にいたので、普段、倉庫の方をやりとりをする時はなるべく現場が動きやすい状況を気づかうようにしています。「倉庫にいたからわかるよね」って、信頼してもらえるものうれしいですね。<br>社内には、カッコイイ女性の先輩もたくさんおられます。憧れの先輩みたいに活躍できるように、これからも頑張りたいです。
		include _inc_expert_list

	.contNav
		.contNavTtl サントリーロジスティクスの強み
		.contNavSubttl ADVANTAGE
		nav
			ul
				li
					a
						span 高効率な<br>輸配送
				li
					a
						span 物流品質
				li
					a
						span 物流提案力
				li
					a
						span 物流を支える<br>エキスパート<br>たち



