extends ../../layout.jade
//各ページごとOGPの設定
//共通設定を使う場合はblockごと削除
block ogp
	-
		var ogp = {
			'title':'test',
			'description':'test',
			'url':'test',
			'image':'test',
			'siteName':'test',
			'lang':'test',
			'fbid':'test',
			'fbid':'test'
		}
//各ページごとmetaの設定
//共通設定を使う場合はblockごと削除
block meta
	-
		var meta = {
			title:'輸送部門 中前勝也 - 物流を支えるエキスパートたち - サントリーロジスティクスの強み',
			desc:'de',
			key:'キーワード'
		}
//各ページごとbody classの設定
//複数設定したい場合は半角スペース区切り
//共通設定を使う場合はblockごと削除
//※削除した場合は「lower」が付与される
block slug
	- slug = ''

block pageTtl
	.contHeader
		.contHeaderInner
			h1.contHeaderTtl サントリーロジスティクスの強み
			p.contHeaderSubttl ADVANTAGE
			ul.breadcrumbs
				li <a href="#{assets_prefix}">ホーム</a>
				li <a href="#{assets_prefix}advantage/">強み</a>
				li <a href="#{assets_prefix}advantage/expert/">物流を支えるエキスパートたち</a>
				li 輸送部門 中前勝也
block contents
	.pageHeader
		h2.pageHeaderTtl 物流を支えるエキスパートたち
	.mvPage.mvPageExpert
		img.pc(src = "#{assets_prefix}/images/img_expert06_01.jpg")
		img.sp(src = "#{assets_prefix}/images/img_expert06_01_sp.jpg")
		h3.expertTtl 品質を守り、安全に運びきる。<br>レベルの高い仲間が誇りです。
		p.expertName
			<small>輸送部門</small> 中前勝也
	.contWrap
		.row
			.col06
				img.pc(src="#{assets_prefix}/images/img_expert06_02.jpg")
				img.sp(src = "#{assets_prefix}/images/img_expert06_02@2x.jpg")
			.col06
				h4.colTtl ドライバー全員が高い意識を持って
				p トレーラー乗務員として、主にサントリーグループの製品を工場から倉庫へ運んでいます。<br>毎日仕事が終わって事務所で帰庫点呼する際に、配車担当者から翌日のルートと時間の指示をもらいます。配車担当者には、ルートに無駄があったり効率が悪いと感じたことがあれば指摘するなど、現場で感じたことは、率直に伝えるようにしています。また、行ってみて初めてわかる輸送先の敷地内の様子は、手描きの見取り図を見せて説明するようにしています。これらの情報は、他のドライバーや本部の統合配車センターとも共有することで、その後の細やかな気づかいにに繋がっていると思います。
		.row
			.col06R
				img.pc(src="#{assets_prefix}/images/img_expert06_03.jpg")
				img.sp(src = "#{assets_prefix}/images/img_expert06_03@2x.jpg")
			.col06
				p ドライバー同士では、月に1度会議をしています。サントリーロジスティクスのドライバーは、安全面でも品質管理の面でもレベルが高いという自負がありますね。協力会社の見本にならなければいけないし、各自の意識もとても高いと思います。デジタルタコグラフで運行記録を管理され成績が出されるのですが、全員が年間平均99点以上です。作業前点検の徹底はもちろん、製品を傷つけないための養生にもかなり気を配ります。他社の人からは「サンロジさんは厳しいでしょ」と言われることもありますが、やらされているという感覚の人はいませんし、会社をよくするためには現場がきちんとしなければいけないと、みんなが同じ方向を向いていると思いますね。

		.row
			.col06
				img.pc(src="#{assets_prefix}/images/img_expert06_04.jpg")
				img.sp(src = "#{assets_prefix}/images/img_expert06_04@2x.jpg")
			.col06
				h4.colTtl 社会を支えているという充実感を胸に
				p トラックドライバーは日本の物流には不可欠な存在だと思います。日々の仕事は単調で決して目立つ仕事ではありませんが、スーパーやコンビニで当たり前のように並んでいる商品もトラックで運ばれているからこそ。社会を支えているという充実感がドライバーならではのやりがいです。逆に、自分が普段運んでいる製品を持ってレジに並んでいる人を見かけると、思わず「ありがとう」と声をかけてしまいそうになります（笑）。買ってくれる人がいるおかげで運ぶことができるんだ、という感謝の気持ちも常にありますね。
				p 忘れられない出来事があります。2011年3月11日に東日本大震災が発生した翌日、緊急輸送で合計15時間かけて山形のお客様に水を届けたときのことです。「こんな大変な時に、遠くまで運んできてくれてありがとう、ありがとう」と何度も感謝されたことが印象深く、今も思い出します。震災直後は無力さを感じることもありましたが、少しでも人の役に立ててよかったと感じることができました。
		include _inc_expert_list

	.contNav
		.contNavTtl サントリーロジスティクスの強み
		.contNavSubttl ADVANTAGE
		nav
			ul
				li
					a
						span 高効率な<br>輸配送
				li
					a
						span 物流品質
				li
					a
						span 物流提案力
				li
					a
						span 物流を支える<br>エキスパート<br>たち



