extends ../../layout.jade
//各ページごとOGPの設定
//共通設定を使う場合はblockごと削除
block ogp
	-
		var ogp = {
			'title':'test',
			'description':'test',
			'url':'test',
			'image':'test',
			'siteName':'test',
			'lang':'test',
			'fbid':'test',
			'fbid':'test'
		}
//各ページごとmetaの設定
//共通設定を使う場合はblockごと削除
block meta
	-
		var meta = {
			title:'統合配車センター 伊藤正宏 - 物流を支えるエキスパートたち - サントリーロジスティクスの強み',
			desc:'de',
			key:'キーワード'
		}
//各ページごとbody classの設定
//複数設定したい場合は半角スペース区切り
//共通設定を使う場合はblockごと削除
//※削除した場合は「lower」が付与される
block slug
	- slug = ''

block pageTtl
	.contHeader
		.contHeaderInner
			h1.contHeaderTtl サントリーロジスティクスの強み
			p.contHeaderSubttl ADVANTAGE
			ul.breadcrumbs
				li <a href="#{assets_prefix}">ホーム</a>
				li <a href="#{assets_prefix}advantage/">強み</a>
				li <a href="#{assets_prefix}advantage/expert/">物流を支えるエキスパートたち</a>
				li 統合配車センター 伊藤正宏
block contents
	.pageHeader
		h2.pageHeaderTtl 物流を支えるエキスパートたち
	.mvPage.mvPageExpert
		img.pc(src = "#{assets_prefix}/images/img_expert04_01.jpg")
		img.sp(src = "#{assets_prefix}/images/img_expert04_01_sp.jpg")
		h3.expertTtl 荷主様、協力会社の間に立って<br>調整しながら、効率のいい配車を<br>実現しています。
		p.expertName
			<small>統合配車センター</small> 伊藤正宏
	.contWrap
		.row
			.col06
				img.pc(src="#{assets_prefix}/images/img_expert04_02.jpg")
				img.sp(src = "#{assets_prefix}/images/img_expert04_02@2x.jpg")
			.col06
				h4.colTtl 「情報収集」と「段取り」と「調整」が仕事の要
				p 統合配車センターでは、独自の統合配車Ⓡシステムを駆使して、サントリー貨物や一般企業様の貨物を合わせた最適配車計画を立案し、現場の配車担当者に実際の手配を依頼しています。エリアごとに担当が決まっているのですが、私は主にチームのメンバーの状況把握および管理業務を行っています。エリア担当が不在の時はプレイヤーとして配車業務を行い、繁忙期には全体を見てフォローに回ります。
		.row
			.col06R
				img.pc(src="#{assets_prefix}/images/img_expert04_03.jpg")
				img.sp(src = "#{assets_prefix}/images/img_expert04_03@2x.jpg")
			.col06
				p 繁閑の波動が大きいので貨物・車両の調整は大変ですね。この波動をいかに小さくし、平準化するかが統合配車の最大の課題です。<br>閑散期のトラック安定稼動、繁忙期の未手配削減のために、常にアンテナを張り巡らせています。特に、新商品の発売やリニューアル、キャンペーンなどの前には荷物が大量に動くので、これらの情報をいち早く入手してメンバーに共有し、集車体制を整えます。また、繁忙期前には在庫配置センターと対策を練り、メンバーがある程度計画的に業務を回せるような状況をつくっています。
				p この仕事は調整することが業務のメインなので、私は「段取りが８割」だと思っています。荷主様と協力会社の間に立って双方の希望を聞きながら物量調整や車両調整などを経て配車を完成させるのですが、段取り通りうまく配車できたときは、何とも言えない達成感がありますね。
		.row
			.col06
				img.pc(src="#{assets_prefix}/images/img_expert04_04.jpg")
				img.sp(src = "#{assets_prefix}/images/img_expert04_04@2x.jpg")
			.col06
				h4.colTtl 「やってみなはれ」の精神でトライできる環境
				p 以前は南大阪支店で配車業務を担当していました。その時の経験から「現場からどんなことが求められているか」「どんなことが嫌がられるか」がわかるので、その辺りに配慮しながら効率のいい配車を組めるよう、チームのメンバーにアドバイスしています。
				p サントリーロジスティクスは若いメンバーも多く、とにかく元気で明るい職場です。役職や年齢に関係なく挑戦する機会が与えられ、若くても「やってみなはれ」の精神で様々なことにトライできる環境が整っています。もちろん上司や先輩がしっかりフォローしてくれます。そんなチーム力も強みですね。
				p 私自身も、重要な会議に参加させてもらったり、意見を言える機会を与えてもらったりと、様々なことをどんどん任せてもらえるので、大きなやりがいを感じています。

		include _inc_expert_list

	.contNav
		.contNavTtl サントリーロジスティクスの強み
		.contNavSubttl ADVANTAGE
		nav
			ul
				li
					a
						span 高効率な<br>輸配送
				li
					a
						span 物流品質
				li
					a
						span 物流提案力
				li
					a
						span 物流を支える<br>エキスパート<br>たち



