extends ../../layout.jade
//各ページごとOGPの設定
//共通設定を使う場合はblockごと削除
block ogp
	-
		var ogp = {
			'title':'test',
			'description':'test',
			'url':'test',
			'image':'test',
			'siteName':'test',
			'lang':'test',
			'fbid':'test',
			'fbid':'test'
		}
//各ページごとmetaの設定
//共通設定を使う場合はblockごと削除
block meta
	-
		var meta = {
			title:'営業部 齋藤玉樹 - 物流を支えるエキスパートたち - サントリーロジスティクスの強み',
			desc:'de',
			key:'キーワード'
		}
//各ページごとbody classの設定
//複数設定したい場合は半角スペース区切り
//共通設定を使う場合はblockごと削除
//※削除した場合は「lower」が付与される
block slug
	- slug = ''

block pageTtl
	.contHeader
		.contHeaderInner
			h1.contHeaderTtl サントリーロジスティクスの強み
			p.contHeaderSubttl ADVANTAGE
			ul.breadcrumbs
				li <a href="#{assets_prefix}">ホーム</a>
				li <a href="#{assets_prefix}advantage/">強み</a>
				li <a href="#{assets_prefix}advantage/expert/">物流を支えるエキスパートたち</a>
				li 営業部 齋藤玉樹
block contents
	.pageHeader
		h2.pageHeaderTtl 物流を支えるエキスパートたち
	.mvPage.mvPageExpert
		img.pc(src = "#{assets_prefix}/images/img_expert01_01.jpg")
		img.sp(src = "#{assets_prefix}/images/img_expert01_01_sp.jpg")
		h3.expertTtl “効率化”という<br>付加価値を生み出す<br>ご提案を、心がけています。
		p.expertName
			<small>営業部</small> 齋藤玉樹
	.contWrap
		.row
			.col06
				img.pc(src="#{assets_prefix}/images/img_expert01_02.jpg")
				img.sp(src = "#{assets_prefix}/images/img_expert01_02@2x.jpg")
			.col06
				h4.colTtl お客様にとってベストな改善策をご提案
				p 営業部では、サントリーグループの調達物流から製品の小口物流まで、あらゆる物流インフラを整備することで包括的なコスト改善に繋げられるよう、改善提案型の営業活動を行っています。<br>飲料製品以外にも様々な貨物を取り扱っており、一般のお客様に対しては、サントリーグループで培った高い安全品質を元に、単なるコスト削減の追求ではなく、“効率化”という付加価値を生み出すサービスを提供しています。
		.row
			.col06R
				img.pc(src="#{assets_prefix}/images/img_expert01_03.jpg")
				img.sp(src = "#{assets_prefix}/images/img_expert01_03@2x.jpg")
			.col06
				p よりよいサービスを提供するためには、ニーズをお聞きした上で、お客様の視点に立って事業プロセス全体を把握し、課題の本質や改善の落としどころを見極めることが重要です。しかし、物流業務は事業部ごとに最適化されていることが多く、交渉先が多岐にわたり、その分考え方も多様なので、苦労することもあります。様々なプロセスで粘り強い交渉を続け、そのお客様にとってベストな方法を探り、実現していただけるよう努めています。
				p また近年、物流環境が大きく変化する中、物流従事者の確保が最重要課題であると捉え、“車両台数の削減”や“重筋作業削減”など「労働環境整備や改善」に繋がるご提案を心がけています。

		.row
			.col06
				img.pc(src="#{assets_prefix}/images/img_expert01_04.jpg")
				img.sp(src = "#{assets_prefix}/images/img_expert01_04@2x.jpg")
			.col06
				h4.colTtl 「結束力」を武器に、個々の能力を発揮
				p よく他社の方から「サンロジさんは仲がいいですね」と言われます。おそらく、互いの存在が役職や部署の垣根を越えて「頼り合える仲間」になっているため、チームとしての結束力が高いのだと思います。時には議論が白熱することもありますが、本音で対話することで同じ目標や方向性を共有でき、助け合うことで個々の能力も発揮できている点が、私たちの大きな強みの1つではないでしょうか。
				p やりがいを感じられるのは、お客様にとって「頼れる存在になれた」と思えるときですね。特に、チームで一緒に取り組むことでお客様から会社としての信頼を得られたときは、本当にうれしいです。またメンバーが成長しモチベーションを上げてくれたときには、また違った喜びを感じます。長い場合だと1年がかりで提案を考え続けるようなこともありますが、困難な状況を乗り越えたときにチームのみんなで「プレミアムモルツ」で祝杯をあげる瞬間は最高ですね。
		include _inc_expert_list

	.contNav
		.contNavTtl サントリーロジスティクスの強み
		.contNavSubttl ADVANTAGE
		nav
			ul
				li
					a
						span 高効率な<br>輸配送
				li
					a
						span 物流品質
				li
					a
						span 物流提案力
				li
					a
						span 物流を支える<br>エキスパート<br>たち



