link(rel='stylesheet', href='#{assets_prefix}css/style.css')
link(href='https://fonts.googleapis.com/earlyaccess/notosansjapanese.css', rel='stylesheet')
script(src='https://ajax.googlaeapis.com/ajax/libs/jquery/1.12.0/jquery.min.js', type='text/javascript')
