//- _f-0.jade
div.clearfix.lContents.uTopType01
  div.lContentsAreaMedia
    p.lContentsMedia
      img(src="../images/img_recruit_top01.jpg", srcset="../images/img_recruit_top01.jpg 1x, ../images/img_recruit_top01@2x.jpg 2x", alt="ロジスティクスのプロになろう", width="1366", height="650", class="pc")
      img(src="../images/img_recruit_top01_sp.jpg", alt="ロジスティクスのプロになろう", class="sp")
  div.lContentsAreaTxt
    p.lContentsTxt.fNotoTL.uShadow.fTxt20.lh1-2.ls014.mb9 どれだけ世の中が便利にな<span class="uType01">っても</span><br>必要と<span class="uType02">される仕事。</span>
    p.lContentsTtl.fNotoTL.uShadow.fTxt46.ls011.mb32.uType022 ロジステ<span class="uType02">ィクス</span><span class="uType03">の</span><br>プロ<span class="uType04">になろう</span>
    p.lContentsTxt.fNotoL.fTxt16.lh1-8
      |サントリーロジスティクスは、<br>
      |挑戦を繰り返しながら成長し続ける<br>
      |若いチカラを求めています。<br>
      |柔軟な発想力と、失敗を恐れないバイタリティで、<br>
      |物流の世界に新たな風を吹き込んでください。
div.lContentsInr
  div.clearfix.lContents.uTopType02
    div.lContentsAreaMedia
      p.lContentsMedia
        img(src="../images/img_recruit_top02.jpg", srcset="../images/img_recruit_top02.jpg 1x, ../images/img_recruit_top02@2x.jpg 2x", alt="「やってみなはれ」のチャレンジ精神で、物流の世界を動かしましょう。", width="481", height="480")
      div.lContentsMediaTxtArea
        p.lContentsMediaTxt.uType01
          span.uShadow.fNotoL.ls003 <span class="uType01">「やってみなはれ」のチャレンジ精神で、</span>
        p.lContentsMediaTxt.uType02
          span.uShadow.fNotoL.ls010 物流の世界を動かしま<span class="uType02">しょう。</span>
    a(href="./topmessage.html")
      div.lContentsAreaTxt
        p.lContentsTtl.fNotoM.fTxt24.ls011.mb5 社長メッセージ
        p.lContentsSubttl.fNotoM.fTxt16.ls010.mb20 MESSAGE
        p.lContentsTxt.fNotoM.fTxt16.lh2.ls_002.mb22
          |物流品質の向上、効率化、コスト改善、<br>
          |環境負荷低減など、成長を一緒に担ってくれる人を求めています。<br>
          |私たちと一緒に、物流の世界を動かしていきましょう。
        p.lContentsArrow
          img(src="../images/ico_arrow01.png", srcset="../images/ico_arrow01.png 1x, ../images/ico_arrow01@2x.png 2x", alt="矢印", width="24", height="24")
  div.lContents2column.clearfix
    div.lContents.uTopType03.posLeft
      div.lContentsAreaMedia
        p.lContentsMedia
          img(src="../images/img_recruit_top03.jpg", srcset="../images/img_recruit_top03.jpg 1x, ../images/img_recruit_top03@2x.jpg 2x", alt="すぐわかるサンロジ！", width="460", height="460")
        div.lContentsMediaTxtArea
          p.lContentsMediaTxt.uType01
            span.uShadow.fNotoL サントリーロジスティクスの
          p.lContentsMediaTxt.uType02
            span.uShadow.fNotoL 仕事や取り組み、人のこと、
          p.lContentsMediaTxt
            span.uShadow.fNotoL まずはサクッと知ってください。
      a(href="./infographics.html")
        div.lContentsAreaTxt
          div.lContentsAreaTxtWrap
            p.lContentsTtl.fNotoM.fTxt20.lh1-3.ls008.mb20 すぐわかる<br>サンロジ！
            p.lContentsArrow
              img(src="../images/ico_arrow01.png", srcset="../images/ico_arrow01.png 1x, ../images/ico_arrow01@2x.png 2x", alt="矢印", width="24", height="24")
    div.lContents.uTopType04.posRight
      div.lContentsAreaMedia
        p.lContentsMedia
          img(src="../images/img_recruit_top04.jpg", srcset="../images/img_recruit_top04.jpg 1x, ../images/img_recruit_top04@2x.jpg 2x", alt="人事部部長メッセージ求める人材像", width="460", height="460")
        div.lContentsMediaTxtArea
          p.lContentsMediaTxt.uType01
            span.uShadow.fNotoL 大切なのは人とのつながり。
          p.lContentsMediaTxt
            span.uShadow.fNotoL.uType02 「人間味あふれるロジスティクスのプロ」
          p.lContentsMediaTxt
            span.uShadow.fNotoL を育てます。
      a(href="./message.html")
        div.lContentsAreaTxt
          div.lContentsAreaTxtWrap
            p.lContentsTtl.fNotoM.fTxt18.ls003 人事部部長メッセージ
            p.lContentsSubttl.fNotoL.fTxt16.ls008.mb13 求める人材像
            p.lContentsArrow
              img(src="../images/ico_arrow01.png", srcset="../images/ico_arrow01.png 1x, ../images/ico_arrow01@2x.png 2x", alt="矢印", width="24", height="24")
div.clearfix.lContents.uTopType05
  div.lContentsAreaMedia
    p.lContentsMedia
      img(src="../images/img_recruit_top05.jpg", srcset="../images/img_recruit_top05.jpg 1x, ../images/img_recruit_top05@2x.jpg 2x", alt="新入社員座談会", width="1366", height="520", class="pc")
      img(src="../images/img_recruit_top05_sp.jpg", alt="新入社員座談会", class="sp")
  a(href="./crosstalk/index.html")
    div.lContentsAreaTxt
      p.lContentsTtl.fNotoL.fTxt24.ls019.mb10 新入社員座談会
      p.lContentsSubttl.fNotoL.fTxt16.ls015.mb8 CROSS TALK
      p.lContentsTxt.fNotoL.uShadow.fTxt16.ls005.lh2.mb28
        |まもなく入社から丸1年が経とうとしている<br>
        |7人の新卒社員が、今の心境を語ります。
      p.lContentsArrow
        img(src="../images/ico_arrow02.png", srcset="../images/ico_arrow02.png 1x, ../images/ico_arrow02@2x.png 2x", alt="矢印", width="24", height="24")
div.clearfix.lContents.uTopType06
  div.lContentsListWrap
    ul.lContentsList
      li.lContentsItem.uType01.fNotoL
        a(href="./system.html")
          img(src="../images/btn_recruit_top01.png", srcset="../images/btn_recruit_top01.png 1x, ../images/btn_recruit_top01@2x.png 2x", alt="研修制度", width="360", height="130")
      li.lContentsItem.uType02.fNotoL
        a(href="./fresh.html")
          img(src="../images/btn_recruit_top02.png", srcset="../images/btn_recruit_top02.png 1x, ../images/btn_recruit_top02@2x.png 2x", alt="募集要項(新卒)", width="360", height="130")
      li.lContentsItem.uType03.fNotoL
        a(href="./career.html")
          img(src="../images/btn_recruit_top03.png", srcset="../images/btn_recruit_top03.png 1x, ../images/btn_recruit_top03@2x.png 2x", alt="募集要項(中途)", width="360", height="130")