//- _f-1.jade
div.clearfix.lContents.uRecruitChildType02
  div.lContentsTtlArea
    h2.lContentsTtl.fNotoM.fTxt24.ls010.mb5 社長メッセージ
    p.lContentsSubTtl.fNotoM.fTxt16.ls015 MESSAGE
  div.lContentsMessageArea
    p.lContentsMessageMedia
      img(src="../images/img_recruit_topmessage01.jpg", srcset="../images/img_recruit_topmessage01.jpg 1x, ../images/img_recruit_topmessage01@2x.jpg 2x", alt="代表取締役社長 井上 達志", width="1100", height="500", class="pc")
      img(src="../images/img_recruit_topmessage01_sp.jpg", alt="代表取締役社長 井上 達志", class="sp")
    div.lContentsMessageWrap.sp
      h3.lContentsMessageTxt.fNotoL.fTxt34.mb45.lh1-8
        |「やってみなはれ」の<br>
        |チャレンジ精神で、<br>
        |物流の世界を動かしましょう。
      p.lContentsMessageName.fNotoM.ls015 <span>代表取締役社長</span>井上 達志
  div.lContentsInr
    div.lContentsInrWrap
      section.lContentsSec
        p.lContentsTxt.lContentsInrWrapIn
          |経済のグローバル化、情報化の進展など急速な社会の変化により、物流業界へのニーズや期待は高まる一方です。当社は、1960年の創業以来、サントリーのウイスキーやビール、ワインなどの酒類、さらにはウーロン茶や缶コーヒーをはじめとした清涼飲料などの製品の「輸送と保管」を中心に業容を拡大してきました。
      section.lContentsSec.mb65
        h3.lContentsTtl.fNotoM.fTxt22.lContentsInrWrapIn 「やってみなはれ」のチャレンジ精神が、鋭気あふれる社風の原点
        div.lContents2column
          div.lContentsColumn.lContentsAreaMedia.posLeft
            p.lContentsMedia
              img(src="../images/img_recruit_topmessage02.jpg", srcset="../images/img_recruit_topmessage02.jpg 1x, ../images/img_recruit_topmessage02@2x.jpg 2x", alt="「やってみなはれ」のチャレンジ精神が、鋭気あふれる社風の原点", width="480", height="360")
              //- img(src="../images/img_recruit_message03_sp.jpg", alt="「やってみなはれ」のチャレンジ精神が、鋭気あふれる社風の原点",class="sp")
          div.lContentsColumn.lContentsAreaTxt.posRight
            p.lContentsTxt
              |サントリー創業者・鳥井信治郎氏の言葉<br>
              |「やってみなはれ。やらなわからしまへんで」
            p.lContentsTxt
              |この「やってみなはれ」のチャレンジ精神が、私たちサントリーグループに脈々と受け継がれ、鋭気あふれる社風の原点となっています。<br>
              |私たちは、お客様からお預かりした大切な商品やお荷物をただ“運ぶ”のではなく、背景にある思いも含め“お届け”しています。そんな仕事の場でもっとも大切なのは、人とのコミュニケーション能力です。荷主、お取引先、運送会社、ドライバー、関係各所等、さまざまな人と密なコミュニケーションを重ね、信頼関係を築くことが求められます。
      section.lContentsSec
        h3.lContentsTtl.fNotoM.fTxt22.lContentsInrWrapIn.mb63 お客様にもお取引先にも、そして地球と社会の未来にも資する「結果としての成長」
        div.lContents2column
          div.lContentsColumn.lContentsAreaMedia.posRight
            p.lContentsMedia
              img(src="../images/img_recruit_topmessage03.jpg", srcset="../images/img_recruit_topmessage03.jpg 1x, ../images/img_recruit_topmessage03@2x.jpg 2x", alt="お客様にもお取引先にも、そして地球と社会の未来にも資する「結果としての成長」", width="480", height="360")
              //- img(src="../images/img_recruit_message03_sp.jpg", alt="お客様にもお取引先にも、そして地球と社会の未来にも資する「結果としての成長」", class="sp")
          div.lContentsColumn.lContentsAreaTxt.posLeft.mt0
            ul.lContentsUl
              li.lContentsLi 相手の気持ちをくみ取り、理解する洞察力
              li.lContentsLi 自分の考えや意見をきちんと伝えられるプレゼンテーション能力
              li.lContentsLi Win-Winの関係を構築する論理的調整能力
            p.lContentsTxt
              |私たちの仕事は、これらの力を鍛えつつ、企業物流という巨大な市場でお得意先と長期的に関係を深めていける仕事です。人に対して積極的でポジティブな人、自分を磨きたいと考える人にとって、これほどの充実感と達成感の得られる環境は多くはないだろうと自負しています。<br>
              |今後の展望としては、サントリーグループの製品輸送を担っているという事業優位性を強化しつつ、さらにそれ以外の領域拡大を積極的に図っていきます。目指すべきは、単なる事業拡大ではなく、物流品質の向上、効率化、コスト改善、環境負荷低減など、お客様にもお取引先にも、そして地球と社会の未来にも資する「結果としての成長」です。そのような成長を一緒に担ってくれる人材を広く求めています。私たちと一緒に、「やってみなはれ」の精神で、物流の世界を動かしていきましょう。