//- _f-1.jade
div.clearfix.lContents.uRecruitChildType02
  div.lContentsTtlArea
    h2.lContentsTtl.fNotoM.fTxt24.ls014.mb5 人事部部長メッセージ
    p.lContentsSubTtl.fNotoM.fTxt16.ls015 求める人材像
  div.lContentsMessageArea
    p.lContentsMessageMedia
      img(src="../images/img_recruit_message01.jpg", srcset="../images/img_recruit_message01.jpg 1x, ../images/img_recruit_message01@2x.jpg 2x", alt="人事部部長 志場 元", width="1100", height="500", class="pc")
      img(src="../images/img_recruit_message01_sp.jpg" , alt="人事部部長 志場 元", class="sp")
    div.lContentsMessageWrap.sp
      h3.lContentsMessageTxt.fNotoL.fTxt34.mb20.lh1-8.uShadowWhite
        |<span class="uType01">ロジスティクス</span>の仕事は、<br>
        |人と<span class="uType02">の関わりが大切。</span><br>
        |必要なのは<span class="uType03">「</span>素直さ<span class="uType04">」</span>と<span class="uType05">「</span>思いやり<span class="uType06">」。</span>
      p.lContentsMessageName.fNotoM.ls015 <span>人事部部長</span>志場 元<span>（しば　はじめ）</span>
  div.lContentsInr
    div.lContentsInrWrap
      section.lContentsSec
        p.lContentsTxt.lContentsInrWrapIn
          |サントリーロジスティクスは、ここ数年、新卒採用に力を入れ、人材育成に適した環境づくりの実現を目指してきました。当初はとにかく手探りでしたが、現場と人事部が連携をとりながら、働きやすい環境づくりとは何か試行錯誤を重ねて、徐々に体制を整えてきました。
      section.lContentsSec
        h3.lContentsTtl.fNotoM.fTxt26.lContentsInrWrapIn.mb43 「人を育てるということは、育てる側の人間が<br>“相手を気遣える人間”へと成長できる機会でもある」ということ
        div.lContents2column.mb57
          div.lContentsColumn.lContentsAreaMedia.posLeft
            p.lContentsMedia
              img(src="../images/img_recruit_message02.jpg", srcset="../images/img_recruit_message02.jpg 1x, ../images/img_recruit_message02@2x.jpg 2x", alt="「人を育てるということは、育てる側の人間が“相手を気遣える人間”へと成長できる機会でもある」ということ", width="484", height="360", class="pc")
              img(src="../images/img_recruit_message02_sp.jpg", alt="「人を育てるということは、育てる側の人間が“相手を気遣える人間”へと成長できる機会でもある」ということ", class="sp")
          div.lContentsColumn.lContentsAreaTxt.posRight
            p.lContentsTxt
              |新入社員が入社すると、仕事に関することは現場の上司や先輩社員が中心となって、しっかりと指導を行ないます。さらに、働く中で生じる疑問や悩みに関しては、現場の社員はもちろん、人事部からも丁寧にサポートし、会社全体で若手の育成に取り組んでいます。<br>
              |新卒採用、そして人材育成に精力的に取り組む中で、わたしたちは大きな気づきを得ることができました。それは、「人を育てるということは、育てる側の人間が“相手を気遣える人間”へと成長できる機会でもある」ということです。
            p.lContentsTxt
              |社員一人ひとりが人を思いやることで、人を育てる“文化”が生まれ、その文化が人と会社を一緒に成長させる“環境”を築き上げた。こうして私たちはようやく今、新しいスタートラインに立てた、という段階ではないかと感じています。
      section.lContentsSec
        h3.lContentsTtl.fNotoM.fTxt26.lContentsInrWrapIn.mb57 育てていきたいと考えているのは、人間味あふれる「ロジスティクスのプロ」
        div.lContents2column
          div.lContentsColumn.lContentsAreaMedia.posRight
            p.lContentsMedia
              img(src="../images/img_recruit_message03.jpg", srcset="../images/img_recruit_message03.jpg 1x, ../images/img_recruit_message03@2x.jpg 2x", alt="育てていきたいと考えているのは、人間味あふれる「ロジスティクスのプロ」", width="484", height="360", class="pc")
              img(src="../images/img_recruit_message03_sp.jpg" , alt="育てていきたいと考えているのは、人間味あふれる「ロジスティクスのプロ」", class="sp")
          div.lContentsColumn.lContentsAreaTxt.posLeft.mt0
            p.lContentsTxt
              |物流は、経済が動く限り、今後も需要がなくなることはないでしょう。そして今、物流には高い品質が求められます。そんな中、私たちがサービスを提供する上で最も大切にしているのは、「安全品質」です。物流の効率を高めることももちろん重要で、そのために高度なシステムは欠かせない存在ですが、高い安全性を追求しようとするとき、何よりも必要なのは、やはり「人の力」なのです。
            p.lContentsTxt
              |そこで、これから私たちが育てていきたいと考えているのは、お客様や一緒に働く仲間のことを考えて行動できる、人間味あふれる「ロジスティクスのプロ」。そのためにも、「素直」に相手の話を聞ける人、周りに「元気」を与えるようなバイタリティを持つ人、困っている人がいればすぐに声をかけられるような「配慮」ができる人を求めています。そんな人たちと一緒に、新しいサントリーロジスティクスの未来をつくっていきたいと考えています。