//- _f-3.jade
div.clearfix.lContents.uRecruitChildType01
  div.lContentsTtlArea
    h2.lContentsTtl.fNotoM.fTxt24.ls011.mb5 すぐわかるサンロジ！
    p.lContentsSubTtl.fNotoM.fTxt16.ls015 データでわかる、サンロジのこと
  div.lContentsDescriptionArea
    p.lContentsDescriptionMedia
      img(src="../images/img_recruit_infograpics01.png", srcset="../images/img_recruit_infograpics01.png 1x, ../images/img_recruit_infograpics01@2x.png 2x", alt="へぇ〜 ナルホド！ 意外?!", width="410", height="96")
    p.lContentsDescriptionTxt.fNotoTL.uType01
      |<span class="uType01">サントリーロジスティクス</span>のことを
    p.lContentsDescriptionTxt.fNotoTL.uType02
      |<span class="fNotoB">サクッ</span>とご理解<span class="uType02">いただける情報を集めてみました。</span>
div.clearfix.lContents.uRecruitChildType01.uTypeF3
  div.lContentsInfoGArea.uType01.p01
    div.lContentsInfoGAreaInr
      div.lContentsInfoGAreaTxt.posRight
        p.lContentsInfoGTtl
          img(src="../images/ttl_recruit_infograpics01.png", srcset="../images/ttl_recruit_infograpics01.png 1x, ../images/ttl_recruit_infograpics01@2x.png 2x", alt="地球 約65.5周分", width="432", height="94")
        p.lContentsInfoGTxt
          |2016年度に走行した距離の累計は約262万km。この距離は、なんと地球約65.5周分！<br>
          |たくさんのお客様の大切な製品・荷物をお届けするために、日本全国を走っています。
      div.lContentsInfoGAreaMedia.posLeft
        p.lContentsInfoGMedia
          img(src="../images/bg_recruit_infograpics01.png", srcset="../images/bg_recruit_infograpics01.png 1x, ../images/bg_recruit_infograpics01@2x.png 2x", alt="地球 約65.5周分", width="528", height="481")
  div.lContentsInfoGArea.uType02.p02
    div.lContentsInfoGAreaInr
      div.lContentsInfoGAreaTxt.posLeft
        p.lContentsInfoGTtl
          img(src="../images/ttl_recruit_infograpics02.png", srcset="../images/ttl_recruit_infograpics02.png 1x, ../images/ttl_recruit_infograpics02@2x.png 2x", alt="日本人の　1億1420万人分", width="554", height="150")
        p.lContentsInfoGTxt
          |2016年度に輸送した貨物量の合計は約627万t。<br>
          |これは、平均体重54.6kgの日本人1億1420万人分に匹敵する<br class="pc">
          |重さの荷物をお預かりしたことになります。
      div.lContentsInfoGAreaMedia.posRight
        p.lContentsInfoGMedia
          img(src="../images/bg_recruit_infograpics02.png", srcset="../images/bg_recruit_infograpics02.png 1x, ../images/bg_recruit_infograpics02@2x.png 2x", alt="日本人の　1億1420万人分", width="439", height="473")
  div.lContentsInfoGArea.uType01.p03
    div.lContentsInfoGAreaInr
      div.lContentsInfoGAreaTxt.posRight
        p.lContentsInfoGTtl
          img(src="../images/ttl_recruit_infograpics03.png", srcset="../images/ttl_recruit_infograpics03.png 1x, ../images/ttl_recruit_infograpics03@2x.png 2x", alt="多い？少ない？自社保有車両50台", width="396", height="96")
        p.lContentsInfoGTxt
          |現在サンロジは、50台の自社車両を保有しています。<br>
          |この数、多いと思いますか？それとも少ない？<br>
          |一定の自社車両を保有するのは、ノウハウを蓄積することができるから。サンロジでは輸送品質向上のために、常に検証や分析を重ねています。<br>
          |逆に、たった50台しか保有していなくても集車できる強力なネットワークがあることも、大きな強みなんです。<br>
          //- |&gt;<a href="./dummy">安全品質のページへ</a>
      div.lContentsInfoGAreaMedia.posLeft
        p.lContentsInfoGMedia
          //- img(src="../images/bg_recruit_infograpics03.png", srcset="../images/bg_recruit_infograpics03.png 1x, ../images/bg_recruit_infograpics03@2x.png 2x", alt="多い？少ない？自社保有車両50台", width="732", height="479",class="pc")
          img(src="../images/bg_recruit_infograpics03_sp.png", alt="多い？少ない？自社保有車両50台",class="sp")
  div.lContentsInfoGArea.uType02.p04
    div.lContentsInfoGAreaInr
      div.lContentsInfoGAreaTxt.posLeft
        p.lContentsInfoGTtl
          img(src="../images/ttl_recruit_infograpics04.png", srcset="../images/ttl_recruit_infograpics04.png 1x, ../images/ttl_recruit_infograpics04@2x.png 2x", alt="男女比率 男性74% 女性26% ［新卒社員］ 男性53% 女性47%", width="708", height="152",class="pc")
          img(src="../images/ttl_recruit_infograpics04_sp.png", alt="男女比率 男性74% 女性26% ［新卒社員］ 男性53% 女性47%",class="sp")
        p.lContentsInfoGTxt
          |全体の割合は男性の方が高めですが、新卒者では男女ほぼ同じ比率。物流というと何となく“男性の多い職場”とイメージされがちですが、サントリーロジスティクスでは、たくさんの女性が大活躍。出産後も働き続けられる体制を整えて、意欲ある女性をお迎えします。
        p.lContentsInfoGTxt
          |様々な職種の人同士が連携することで成り立つ物流の仕事。どの役割が欠けても、製品を無事は届けることはできません。自社の従業員はもちろんのこと、得意先を始め、輸送に関わる多様な人とのチームワークが最も大切です。息のあったチームワークのよさは、実は私たちの一番の自慢なんです。
      div.lContentsInfoGAreaTxt.posRight
        div.lContentsInfoGAreaBox
          p.lContentsInfoGAreaBoxTtl 従業員数　371人
          dl.lContentsInfoGAreaData
            dt.lContentsInfoGAreaDataTtl 役員
            dd.lContentsInfoGAreaDataTxt 1%
          dl.lContentsInfoGAreaData
            dt.lContentsInfoGAreaDataTtl 乗務職
            dd.lContentsInfoGAreaDataTxt 13%
          dl.lContentsInfoGAreaData
            dt.lContentsInfoGAreaDataTtl 管理職
            dd.lContentsInfoGAreaDataTxt 15%
          dl.lContentsInfoGAreaData
            dt.lContentsInfoGAreaDataTtl 倉庫職
            dd.lContentsInfoGAreaDataTxt 9%
          dl.lContentsInfoGAreaData
            dt.lContentsInfoGAreaDataTtl 事務職
            dd.lContentsInfoGAreaDataTxt 46%
          dl.lContentsInfoGAreaData
            dt.lContentsInfoGAreaDataTtl パート
            dd.lContentsInfoGAreaDataTxt 16%
  div.lContentsInfoGArea.uType01.p05
    div.lContentsInfoGAreaInr
      div.lContentsInfoGAreaTxt.posLeft
        p.lContentsInfoGTtl
          img(src="../images/ttl_recruit_infograpics05.png", srcset="../images/ttl_recruit_infograpics05.png 1x, ../images/ttl_recruit_infograpics05@2x.png 2x", alt="新卒定着率 97%（平成22〜29年）", width="468", height="238")
        p.lContentsInfoGTxt
          |新卒採用を開始した2010年以降、人材育成に適した環境づくりに力を入れてきました。引き続き、1人1人が生き生きと働き続けられる職場環境づくりに、会社全体で取り組んでいます。
      div.lContentsInfoGAreaTxt.posRight
        p.lContentsInfoGTtl
          img(src="../images/ttl_recruit_infograpics06.png", srcset="../images/ttl_recruit_infograpics06.png 1x, ../images/ttl_recruit_infograpics06@2x.png 2x", alt="10年連続増収！", width="324", height="98")
        p.lContentsInfoGTxt
          |2006年以降、10年連続で増収を達成。特に新卒採用を開始した2010年以降、順調に売り上げを伸ばしています。2016年度の売上高は446億円でした。
  div.lContentsInfoGArea.uType02.p06
    div.lContentsInfoGAreaInr
      div.lContentsInfoGAreaTxt.posLeft
        p.lContentsInfoGTtl
          img(src="../images/ttl_recruit_infograpics07.png", srcset="../images/ttl_recruit_infograpics07.png 1x, ../images/ttl_recruit_infograpics07@2x.png 2x", alt="全国11拠点", width="285", height="92")
        p.lContentsInfoGTxt
          |全国11拠点のネットワークを活用し、保管・入出庫業務をメインに、顧客のニーズに合わせたサービスを提供しています。<br>
          |<span>&gt;</span><a href="http://www.suntorylogistics.co.jp/network/index.html">事業所紹介ページへ</a>
      div.lContentsInfoGAreaTxt.posRight
        p.lContentsInfoGTtl
          img(src="../images/ttl_recruit_infograpics08.png", srcset="../images/ttl_recruit_infograpics08.png 1x, ../images/ttl_recruit_infograpics08@2x.png 2x", alt="創業57年", width="270", height="92")
        p.lContentsInfoGTxt
          |創業は1960年（昭和35年）、近畿運輸株式会社という社名で大阪府池田市に設立。トラックわずか2台からのスタートでした。設立当時は確固たる取引先があったわけでなく、荷主の新規開拓に弄走する毎日。そんな中、業務の付加価値を追求し続けたことが現在までの成長につながっています。
        p.lContentsInfoGMedia
          img(src="../images/bg_recruit_infograpics07.png", srcset="../images/bg_recruit_infograpics07.png 1x, ../images/bg_recruit_infograpics07@2x.png 2x", alt="創業57年", width="239", height="233")
  div.lContentsInfoGArea.uType01.p07
    div.lContentsInfoGAreaInr
      div.lContentsInfoGAreaTxt.posLeft
        p.lContentsInfoGTtl
          img(src="../images/ttl_recruit_infograpics09.png", srcset="../images/ttl_recruit_infograpics09.png 1x, ../images/ttl_recruit_infograpics09@2x.png 2x", alt="物流でエコ", width="248", height="60")
        p.lContentsInfoGTxt
          |効率的な輸送を行うことは、コストだけでなく、CO2の削減にもつながります。<br>
          |例えば…
        ul.lContentsInfoGList
          li.lContentsInfoGItem 輸送ルートの変更や複数拠点の荷物の相乗りなどを工夫する
          li.lContentsInfoGItem 必要に応じてCO2排出量が少ない鉄道・海上船舶輸送に転換する
          li.lContentsInfoGItem くり返し使用できる養生材を開発しゴミを減らす　etc…
        p.lContentsInfoGTxt
          |物流による環境への負担をできるだけ減らすことは、私たち運送会社の使命です。
      div.lContentsInfoGAreaMedia.posRight
        p.lContentsInfoGMedia
          img(src="../images/bg_recruit_infograpics08.png", srcset="../images/bg_recruit_infograpics08.png 1x, ../images/bg_recruit_infograpics08@2x.png 2x", alt="物流でエコ", width="320", height="358")
  div.lContentsInfoGArea.uType02.p08
    div.lContentsInfoGAreaInr
      div.lContentsInfoGAreaMedia.posLeft
        p.lContentsInfoGMedia
          img(src="../images/bg_recruit_infograpics09.png", srcset="../images/bg_recruit_infograpics09.png 1x, ../images/bg_recruit_infograpics09@2x.png 2x", alt="アイデアが商品", width="392", height="299")
      div.lContentsInfoGAreaTxt.posRight
        p.lContentsInfoGTtl
          img(src="../images/ttl_recruit_infograpics10.png", srcset="../images/ttl_recruit_infograpics10.png 1x, ../images/ttl_recruit_infograpics10@2x.png 2x", alt="アイデアが商品", width="432", height="78")
        p.lContentsInfoGTxt
          |物流の現場ではイレギュラーが常に起こるもの。また、さまざまなお客様の要望にどう応えていくか。現場で求められる多様な要請に、臨機応変に応じてこそ物流のプロフェッショナル。<br>
          |私たちの商品は「アイディア」と言えるのかもしれません。