//- _f-1.jade
div.clearfix.lContents.uRecruitChildType02
  div.lContentsTtlArea
    h2.lContentsTtl.fNotoM 新入社員座談会
    p.lContentsSubTtl.fNotoM CROSS TALK
  div.lContentsMessageArea
    p.lContentsMessageMedia
      img(src="../../../images/img_recruit_crosstalk04.jpg", srcset="../../../images/img_recruit_crosstalk04.jpg 1x, ../../../images/img_recruit_crosstalk04@2x.jpg 2x", alt="まもなく入社から1年。わたしたちが今の心境を語ります！", width="1100", height="248")
  div.lContentsTalkArea
    div.lContentsTalkHeader
      h4.lContentsTalkTtl <span>座談会テーマ2</span><br class="sp">「サンロジでの仕事について」
      p.lContentsTalkMedia
        img(src="../../../images/img_recruit_crosstalk05.jpg", srcset="../../../images/img_recruit_crosstalk05.jpg 1x, ../../../images/img_recruit_crosstalk05@2x.jpg 2x", alt="Q.どんなことを心がけて仕事に取り組んでいますか？", width="1366", height="360")
    div.lContentsTalkBody
      h5.lContentsTalkQuestion どんなことを心がけて仕事に取り組んでいますか？
      section.lContentsTalkSec.uType07
        p.lContentsTalkSecMedia
          img(src="../../../images/ico_recruit_crosstalk07.jpg" alt="M.Y 埼玉支店 ＜倉庫管理＞")
        p.lContentsTalkSecTxt
          |相手のことを考えて行動するように心がけています。最初は自分の伝えたいことを話すのに精一杯で、伝えたつもりでも相手に理解してもらえていないということがありました。今は何を伝えたら相手が動きやすいか、ということを考えられるようになってきました。
      section.lContentsTalkSec.uType06
        p.lContentsTalkSecMedia
          img(src="../../../images/ico_recruit_crosstalk06.jpg" alt="K.H 神奈川支店 ＜倉庫管理＞")
        p.lContentsTalkSecTxt
          |自分の仕事だけでなく、周りの状況もできるだけ把握できるように、人の電話や会話に耳を傾けるようにしています。どんな仕事が動いているのか、どこの会社とやり取りをしているのかなどを頭に入れておくことで、スムーズな電話応対ができたり、困っている人がいればサポートできることがあると思うんですよね。
      section.lContentsTalkSec.uType05
        p.lContentsTalkSecMedia
          img(src="../../../images/ico_recruit_crosstalk05.jpg" alt="N.R 埼玉支店 ＜配送管理＞")
        p.lContentsTalkSecTxt
          |ドライバーさんとの密なコミュニケーションを大切にしています。こまめに意見を聞いたり、自分なりに想像しながら、スムーズに走ってもらえるよう調整しています。
      section.lContentsTalkSec.uType03
        p.lContentsTalkSecMedia
          img(src="../../../images/ico_recruit_crosstalk03.jpg" alt="I.T 神奈川支店 ＜配送管理＞")
        p.lContentsTalkSecTxt
          |失敗をしてしまうこともありますが、経験を積んで覚えていくということしか解決策はないと思うので、同じことを繰り返さないよう、その都度、1つ1つ細かいところを勉強するようにしています。
    div.lContentsTalkHeader
      p.lContentsTalkMedia
        img(src="../../../images/img_recruit_crosstalk06.jpg", srcset="../../../images/img_recruit_crosstalk06.jpg 1x, ../../../images/img_recruit_crosstalk06@2x.jpg 2x", alt="Q.やりがいを感じるのはどんなときですか？", width="1366", height="360")
    div.lContentsTalkBody
      h5.lContentsTalkQuestion やりがいを感じるのはどんなときですか？
      section.lContentsTalkSec.uType06
        p.lContentsTalkSecMedia
          img(src="../../../images/ico_recruit_crosstalk06.jpg" alt="K.H 神奈川支店 ＜倉庫管理＞")
        p.lContentsTalkSecTxt
          |現場の人と話し合いながら入庫・出庫の指示などができるところですね。「自分が倉庫を動かしているんだ」って、実感できるんです。
      section.lContentsTalkSec.uType07
        p.lContentsTalkSecMedia
          img(src="../../../images/ico_recruit_crosstalk07.jpg" alt="M.Y 埼玉支店 ＜倉庫管理＞")
        p.lContentsTalkSecTxt
          |私はいつも荷物がちゃんと届いたとわかるまで不安なんです。途中で何かあったらどうしようって。届いたとわかったらホッと一安心。大したことじゃなくても「ありがとう」と言われると、単純にすごくうれしいですよね。
      section.lContentsTalkSec.uType01
        p.lContentsTalkSecMedia
          img(src="../../../images/ico_recruit_crosstalk01.jpg" alt="M.M 宇都宮支店 ＜倉庫管理＞")
        p.lContentsTalkSecTxt
          |自分が出荷処理を手がけたものを、実際に店頭で見かけるとうれしいです。先日も地元に帰省したときに「これだ！」って見つけて、とっても感激しました。
      section.lContentsTalkSec.uType02
        p.lContentsTalkSecMedia
          img(src="../../../images/ico_recruit_crosstalk02.jpg" alt="O.A 南大阪支店 ＜倉庫管理＞")
        p.lContentsTalkSecTxt
          |倉庫にはたくさんのサントリー製品が入ってきます。元々お酒が好きなこともあって、新しい製品が運ばれてくると「CMが流れている製品だ」とか、「これが世にでるんだ」っていうワクワク感があって楽しいです！
      section.lContentsTalkSec.uType05
        p.lContentsTalkSecMedia
          img(src="../../../images/ico_recruit_crosstalk05.jpg" alt="N.R 埼玉支店 ＜配送管理＞")
        p.lContentsTalkSecTxt
          |協力会社の方が困っておられて、サポートしたときに「ありがとう」と言ってもらえるとうれしいですね。自分が助けていただくこともしょっちゅうで、お互いにとっていい関係が築けているなと思えたとき、やりがいを感じます。
      section.lContentsTalkSec.uType04
        p.lContentsTalkSecMedia
          img(src="../../../images/ico_recruit_crosstalk04.jpg" alt="Y.K 南大阪支店 ＜配送管理＞")
        p.lContentsTalkSecTxt
          |僕も協力会社の方と親密な関係を築けたときかな。協力会社の方とは普段から気さくに話せて楽しいですね。結構プライベートな話をしてみたり。調子に乗りすぎて、たまに怒られることもありますが（笑）、すごくかわいがっていただいてます。
      section.lContentsTalkSec.uType03
        p.lContentsTalkSecMedia
          img(src="../../../images/ico_recruit_crosstalk03.jpg" alt="I.T 神奈川支店 ＜配送管理＞")
        p.lContentsTalkSecTxt
          |忙しい時期に協力会社の方から「Iさんには、この間助けてもらったから」と言ってサポートしていただけたときは、うれしかったですね。僕たちの仕事は、周りの人との関わりの中で成り立っているので、お互いに協力し合って納得のいく仕事ができたら最高ですね。
    div.lContentsTalkHeader
      p.lContentsTalkMedia
        img(src="../../../images/img_recruit_crosstalk07.jpg", srcset="../../../images/img_recruit_crosstalk07.jpg 1x, ../../../images/img_recruit_crosstalk07@2x.jpg 2x", alt="Q.仕事を通じて成長できたと感じるのはどんなときですか？", width="1366", height="360")
    div.lContentsTalkBody
      h5.lContentsTalkQuestion 仕事を通じて成長できたと感じるのはどんなときですか？
      section.lContentsTalkSec.uType05
        p.lContentsTalkSecMedia
          img(src="../../../images/ico_recruit_crosstalk05.jpg" alt="N.R 埼玉支店 ＜配送管理＞")
        p.lContentsTalkSecTxt
          |過去の失敗を活かして１人で対応できたときですね。一度、事前連絡が足りずに協力会社の方からお叱りを受け、とても反省しました。その後、同じようなケースで滞りなくやり遂げることができたとき、「N君、ちゃんとできたね」と褒めていただけて。すごくうれしかったですね。社内の先輩方はもちろん、協力業者の方々にも育てていただいてると実感します。
      section.lContentsTalkSec.uType04
        p.lContentsTalkSecMedia
          img(src="../../../images/ico_recruit_crosstalk04.jpg" alt="Y.K 南大阪支店 ＜配送管理＞")
        p.lContentsTalkSecTxt
          |学生の頃は計画的な行動が苦手で、行き当たりばったりなことが多かったのですが、物流に携わって先読みしなければならない機会が増えたことで、公私ともに計画的に考えて行動することができるようになったと思います。
      section.lContentsTalkSec.uType02
        p.lContentsTalkSecMedia
          img(src="../../../images/ico_recruit_crosstalk02.jpg" alt="O.A 南大阪支店 ＜倉庫管理＞")
        p.lContentsTalkSecTxt
          |入社当時は何でも先輩に聞いたり、指示を受けてから行動したりしていましたが、自分宛の電話がかかってきたり、問い合わせに対応したりするうちに責任感が芽生えました。毎日少しずつ自分流に工夫を重ねることで、一日で出来ることも増えてきたと思います。
      section.lContentsTalkSec.uType03
        p.lContentsTalkSecMedia
          img(src="../../../images/ico_recruit_crosstalk03.jpg" alt="I.T 神奈川支店 ＜配送管理＞")
        p.lContentsTalkSecTxt
          |何かあっても冷静に対処できるようになりました。最初は予定していないことが起こると慌ててしまって、周りに助けてもらったり困らせてしまうことが多かったのですが、今は随分慣れてきて、少し忙しくても一歩引いて状況を見ることができるようになりましたね。
      section.lContentsTalkSec.uType01
        p.lContentsTalkSecMedia
          img(src="../../../images/ico_recruit_crosstalk01.jpg" alt="M.M 宇都宮支店 ＜倉庫管理＞")
        p.lContentsTalkSecTxt
          |この1年で、社会人としての基本をしっかりと学ぶことができたと思います。宇都宮支店の先輩は、社会経験が豊富な方ばかり。言葉遣いの間違いなどは、その場ですぐに指摘してくださいます。最初は少し落ち込んだりもしましたが、経験を1年重ねるにつれて、自分の身になっているなと実感することができています。
    div.lContentsTalkFooter
      ul.lContentsTalkBtn
        li.lContentsTalkBtnItem
          a(href="index.html" , class="prev") 座談会テーマ1「就職活動について」
        li.lContentsTalkBtnItem
          a(href="society.html" , class="next") 座談会テーマ3「社会人として」

