//- _f-1.jade
div.clearfix.lContents.uRecruitChildType02
  div.lContentsTtlArea
    h2.lContentsTtl.fNotoM 新入社員座談会
    p.lContentsSubTtl.fNotoM CROSS TALK
  div.lContentsMessageArea
    p.lContentsMessageMedia
      img(src="../../../images/img_recruit_crosstalk04.jpg", srcset="../../../images/img_recruit_crosstalk04.jpg 1x, ../../../images/img_recruit_crosstalk04@2x.jpg 2x", alt="まもなく入社から1年。わたしたちが今の心境を語ります！", width="1100", height="248")
  div.lContentsTalkArea
    div.lContentsTalkHeader
      h4.lContentsTalkTtl <span>座談会テーマ3</span>「社会人として」
      p.lContentsTalkMedia
        img(src="../../../images/img_recruit_crosstalk08.jpg", srcset="../../../images/img_recruit_crosstalk08.jpg 1x, ../../../images/img_recruit_crosstalk08@2x.jpg 2x", alt="Q.休みの日はどのように過ごしていますか。", width="1366", height="360")
    div.lContentsTalkBody
      h5.lContentsTalkQuestion 休みの日はどのように過ごしていますか。
      section.lContentsTalkSec.uType02
        p.lContentsTalkSecMedia
          img(src="../../../images/ico_recruit_crosstalk02.jpg" alt="O.A 南大阪支店 ＜倉庫管理＞")
        p.lContentsTalkSecTxt
          |常に外出してますね。旅行が好きなので、休みを利用してあちこち回れるのがうれしいです！去年だけでも結構いろいろと行けましたよ。休みに関してすごく希望を言いやすい雰囲気なのでありがたいですね。
      section.lContentsTalkSec.uType04
        p.lContentsTalkSecMedia
          img(src="../../../images/ico_recruit_crosstalk04.jpg" alt="Y.K 南大阪支店 ＜配送管理＞")
        p.lContentsTalkSecTxt
          |僕も休日は活動的に過ごしていますね。よくアウトドアに出かけています。サンロジは休日にしっかり休めるのはもちろん、勤務中も働くときは集中して、休み時間はしっかり休んで、終わるときはちゃんと終われるから、生活にメリハリがつけやすいですよね。
      section.lContentsTalkSec.uType01
        p.lContentsTalkSecMedia
          img(src="../../../images/ico_recruit_crosstalk01.jpg" alt="M.M 宇都宮支店 ＜倉庫管理＞")
        p.lContentsTalkSecTxt
          |仕事ではパソコンに向かって事務処理をすることが多いので、休みの日は体を動かしてスッキリすることが多いです。ヨガにはまっていて、先輩と一緒に通っています。
      section.lContentsTalkSec.uType06
        p.lContentsTalkSecMedia
          img(src="../../../images/ico_recruit_crosstalk06.jpg" alt="K.H 神奈川支店 ＜倉庫管理＞")
        p.lContentsTalkSecTxt
          |私は平日にはなかなかできない部屋のお掃除など家のことをしたり、友人と会ったり。休みはゆっくりと過ごして、平日また頑張る、という感じですね。
      section.lContentsTalkSec.uType05
        p.lContentsTalkSecMedia
          img(src="../../../images/ico_recruit_crosstalk05.jpg" alt="N.R 埼玉支店 ＜配送管理＞")
        p.lContentsTalkSecTxt
          |僕は地元が関西で今は埼玉なので、あまり周りに知り合いがいないのですが、職場の先輩が飲みに誘ってくださったり、スノボに連れて行ってもらったりしています。年が近い先輩は特に話しやすく、趣味などの共通の話題も多いので楽しいですね。
    div.lContentsTalkHeader
      p.lContentsTalkMedia
        img(src="../../../images/img_recruit_crosstalk09.jpg", srcset="../../../images/img_recruit_crosstalk09.jpg 1x, ../../../images/img_recruit_crosstalk09@2x.jpg 2x", alt="Q.これからの目標を教えてください。", width="1366", height="360")
    div.lContentsTalkBody
      h5.lContentsTalkQuestion これからの目標を教えてください。
      section.lContentsTalkSec.uType01
        p.lContentsTalkSecMedia
          img(src="../../../images/ico_recruit_crosstalk01.jpg" alt="M.M 宇都宮支店 ＜倉庫管理＞")
        p.lContentsTalkSecTxt
          |とにかく今は、毎日の課題をきちんとこなせるようになることが一番の目標ですね。
      section.lContentsTalkSec.uType07
        p.lContentsTalkSecMedia
          img(src="../../../images/ico_recruit_crosstalk07.jpg" alt="M.Y 埼玉支店 ＜倉庫管理＞")
        p.lContentsTalkSecTxt
          |同期のみんなは自分のモチベーションにつながる存在で、すごく刺激になります。みんなが頑張ってるから自分も頑張ろうって思えるんです。みんなに負けないように頑張りたいです。
      section.lContentsTalkSec.uType04
        p.lContentsTalkSecMedia
          img(src="../../../images/ico_recruit_crosstalk04.jpg" alt="Y.K 南大阪支店 ＜配送管理＞")
        p.lContentsTalkSecTxt
          |将来的には、自分発信で色々とできるようになりたいんです。営業の仕事に興味がありますね。そのためにも、今与えられている現場の仕事をしっかりと頑張って、成長したいです。
      section.lContentsTalkSec.uType02
        p.lContentsTalkSecMedia
          img(src="../../../images/ico_recruit_crosstalk02.jpg" alt="O.A 南大阪支店 ＜倉庫管理＞")
        p.lContentsTalkSecTxt
          |サンロジには女性のマネージャーがいたり、子どもを産んだ後に復帰したり、バリバリ働き続けるカッコイイ女性の先輩がたくさんおられます。私も将来的にカッコイイ人になりたいですね、ずっと働き続けたいな。
    div.lContentsTalkHeader
      p.lContentsTalkMedia
        img(src="../../../images/img_recruit_crosstalk10.jpg", srcset="../../../images/img_recruit_crosstalk10.jpg 1x, ../../../images/img_recruit_crosstalk10@2x.jpg 2x", alt="Q.入社してから感じたサンロジの魅力はどんなところですか？", width="1366", height="360")
    div.lContentsTalkBody
      h5.lContentsTalkQuestion 入社してから感じたサンロジの魅力はどんなところですか？
      section.lContentsTalkSec.uType03
        p.lContentsTalkSecMedia
          img(src="../../../images/ico_recruit_crosstalk03.jpg" alt="I.T 神奈川支店 ＜配送管理＞")
        p.lContentsTalkSecTxt
          |たくさんの人が関わる仕事であることを自覚した上で、１人１人が自分の担当している仕事に責任を持って取り組んでいるのをすごく感じますし、そういうところが魅力だと思いますね。だからこそ、何かあったときにお互いに助け合うことができるんだと思います。
      section.lContentsTalkSec.uType04
        p.lContentsTalkSecMedia
          img(src="../../../images/ico_recruit_crosstalk04.jpg" alt="Y.K 南大阪支店 ＜配送管理＞")
        p.lContentsTalkSecTxt
          |普段は“自分のことは自分で”、という責任感のある人が多いけれど、何かトラブルがあったときはちゃんと助けてくれるんですよね。誰かがミスしても、みんなでカバーするっていう団結力は本当にすごい。仕事はもちろん大変なこともありますが、職場の雰囲気がすごくいいので毎日楽しいですね。
      section.lContentsTalkSec.uType05
        p.lContentsTalkSecMedia
          img(src="../../../images/ico_recruit_crosstalk05.jpg" alt="N.R 埼玉支店 ＜配送管理＞")
        p.lContentsTalkSecTxt
          |チームワークの良さですよね。飲料を扱っているので夏は特に忙しく、トラックの台数が足りなくて１人で頭を抱えていたとき、上司が「周りと共有して助けてもらえよ、俺も助けるから」と声をかけてくださいました。「実は困っているんです」と打ち明けたところ、皆さんが協力してくださって、おかげで乗り切ることができました。
      section.lContentsTalkSec.uType02
        p.lContentsTalkSecMedia
          img(src="../../../images/ico_recruit_crosstalk02.jpg" alt="O.A 南大阪支店 ＜倉庫管理＞")
        p.lContentsTalkSecTxt
          |相談がしやすい環境ですよね。違う部署の方でも「何かあったら言っておいで」と声をかけてくれることが多くて。風通しがいいので安心して働けています。
      section.lContentsTalkSec.uType06
        p.lContentsTalkSecMedia
          img(src="../../../images/ico_recruit_crosstalk06.jpg" alt="K.H 神奈川支店 ＜倉庫管理＞")
        p.lContentsTalkSecTxt
          |配属された直後はわからないことだらけで、じっとしてしまうことがあったんです。でも、すぐに気づいてくださって。こまめに、さりげなく「仕事順調？」と声をかけていただきました。そういう人が周りに多くて、面接のときの印象と変わらず、素敵な人の多い会社だなと思います。
      section.lContentsTalkSec.uType01
        p.lContentsTalkSecMedia
          img(src="../../../images/ico_recruit_crosstalk01.jpg" alt="M.M 宇都宮支店 ＜倉庫管理＞")
        p.lContentsTalkSecTxt
          |私も人が魅力だと思います。いつも気にかけていただいているので、１人で悩むことがないですね。飲み会も誘ってくださって、面倒をみていただいています。
      section.lContentsTalkSec.uType07
        p.lContentsTalkSecMedia
          img(src="../../../images/ico_recruit_crosstalk07.jpg" alt="M.Y 埼玉支店 ＜倉庫管理＞")
        p.lContentsTalkSecTxt
          |わからないことは色々と教えてくださるし、いつも楽しく仕事ができる環境ですね。あと、私の場合は体育会系の方が多くて気が合うのもうれしい。本当にこの会社に入ってよかったって思っています。

    //- div.lContentsTalkFooter
    //-   ul.lContentsTalkBtn
    //-     li.lContentsTalkBtnItem
    //-       a(href="work.html") 座談会テーマ2「サンロジでの仕事について」

