//- _f-1.jade
div.clearfix.lContents.uRecruitChildType02
  div.lContentsTtlArea
    h2.lContentsTtl.fNotoM 新入社員座談会
    p.lContentsSubTtl.fNotoM CROSS TALK
  div.lContentsMessageArea
    p.lContentsMessageMedia
      img(src="../../../images/img_recruit_crosstalk01.jpg", srcset="../../../images/img_recruit_crosstalk01.jpg 1x, ../../../images/img_recruit_crosstalk01@2x.jpg 2x", alt="まもなく入社から1年。わたしたちが今の心境を語ります！", width="1100", height="500", class="pc")
      img(src="../../../images/img_recruit_crosstalk01_sp.jpg", alt="まもなく入社から1年。わたしたちが今の心境を語ります！", class="sp")
    //- div.lContentsMessageWrap
    //-   h3.lContentsMessageTxt.fNotoL.uShadow.ls003
    //-     |まもなく入社から1年。<br>
    //-     |わたしたちが今の心境を語ります！
  div.lContentsStaffArea
    ul.lContentsStaffList
      li.lContentsStaffItem
        img(src="../../../images/ttl_recruit_crosstalk01.jpg", srcset="../../../images/ttl_recruit_crosstalk01.jpg 1x, ../../../images/ttl_recruit_crosstalk01@2x.jpg 2x", alt="M.M 宇都宮支店 ＜倉庫管理＞", width="248", height="150")
      li.lContentsStaffItem
        img(src="../../../images/ttl_recruit_crosstalk02.jpg", srcset="../../../images/ttl_recruit_crosstalk02.jpg 1x, ../../../images/ttl_recruit_crosstalk02@2x.jpg 2x", alt="O.A 南大阪支店 ＜倉庫管理＞", width="248", height="150")
      li.lContentsStaffItem
        img(src="../../../images/ttl_recruit_crosstalk03.jpg", srcset="../../../images/ttl_recruit_crosstalk03.jpg 1x, ../../../images/ttl_recruit_crosstalk03@2x.jpg 2x", alt="I.T 神奈川支店 ＜配送管理＞", width="248", height="150")
      li.lContentsStaffItem
        img(src="../../../images/ttl_recruit_crosstalk04.jpg", srcset="../../../images/ttl_recruit_crosstalk04.jpg 1x, ../../../images/ttl_recruit_crosstalk04@2x.jpg 2x", alt="Y.K 南大阪支店 ＜配送管理＞", width="248", height="150")
      li.lContentsStaffItem
        img(src="../../../images/ttl_recruit_crosstalk05.jpg", srcset="../../../images/ttl_recruit_crosstalk05.jpg 1x, ../../../images/ttl_recruit_crosstalk05@2x.jpg 2x", alt="N.R 埼玉支店 ＜配送管理＞", width="248", height="150")
      li.lContentsStaffItem
        img(src="../../../images/ttl_recruit_crosstalk06.jpg", srcset="../../../images/ttl_recruit_crosstalk06.jpg 1x, ../../../images/ttl_recruit_crosstalk06@2x.jpg 2x", alt="K.H 神奈川支店 ＜倉庫管理＞", width="248", height="150")
      li.lContentsStaffItem
        img(src="../../../images/ttl_recruit_crosstalk07.jpg", srcset="../../../images/ttl_recruit_crosstalk07.jpg 1x, ../../../images/ttl_recruit_crosstalk07@2x.jpg 2x", alt="M.Y 埼玉支店 ＜倉庫管理＞", width="248", height="150")
  div.lContentsTalkArea
    div.lContentsTalkHeader
      h4.lContentsTalkTtl <span>座談会テーマ1</span>「就職活動について」
      p.lContentsTalkMedia
        img(src="../../../images/img_recruit_crosstalk02.jpg", srcset="../../../images/img_recruit_crosstalk02.jpg 1x, ../../../images/img_recruit_crosstalk02@2x.jpg 2x", alt="Q.サントリーロジスティクス*に入社しようと思った理由を教えてください。", width="1366", height="360")
    div.lContentsTalkBody
      h5.lContentsTalkQuestion.mb17 サントリーロジスティクス*に入社しようと思った理由を教えてください。
      p.lContentsTalkCaution *以下サンロジ
      section.lContentsTalkSec.uType04
        p.lContentsTalkSecMedia
          img(src="../../../images/ico_recruit_crosstalk04.jpg" alt="Y.K 南大阪支店 ＜配送管理＞")
        p.lContentsTalkSecTxt
          |大学時代にマーケティング視点でサントリーという会社について学んだことがきっかけで、サントリーグループの一員として貢献したいと思うようになりました。サントリー製品を扱い、世の中になくてはならない物流という仕事に魅力を感じたんです。
      section.lContentsTalkSec.uType02
        p.lContentsTalkSecMedia
          img(src="../../../images/ico_recruit_crosstalk02.jpg" alt="O.A 南大阪支店 ＜倉庫管理＞")
        p.lContentsTalkSecTxt
          |私はドイツに留学中に、空港の倉庫を見学する機会があったのですが、日本の製品がズラっと並んでいるのを見て、「遠く離れた外国にまで運ばれてくるなんてすごい」と物流に興味を持ちました。サントリー製品には親しみがあったし、社員の皆さんがフレンドリーなところもいいなと思いました。
      section.lContentsTalkSec.uType03
        p.lContentsTalkSecMedia
          img(src="../../../images/ico_recruit_crosstalk03.jpg" alt="I.T 神奈川支店 ＜配送管理＞")
        p.lContentsTalkSecTxt
          |僕は食品宅配のアルバイトを通じて物流の仕事に興味を持ちました。いかに効率よく運べるかを考えて、通る道、食品の量や積み方を工夫するのがおもしろくて、やりがいを感じましたね。色々な会社を受けましたが、面接の時の雰囲気がよかったのも決め手でした。
      section.lContentsTalkSec.uType05
        p.lContentsTalkSecMedia
          img(src="../../../images/ico_recruit_crosstalk05.jpg" alt="N.R 埼玉支店 ＜配送管理＞")
        p.lContentsTalkSecTxt
          |僕も宅配のアルバイトを通じて、物を届ける大切さを感じたのがきっかけです。自分がミスをしてしまったことで、届く予定だった日時から遅れてしまったことがあって…。ただ届ければいいのではなく、正確に届けることの重要性を痛感しました。この時の経験と反省は今の仕事にも活きていると思いますね。
      section.lContentsTalkSec.uType07
        p.lContentsTalkSecMedia
          img(src="../../../images/ico_recruit_crosstalk07.jpg" alt="M.Y 埼玉支店 ＜倉庫管理＞")
        p.lContentsTalkSecTxt
          |私は、もともとは社会の基盤となる”商流の川上を担う産業”に興味があったのですが、段々とその産業同士を結ぶ物流にも興味を持ち始めました。会社説明会や座談会を通して、サンロジで働いている人の雰囲気が自分に合っていそうだなと感じました。
      section.lContentsTalkSec.uType01
        p.lContentsTalkSecMedia
          img(src="../../../images/ico_recruit_crosstalk01.jpg" alt="M.M 宇都宮支店 ＜倉庫管理＞")
        p.lContentsTalkSecTxt
          |私は大学で物流について学び、興味を持ちました。たくさんの企業を受けましたが、社員の方の雰囲気に惹かれ、選考が進むにつれて「この人たちと一緒に働きたい」という思いが強くなりましたね。
      section.lContentsTalkSec.uType06
        p.lContentsTalkSecMedia
          img(src="../../../images/ico_recruit_crosstalk06.jpg" alt="K.H 神奈川支店 ＜倉庫管理＞")
        p.lContentsTalkSecTxt
          |私も、説明会や面接の時の気さくな雰囲気に惹かれたのが一番の理由です。人事部の方同士のやりとりを眺めていても、普段から仲がいいんだろうなと感じたし、親切に声をかけてくださったのもうれしかったですね。
    div.lContentsTalkHeader
      p.lContentsTalkMedia
        img(src="../../../images/img_recruit_crosstalk03.jpg", srcset="../../../images/img_recruit_crosstalk03.jpg 1x, ../../../images/img_recruit_crosstalk03@2x.jpg 2x", alt="Q.学生時代にやっておいてよかったことや、逆にやっておけばよかったことはありますか？", width="1366", height="360")
    div.lContentsTalkBody
      h5.lContentsTalkQuestion 学生時代にやっておいてよかったことや、逆にやっておけばよかったことは<br class="pc">ありますか？
      section.lContentsTalkSec.uType03
        p.lContentsTalkSecMedia
          img(src="../../../images/ico_recruit_crosstalk03.jpg" alt="I.T 神奈川支店 ＜配送管理＞")
        p.lContentsTalkSecTxt
          |ずっと弓道をやっていました。礼儀に厳しかったことが社会人になってからとても役立っていると感じます。また、大学で流通の勉強をしたので、事前に知っていた言葉がいくつかあったのも役に立ちました。
      section.lContentsTalkSec.uType07
        p.lContentsTalkSecMedia
          img(src="../../../images/ico_recruit_crosstalk07.jpg" alt="M.Y 埼玉支店 ＜倉庫管理＞")
        p.lContentsTalkSecTxt
          |私は、所属していたボート部が結構厳しかったので、忍耐力には自信があります！仕事中も多少のことでは動じないですね(笑)。
      section.lContentsTalkSec.uType01
        p.lContentsTalkSecMedia
          img(src="../../../images/ico_recruit_crosstalk01.jpg" alt="M.M 宇都宮支店 ＜倉庫管理＞")
        p.lContentsTalkSecTxt
          |水泳のコーチのアルバイトをしていたのですが、指導する際は結論を先に話してから、なぜそうなるのかという順序で伝えるよう心がけていました。この話し方は、社会人になってからの上司への相談や報告電話対応やメールでも活かされていると思います。
      section.lContentsTalkSec.uType06
        p.lContentsTalkSecMedia
          img(src="../../../images/ico_recruit_crosstalk06.jpg" alt="K.H 神奈川支店 ＜倉庫管理＞")
        p.lContentsTalkSecTxt
          |私は本当にパソコンに弱くって…。もちろん入社時研修でしっかり学べますし、配属後も先輩が丁寧に教えてくださるのですが、それでも最初はちょっと苦労しましたね。
    div.lContentsTalkFooter
      ul.lContentsTalkBtn
        li.lContentsTalkBtnItem
          a(href="work.html" , class="next") 座談会テーマ2「サンロジでの仕事について」
