//- _f-5.jade
div.clearfix.lContents.uRecruitChildType01
  div.lContentsTtlArea
    h2.lContentsTtl.fNotoM.fTxt24.ls017.mb5 研修制度
    p.lContentsSubTtl.fNotoM.fTxt16.ls015 各種研修について
  div.lContentsInr
    div.lContentsInrWrap
      section.lContentsSec
        h3.lContentsTtl.fNotoM.fTxt20 階層別研修
        p.lContentsTxt
          |約2週間の入社時集合研修から始まり、その後約3カ月に1度のペースで、新入社員フォローアップ研修を1年間実施します。<br>
          |その後、役割等級に応じた階層別研修を受けていただきます。<br>
          |社会人のマナーなどからスタートし、ビジネスのキーパーソンとしての実力が習得できる設計になっています。
      section.lContentsSec
        h3.lContentsTtl.fNotoM.fTxt20 機能別研修
        p.lContentsTxt
          |各部門ごとに求められる専門知識、スキル、ノウハウを習得するために、各種研修を受講し、実務に生かしてもらいます。
      section.lContentsSec
        h3.lContentsTtl.fNotoM.fTxt20 自己啓発
        p.lContentsTxt
          |従業員自らが描くキャリアプランを実現していくために、必要なビジネススキルの習得を支援する制度で、PC研修やe-ラーニング他、グループのあらゆる研修プログラムを受講できます。
      section.lContentsSec
        h3.lContentsTtl.fNotoM.fTxt20.mb32 研修受講MAP
        h3.lContentsMedia
          img(src="../images/img_recruit_system01.png", srcset="../images/img_recruit_system01.png 1x, ../images/img_recruit_system01@2x.png 2x", alt="ロジスティクスのプロになろう", width="960", height="754", class="pc")
          img(src="../images/img_recruit_system01_sp.png" , alt="ロジスティクスのプロになろう", class="sp")