//- _f-6.jade
div.clearfix.lContents.uRecruitChildType01
  div.lContentsTtlArea
    h2.lContentsTtl.fNotoM 募集要項(キャリア)
    p.lContentsSubTtl.fNotoM キャリア採用の募集要項について
  div.lContentsInr
    div.lContentsInrWrap
      section.lContentsSec
        p.lContentsTxt
          |現在募集は行っておりません
      //- section.lContentsSec
      //-   h3.lContentsTtl.fNotoM.uType0 募集概要
      //-   div.lContentsDataWrap
      //-     dl.lContentsData.uType01
      //-       dt.lContentsDataTtl 職種
      //-       dd.lContentsDataTxt 統合配車・配送管理・倉庫管理・在庫配置・営業
      //-     dl.lContentsData.uType02.mb11
      //-       dt.lContentsDataTtl 応募資格
      //-       dd.lContentsDataTxt 大卒以上の方
      //-     dl.lContentsData.uType01
      //-       dt.lContentsDataTtl 勤務地
      //-       dd.lContentsDataTxt
      //-         |本社（大阪市北区堂島浜2-2-28 堂島アクシスビル6階）<br>
      //-         |東京支社（東京都港区元赤坂1-2-3 赤坂見附MTビル5階）<br>
      //-         |宇都宮支店（栃木県宇都宮市中岡本町2857-6）<br>
      //-         |埼玉支店（埼玉県三郷市インター南二丁目1-28）<br>
      //-         |神奈川支店（神奈川県横浜市緑区長津田町4243-1）<br>
      //-         |南大阪支店（大阪府堺市西区石津西町7-8）
      //-     dl.lContentsData.uType02.pt11.pb8
      //-       dt.lContentsDataTtl 勤務時間
      //-       dd.lContentsDataTxt
      //-         |9：00～18：00<br>
      //-         |（1ヵ月単位の変形労働時間制、1週平均労働時間40時間以内）<br>
      //-         |※担当職務や部署による差もありますが、残業時間は月平均で20～30時間ほどです。<br>
      //-         |※飲料品を扱いますので、夏は比較的忙しくなります。
      //-     dl.lContentsData.uType01
      //-       dt.lContentsDataTtl 基本給
      //-       dd.lContentsDataTxt
      //-         |●●万円～●●万円<br>
      //-         |※前職やご経験を考慮して決定します。
      //-     dl.lContentsData.uType02
      //-       dt.lContentsDataTtl 諸手当
      //-       dd.lContentsDataTxt 交通費全額支給、残業・家族・出張手当
      //-     dl.lContentsData.uType01
      //-       dt.lContentsDataTtl 昇給
      //-       dd.lContentsDataTxt
      //-         |年1回(4月)<br>
      //-         |※人事制度により設定した役割等級に応じて昇給
      //-     dl.lContentsData.uType02
      //-       dt.lContentsDataTtl 賞与
      //-       dd.lContentsDataTxt 年2回（7月・12月）
      //-     dl.lContentsData.uType01
      //-       dt.lContentsDataTtl 休日休暇
      //-       dd.lContentsDataTxt
      //-         |週休2日制（日曜、月2～3回土曜）、祝日<br>
      //-         |※配属先によって異なる場合あり<br>
      //-         |年末年始・年次有給休暇・慶弔休暇、特別休暇、リフレッシュ休暇<br>
      //-         |※年間休日118日以上（2017年度実績）
      //-     dl.lContentsData.uType02
      //-       dt.lContentsDataTtl 待遇・福利厚生<br>・社内制度
      //-       dd.lContentsDataTxt
      //-         |健康保険、厚生年金、雇用保険、労災保険<br>
      //-         |借上げ社宅制度、財形貯蓄制度、退職金制度<br>
      //-         |サントリー共済会、フィットネスクラブ法人会員<br>
      //-         |産前産後・育児・介護休業<br>
      //-         |ビジネスカジュアル可（TPOに合わせて）<br>
      //-         |職場により車通勤可<br>
      //-         |職場レクリエーション
      //-     dl.lContentsData.uType01
      //-       dt.lContentsDataTtl 応募方法
      //-       dd.lContentsDataTxt
      //-         |仕事内容等、ご不明な点がございましたら下記宛先にお問い合わせください。<br>
      //-         |サントリーロジスティクス株式会社　人事部 採用担当　<br>
      //-         |〒530-0004　大阪府大阪市北区堂島浜2-2-28 堂島アクシスビル6階<br>
      //-         |TEL：06-6345-2880　　FAX：06-6345-2885<br>
      //-         |eメール：saiyou@suntorylogistics.co.jp
      //- section.lContentsSec
        h3.lContentsTtl.fNotoM エントリー
        p.lContentsTxt
          |キャリア採用のエントリーはこちらから
        p.lContentsLinks
          a(href="./dummy")
            img(src="../images/btn_recruit01.png", srcset="../images/btn_recruit01.png 1x, ../images/btn_recruit01@2x.png 2x", alt="マイナビ2018", width="290", height="100")