//- _f-common.jade
div.clearfix.lContents.uRecruitNav
  h2.lContentsTtl.fNotoM その他の採用情報
  p.lContentsSubTtl.fNotoM Other Information
  div.lContentsListWrap
    ul.lContentsList
      li.lContentsItem.fNotoM
        a(href="/recruit/topmessage.html") <span>社長<br>メッセージ</span>
      li.lContentsItem.fNotoM
        a(href="/recruit/message.html") <span>人事部部長<br>メッセージ</span>
      li.lContentsItem.fNotoM
        a(href="/recruit/infographics.html") <span>すぐわかる<br>サンロジ！</span>
      li.lContentsItem.fNotoM
        a(href="/recruit/crosstalk/index.html") <span>新入社員<br>座談会</span>
      li.lContentsItem.fNotoM
        a(href="/recruit/system.html") <span>研修制度</span>
      li.lContentsItem.fNotoM
        a(href="/recruit/fresh.html") <span>募集要項<br>(新卒)</span>
      li.lContentsItem.fNotoM
        a(href="/recruit/career.html") <span>募集要項<br>(キャリア)</span>