@charset "UTF-8";
@import "compass";
@import "../modules/_variables.scss";
@import "mixin_common";
/* **************************************************
Layout
************************************************** */
body{
	font-family:"Noto Sans Japanese";
	font-weight:500;
	color:#444444;
}
/*------------------------------------------------------------------
header
------------------------------------------------------------------*/
.headerLower{
	&Inner{
		@extend .clearfix;
		max-width:1140px;
		margin:0 auto;
		padding:0 20px 20px;
		position: relative;
	}
}
.logo{
	padding-top: 33px;
	float: left;
	a{
		background: url(../images/icons/logo.png)left top no-repeat;
		background-size: cover;
		display: block;
		width: 256px;
		height: 70px;
		@include text_indent_none;
	}
}
.tel{
	// text-align: center;
	position: absolute;
	right:20px;
	top:10px;
	a{
		color:#66CCCC;
		font-size: 29px;
		font-weight: 600;
		letter-spacing: 0.01em;
	}
	p{
		font-size: 12px;
	}
}
.gNav{
	float: right;
	font-size: 15px;
	margin-top: 90px;
	ul{
		@extend .clearfix;
	}
	li{
		float: left;
		&:before{
			content:"";
			@include sprite_background_wh(gnav_slash);
			@include text_indent_none;
			float: left;
			margin:0 10px;
			position: relative;
			top:2px;
		}
		&:first-child:before{
			display: none;
		}
	}
	a{
		color:#444444;
	}
}
/*------------------------------------------------------------------
footer
------------------------------------------------------------------*/
.footerInner{
	max-width: 1140px;
	margin: 0 auto;
	padding:46px 20px 0px;
	@extend .clearfix;
}
.fNav{
	font-size: 14px;
	dt{
		font-weight:$Medium;
		line-height: 1.2;
		a{
			color:#067779;
		}
	}
	dd{
		font-weight:$Regular;
		a{
			color:$_font_color;
		}
	}
}
.logoFooter{
	margin-bottom: 50px;
	a{
		@include sprite_background_wh(logo_footer);
		@include text_indent_none;
		margin:0 auto;
	}
}
.colFooterL{
	float: left;
	width: 380px;
	.footerTtl{
		color:#067779;
		font-size: 22px;
		font-weight:$Medium;
		margin-bottom: 20px;
	}
	.footerInfo{
		font-size: 16px;
		margin-bottom: 70px;
	}
}
.colFooterR{
	float: right;
	width: 720px;
	.fNav{
		display: flex;
		flex-wrap:wrap;
		justify-content:space-between;
	}
	dl{
		width: 31%;
		margin-bottom: 2em;
	}
	dt{
		font-weight: $Bold;
		margin-bottom: 0.8em;
	}
	dd{
		margin-bottom: 0.5em;
	}
}
.footerTel{
	.tel-link{
		@include sprite_background_wh(img_footer_tel);
		@include text_indent_none;
		margin-bottom: 30px;
	}
}
.footerIcon{
	text-align: center;
	margin-bottom: 15px;
	li{
		display: inline-block;
		margin:0 3px;
	}
}
.footerIcon01{
	@include sprite_background_wh(img_footer_01);
	@include text_indent_none;
}
.footerIcon02{
	@include sprite_background_wh(img_footer_02);
	@include text_indent_none;
}
.footerIcon03{
	@include sprite_background_wh(img_footer_03);
	@include text_indent_none;
}
.footerLink{
	a{
		color:#333;
		font-size: 14px;
		font-weight:$Regular;
		&:first-child:after{
			content:"|";
			margin:0 10px;
		}
	}
}
.copyright{
	background:#077779;
	color:$_font_white;
	text-align: center;
	font-size: 12px;
	padding:16px 0;
}

.totop{
	position: fixed;
	right:20px;
	bottom:200px;
	z-index: 10;
	a{
		@include sprite_background_wh(totop);
		@include text_indent_none;
		z-index: 10;
		position: relative;
	}
}
/*------------------------------------------------------------------
contHeader
------------------------------------------------------------------*/
.contHeader{
	background: $_sunlogi_color;
	color:$_font_white;
	&Inner{
		max-width: 1140px;
		margin:0 auto;
		padding:0 20px;
		display: flex;
		height: 90px;
		align-items:center;
		line-height: 1;
		position: relative;
	}
	&Ttl{
		font-size: 30px;
		font-weight: $Regular;
		letter-spacing: 0.05em;
	}
	&Subttl{
		font-size: 14px;
		font-weight: $Regular;
		padding-left:15px;
		letter-spacing: 0.148em;
	}
	.breadcrumbs{
		@extend .clearfix;
		margin-left: auto;
		line-height: 1;
		font-weight: $Regular;
		a{
			color:$_font_white;
		}
		li{
			float: left;
			&:before{
				content:"";
				float: left;
				@include sprite_background_wh(arrow_breadcrumbs);
				@include text_indent_none;
				margin: 0 10px;
				position: relative;
				top:1px;
			}
			&:first-child:before{
				display: none;
				color:#444;

			}
		}
	}
}



/*------------------------------------------------------------------
pageHeader
------------------------------------------------------------------*/
.pageHeader{
	text-align: center;
	font-size: 28px;
	font-weight:$Medium;
	padding-top: 75px;
	letter-spacing: 0.2em;
	position: relative;
	margin-bottom: 50px;
	&:after{
		content:"";
		display: block;
		width: 36px;
		height: 2px;
		background:#60CCCC;
		display: block;
		margin:25px auto 0;
	}
}

/*------------------------------------------------------------------
main cont
------------------------------------------------------------------*/
.mvPage{
	margin-bottom: 60px;
	text-align: center;
	position: relative;

}

.contWrap{
	max-width: 1010px;
	padding:0 20px 80px;
	margin:0 auto;
}

.leadtext{
	font-size: 16px;
	text-align: center;
	line-height: 2;
	margin-bottom: 60px;
}

.row{
	@extend .clearfix;
	margin:0 -25px;
	.col06{
		box-sizing:border-box;
		width: 50%;
		padding:0 25px;
		float: left;
		margin-bottom: 75px;
	}

	.col06L{
		float: left;
	}
	.col06R{
		float: right;
	}

	.colTtl{
		font-size: 22px;
		color:#199292;
		margin-bottom: 30px;
	}
	p{
		line-height: 2;
		font-size: 16px;
		margin-bottom: 2em;
		font-weight: $Regular;
	}
}
/*------------------------------------------------------------------
advantage expert
------------------------------------------------------------------*/
.mvPageExpert{
	margin-bottom: 100px;
	img{
		margin:0 auto;
	}
	.expertTtl{
		color:#199292;
		font-size: 34px;
		font-weight: $Light;
		position: absolute;
		top:135px;
		left:50%;
		text-align: left;
		letter-spacing: 0.08em;
		line-height: 1.8;
		@include text-shadow(#fff 2px 2px 25px,#fff -2px 2px 25px,#fff -2px -2px 25px,#fff 2px -2px 25px);
	}
	.expertName{
		color:#525252;
		font-size: 16px;
		font-weight: $Medium;
		position: absolute;
		top:340px;

		right:50%;
		margin-right: -505px;
		text-align: left;
		letter-spacing: 0.15em;
		small{
			font-size: 14px;
		}
	}
}

.entryList{
	display: flex;
	flex-wrap:wrap;
	justify-content:space-between;
	// margin:0 -5px;
	width: 100%;
	.entry{
		// margin:0 5px;
		text-align: center;
		margin-bottom: 30px;
		&Thumb{
			margin-bottom: 10px;
			line-height: 0;
		}
		&Ttl{
			color:#199292;
			font-size: 16px;
			line-height: 1.4;
			margin-bottom: 10px;
		}
		&Text{
			font-size: 14px;
			color:#333333;
		}
	}
}

/*------------------------------------------------------------------
contNav
------------------------------------------------------------------*/
.contNav{
	text-align: center;
	padding:30px 0;
	border-bottom: 1px solid #DDDDDD;
	background:url('../images/bg_cont_nav.png') center center repeat;
	&Ttl{
		font-size: 20px;
		color:#444;
	}
	&Subttl{
		font-size: 16px;
		color:#5FCCCC;
		margin-bottom: 17px;
	}
	ul{
		display: flex;
		justify-content:center;
	}
	li{
		width: 110px;
		height: 110px;
		margin:0 10px;
		a{
			border-radius: 100%;
			display: flex;
			width: 102px;
			height: 102px;
			border:4px solid #61CCCD;
			background:#fff;
			font-size: 14px;
			line-height: 1.3;
			align-items:center;
			letter-spacing: 0;
			position: relative;
			&:hover{
				cursor: pointer;
			}
			span{
				width: 100%;
				vertical-align: middle;
			}
			&:after{
				content:"";
				@include sprite_background_wh(arrow_nav);
				@include text_indent_none;
				position: absolute;
				left:0;
				right:0;
				bottom:5px;
				margin:auto;
			}
		}
	}
}
/*------------------------------------------------------------------
advantage
------------------------------------------------------------------*/

@import 'responsive'
