.pc {
	display: none;
}
.sp {
	display: block;
}
#responsive_flg {
	display: block;
	position: absolute;
	left:-9999px;
}
body {
	-webkit-text-size-adjust: none;
	//overflow-x: hidden;
	min-width: 320px;
}
body,div,p,h1,h2,h3,h4,h5,li,a,ul,li,dl,dt,dd,#wrap,header,footer,article,section,aside{
	box-sizing:border-box;
}
img{
	max-width: 100%;
	height: auto;
}
/* ===============================================
spnav
=============================================== */
#spnavi {
	overflow: hidden;
	background: #fff;
	width: 100%;
	position: absolute;
	z-index: 2;
	top: 0;
	left:0;
	display:none;
}
.btn_sp_navi,.btn_sp_navi_wrap {
	display: inline-block;
}
.btn_sp_navi_wrap {
	position: absolute;
	top: -8px;
	right: 5px;
	text-align: center;
	a {
		text-decoration: none;
	}
	.fa-bars {
		display: inline-block;
		font-size: 38px;
		color: #009745;
	}
	span {
		display: block;
		font-size: 10px;
		text-decoration: none;
		top:-2px;
		position: relative;
		color: #009745;
	}
}
#scroller {
	padding-bottom: 80px;
}
/*------------------------------------------------------------------
header
------------------------------------------------------------------*/
.headerLower{
	&Inner{
		padding:0 10px 10px;
	}
}
.logo{
	padding-top: 18px;
	a{
		width: 128px;
		height: 35px;
		@include transition(0s);
	}
}
.gNav{
	display: none;
}
.tel{
	display: none;
}
/*------------------------------------------------------------------
footer
------------------------------------------------------------------*/
.footerInner{
	margin: 0 auto;
	padding:20px 10px 20px;
}
.logoFooter{
	margin-bottom: 16px;
	a{
		@include sprite_background_retina(logo_footer);
		@include text_indent_none;
	}
}
.colFooterL{
	float: none;
	width: 100%;
	text-align: center;
	margin:0 auto;
	.footerTtl{
		font-size: 14px;
		margin-bottom: 10px;
		display: block;
		text-align: center;
	}
	.footerInfo{
		font-size: 10px;
		margin-bottom: 20px;
		display: inline-block;
		text-align: left
	}
}
.colFooterR{
	display: none;
}
.footerTel{
	.tel-link{
		@include sprite_background_retina(img_footer_tel);
		@include text_indent_none;
		margin-bottom: 30px;
		margin:0 auto 15px;
	}
}
.footerIcon{
	margin-bottom: 5px;
}
.footerIcon01{
	@include sprite_background_retina(img_footer_01);
	@include text_indent_none;
}
.footerIcon02{
	@include sprite_background_retina(img_footer_02);
	@include text_indent_none;
}
.footerIcon03{
	@include sprite_background_retina(img_footer_03);
	@include text_indent_none;
}
.footerLink{
	text-align: center;
	a{
		font-size: 8px;
	}
}
.copyright{
	font-size: 8px;
	padding:10px 0;
}
/*------------------------------------------------------------------
contHeader
------------------------------------------------------------------*/
.contHeader{
	background: $_sunlogi_color;
	color:$_font_white;
	&Inner{
		padding:0 10px;
		height: 45px;
	}
	&Ttl{
		font-size: 15px;
	}
	&Subttl{
		font-size: 7px;
		padding-left:10px;
		padding-top: 2px;
	}
	.breadcrumbs{
		display: none;
	}
}
/*------------------------------------------------------------------
pageHeader
------------------------------------------------------------------*/
.pageHeader{
	font-size: 14px;
	padding-top: 27px;
	margin-bottom: 15px;
	&:after{
		content:"";
		display: block;
		width: 18px;
		height: 1px;
		background:#60CCCC;
		margin:15px auto 0;
	}
}
/*------------------------------------------------------------------
main cont
------------------------------------------------------------------*/
.mvPage{
	margin-bottom: 30px;
}

.contWrap{
	padding:0 10px 30px;
	margin:0 auto;
}
.leadtext{
	font-size: 12px;

	margin-bottom: 60px;
}
.row{
	margin:0px;
	.col06,
	.col06L,
	.col06R{
		box-sizing:border-box;
		width: 100%;
		padding:0px;
		float: left;
		margin-bottom: 25px;
	}

	.colTtl{
		font-size: 14px;
		color:#199292;
		margin-bottom: 20px;
	}
	p{
		line-height: 2;
		font-size: 11px;
		margin-bottom: 2em;
	}
}
/*------------------------------------------------------------------
advantage expert
------------------------------------------------------------------*/
.mvPageExpert{
	margin-bottom: 40px;
	.expertTtl{
		font-size: 17px;
		font-weight: $Light;
		position: static;
		letter-spacing: 0.08em;
		line-height: 1.8;
		padding:10px 10px 10px;
	}
	.expertName{
		font-size: 8px;
		position: static;
		margin-right: 0px;
		text-align: right;
		letter-spacing: 0.15em;
		padding:0 10px;
		small{
			font-size: 7px;
		}
	}
}

.entryList{
	width: 100%;
	.entry{
		width: 48%;
		margin:0 1% 20px;
		&Thumb{
			margin-bottom: 8px;
		}
		&Ttl{
			color:#199292;
			font-size: 11px;
			line-height: 1.4;
			margin-bottom: 5px;
		}
		&Text{
			font-size: 9px;
			color:#333333;
		}
	}
}
/*------------------------------------------------------------------
contNav
------------------------------------------------------------------*/
.contNav{
	padding:15px 0;
	&Ttl{
		font-size: 10px;
		color:#444;
	}
	&Subttl{
		font-size: 8px;
		margin-bottom: 13px;
	}
	li{
		width: 55px;
		height: 55px;
		margin:0 5px;
		a{
			width: 55px;
			height: 55px;
			border:2px solid #61CCCD;
			font-size: 8px;
			letter-spacing: 0;
			&:hover{
				cursor: pointer;
			}
			&:after{
				@include sprite_background_retina(arrow_nav);
				bottom:2px;
			}
		}
	}
}