//- _header.jade
header#header.lHeader
  div.lHeaderFixSP
    div.lHeaderInr.uType01
      div.lHeaderWrap
        h1.lHeaderTtl
          a(href="/recruit/index.html") SUNTORY LOGISTICS
        p.lHeaderBtn.is_close.js-navBtn MENU
        ul.lHeaderNav.js-navBody
          li.lHeaderItem.uSlash.fNotoM
            a(href="http://www.suntorylogistics.co.jp/", class="is_blank") サントリーロジスティクス
          li.lHeaderItem.uSlash.fNotoM
            a(href="http://www.suntorylogistics.co.jp/privacy.html", class="is_blank") 個人情報保護方針
  div.lHeaderInr.uType02
    div.lHeaderWrap
      h2.lHeaderSubttl.fNotoR 採用情報<span class="fNotoR fTxt14">RECRUIT</span>
      block breadcrumbs