//- _header.jade
extends ./block_bread
block breadcrumbs
  ul#breadcrumbs
    li.lHeaderItem
      a(href="/") ホーム
    li.lHeaderItem
      a(href="/recruit/index.html") 採用情報
    li.lHeaderItem
      a(href="/recruit/fresh.html") 募集要項(新卒)