//- _header.jade
extends ./block_bread
block breadcrumbs
  ul#breadcrumbs
    li.lHeaderItem
      a(href="/") ホーム
    li.lHeaderItem
      a(href="/recruit/index.html") 採用情報
    li.lHeaderItem
      a(href="/recruit/crosstalk/index.html") 新入社員座談会