//- _layout.jade
meta(charset="utf-8")
meta(name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=yes")
//- meta(http-equiv="X-UA-Compatible" content="IE=edge")
//- meta(http-equiv="Cache-Control" content="no-cache")
meta(name="format-detection" content="telephone=no")

meta(name="keywords" content="サントリーロジスティクス株式会社,ロジスティクス,ロジスティックス,SUNTORY,LOGISTICS,物流センター,配送,物流システム,物流会社,倉庫,運輸,3PL,物流")
meta(name="description" content="オンリーワンの価値ある物流ソリューションをお約束します。サントリーロジスティクスは、お客様が抱える課題1つ1つに向き合い、物流・3PLにおける最適な解決策をご提供いたします。")
meta(name="author" content="サントリーロジスティクス株式会社　採用サイト")
meta(name="copyright" content="© SUNTORY LOGISTICS Ltd.")
link(rel="icon" , type="image/x-icon" , href="/images/favicon.ico")
link(rel="icon" , href="/images/favicon.ico")

link(href="/style.css" , rel="stylesheet")
link(href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css" , rel="stylesheet")


script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js" , type="text/javascript")
meta(property="og:title" content="サントリーロジスティクス株式会社")
meta(property="og:site_name" content="サントリーロジスティクス株式会社")
meta(property="og:type" content="website")
meta(property="og:url" content="http://www.suntorylogistics.co.jp/")
meta(property="og:image" content="/images/img_ogp.jpg")
meta(property="og:description" content="オンリーワンの価値ある物流ソリューションをお約束します。サントリーロジスティクスは、お客様が抱える課題1つ1つに向き合い、物流・3PLにおける最適な解決策をご提供いたします。")
meta(property="og:locale" content="ja_JP")
meta(name="twitter:card" content="summary")