//- index.jade
//- extends layout

//- _layout.jade
doctype html
html(lang="ja")
  head
    include ../../includes/materials/meta_head_recruit
    title 新入社員座談会｜サントリーロジスティクス株式会社
    script(src="/js/analytics_tracking.js" , type="text/javascript")
  body#top.recruit.f4
    include ../../includes/modules/header_first_f4
    div#wrapper.clearfix
        include ../../includes/templates/f-4
        include ../../includes/templates/f-common
    include ../../includes/modules/footer_first
    script(src="/js/script.js" , type="text/javascript")