/* _base
============================ */

// ----- body
body{
  -webkit-text-size-adjust: 100%;
  color: $_font_color;
  font:12px $_font_main;
  line-height: 1.5;
  font-weight: normal;
  background-color: $_bg_color;
  width: 100%;
  word-wrap: break-word;
  @include breakpoint{
    width: 100%;
    font:20px $_font_main;
    -webkit-overflow-scrolling: touch;
  } // breakpoint
  @include breakpoint_users_max(480px){
    font:14px $_font_main;
  } // breakpoint_users_max
} // body

// ----- link
a{
  color: $_sunlogi_color;
  text-decoration: none;
  -webkit-transition: all 1s;
  transition: all 1s;
  // margin-bottom: 10px;
  &:hover{
    @include opacity(0.5);
    -webkit-transition: all 1s;
    transition: all 1s;
    // border-bottom: 1px solid $_anc_type01;
    // padding-bottom: 12px;
  } // :hover
  &.img:hover{
    border-bottom: none;
    // padding-bottom: 12px;
  } // :hover
} // a

// ----- selection
::selection {
  // background: $_sunlogi_color;
  background: $_color_acua05;
}
::-moz-selection {
  // background: $_sunlogi_color;
  background: $_color_acua05;
}

// strong
strong{
  font-weight: bold;
}

// default
.pc{
  display: block;
  @include breakpoint{
    display: none;
  } // breakpoint
} // .pc
.sp{
  display: none;
  @include breakpoint{
    display: block;
  } // breakpoint
} // .sp

// clearfix
.clearfix{
  @include pie-clearfix;
}

// hr
hr {
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  &.line{
  } // .line
}

// input reset
input, button, textarea, select {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select::-ms-expand {
  display: none;

}
