/* _cont_recruit
= INDEX =
// F-0
// F-5,6,7
// F-3
// F-1,2,4,4-1,4-2
// F-common
============================ */
// F-0
.lContentsInr{
  max-width: $_width_cont;
  margin: $_0;
  position: relative;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  @include breakpoint{
    width: 100%;
    padding: 0;
  } // breakpoint
} // .lContentsInr
.lContents2column{
  margin-bottom: 68px;
  @include breakpoint{
    margin-bottom: 1.6em;
  } // breakpoint
} // lContents2column
.lContents{
  position: relative;
  a{
    display: block;
  } // a
  &.uTopType01{
    max-width: $_width_max;
    margin: 0 auto;
    @include breakpoint{
      max-width: none;
      background: $_color_acua03;
    } // breakpoint
    .lContentsAreaMedia{
    } // .lContentsAreaMedia
    .lContentsMedia{} // .lContentsMedia
    .lContentsAreaTxt{
      color: $_font_white;
      position: absolute;
      // top: 148px;
      top: 23%;
      left: 13.5%;
      // bottom: 21%;
      @include breakpoint_users_max(1140px){
        font-size: 85%;
        left: 6%;
        transform: translateY(-50%);
        top: 50%;
        box-sizing: border-box;
        // top: auto;
        // bottom: 60px;
        // margin-top: 20px;
      } // breakpoint_users_max
      @include breakpoint{
        font-size: 100%;
        position: static;
        padding: 1.8em 6.5% 2.4em;
        // width: 88%;
        width: 100%;
        transform: translateY(0);
      } // breakpoint
      @include breakpoint_users_max(320px){
        padding: 1.8em 4.5% 2.4em;
      } // breakpoint_users_max
    } // .lContentsAreaTxt
    .lContentsTtl{
      @include breakpoint{
        font-size: 230%;
        margin-bottom: 0.6em !important;
      } // breakpoint
      @include breakpoint_users_max(480px){
        font-size: 180%;
      } // breakpoint_users_max
      &.uType022{
        line-height: 1.45;
      } //uType022
      span{
        &.uType02{
          margin-left: -7px;
          letter-spacing: 0em;
          @include breakpoint{
          } // breakpoint
        }//uType02
        &.uType03{
          font-size: 40px;
          letter-spacing: 0.18em;
          @include breakpoint{
            font-size: 90%;
          } // breakpoint
        }//uType03
        &.uType04{
          font-size: 40px;
          margin-left: 1px;
          @include breakpoint{
            font-size: 90%;
          } // breakpoint
        }//uType04
      } // span
    } // .lContentsTtl
    .lContentsTxt{
      @include breakpoint{
        @include txt12;
      } // breakpoint
      @include breakpoint_users_max(320px){
        letter-spacing: -0.1em;
      } // breakpoint_users_max
      span{
        &.uType01{
          margin-left: -4px;
          letter-spacing: 0;
          @include breakpoint{
            margin-left: 0;
          } // breakpoint
        }//uType01
        &.uType02{
          margin-left: -4px;
          letter-spacing: 0.13em;
          @include breakpoint{
            margin-left: 0;
          } // breakpoint
        }//uType02
      } // span
    } // .lContentsTxt
  } // .uTopType01
  &.uTopType02{
    width: 91%;
    margin: -53px auto 55px;
    @include breakpoint_users_max(1200px){
      margin-top: 20px;
    } // breakpoint_users_max
    @include breakpoint{
      width: 100%;
      margin: 0 auto;
    } // breakpoint
    // @include breakpoint_users(640px,768px) {
    //   height: 6.8em;
    // } // breakpoint_users_max
    .lContentsAreaMedia{
      width: 48%;
      @include fl;
      @include breakpoint{
        width: 100%;
        @include fn;
      } // breakpoint
    } // .lContentsAreaMedia
    .lContentsMediaTxt{
      margin-top: 4px;
      &.uType01{
        padding-right: 19px;
      } // uType01
      &.uType02{
        padding-right: 1px;
      } // uType02
      span{
        &.uType01{
          margin-left: -8px;
        } // uType01
        &.uType02{
          letter-spacing: 0;
          position: relative;
          left: -4px;
        } // uType02
      } // span
    } // lContentsMediaTxt
    .lContentsMediaTxtArea{
      bottom: 42px;
    } //lContentsMediaTxtArea
    a{
      position: relative;
      .lContentsAreaTxt{
        color: $_ttl_color;
        border: 6px solid $_color_acua02;
        background: $_recruit_top_cont_alpha_bg;
        width: 65%;
        position: absolute;
        right: -5%;
        top: 114px;
        text-align: center;
        padding: 51px 0 24px;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
        @include breakpoint{
          width: $_width_sp_inner;
          position: relative;
          margin: 0 auto 0.5em;;
          top: -1.7em;
          right: auto;
        } // breakpoint
      } // .lContentsAreaTxt
      .lContentsTtl{
        @include breakpoint{
          font-size: 115%;
          margin-bottom: 0.2em !important;
        } // breakpoint
      } // lContentsttl
      .lContentsSubttl{
        color: $_color_acua02;
        @include breakpoint{
          font-size: 76%;
        } // breakpoint
      } // .lContentsSubttl
      .lContentsTxt{
        color: $_font_color;
        @include breakpoint{
          font-size: 80%;
        } // breakpoint
      } // .lContentsTxt
    } // a
  } // .uTopType02
  &.uTopType03{
    width: 46.5%;
    // margin-left: 1.8%;
    @include breakpoint{
      width: 100%;
      // margin-left: 0;
    } // breakpoint
    .lContentsAreaMedia{
      width: 90%;
      @include fr;
      margin-top: 60px;
      @include breakpoint{
        @include fn;
        width: 100%;
        margin-top: 0;
      } // breakpoint
    } // lContentsAreaMedia
    .lContentsMediaTxtArea{
      bottom: 23px;
      @include breakpoint{
        bottom: 1.8em;
        width: 90%;
      } // breakpoint
    } //lContentsMediaTxtArea
    .lContentsMediaTxt{
      padding: 7px 6px 7px 16px;
      @include breakpoint{
        font-size: 113%;
        padding: 0.4em 3.5% 0.4em 3.5%;
        margin-top: 0.2em;
      } // breakpoint
      &.uType01{
        letter-spacing: 0.03em;
        padding-right: 12px;
      } // uType01
      &.uType02{
        letter-spacing: 0.02em;
        padding-right: 0px;
      } // uType01
    } //lContentsMediaTxt
    a{
      position: relative;
      .lContentsAreaTxt{
        position: absolute;
        top: 0;
        left: 0;
        color: $_ttl_color;
        border: 6px solid $_color_acua02;
        background: $_recruit_top_cont_alpha_bg;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
        width: 43%;
        text-align: center;
        // padding: 79px 0 30px;
        height: 220px;
        // max-height: 220px;
        @include breakpoint{
          width: $_width_sp_inner;
          position: relative;
          margin: 0 auto 0.5em;;
          top: -1.4em;
          right: auto;
          padding: 1.5em 0 0.8em;
          height: auto;
        } // breakpoint
      } // .lContentsAreaTxt
      .lContentsAreaTxtWrap{
        position: absolute;
        transform: translateY(-50%);
        top: 63%;
        width: 100%;
        @include breakpoint{
          transform: none;
          position: static;
          // transform: translateY(0);
        } // breakpoint
      } // lContentsAreaTxtWrap
      .lContentsTtl{
        @include breakpoint{
          font-size: 110%;
          line-height: 1.1;
          margin-bottom: 1em !important;
        } // breakpoint
      } // lContentsttl
    } // a
  } // .uTopType03
  &.uTopType04{
    width: 46.5%;
    margin-right: 0.9%;
    @include breakpoint{
      width: 100%;
      margin-right: 0;
    } // breakpoint
    .lContentsAreaMedia{
      width: 90%;
      @include fr;
      margin-top: 60px;
      @include breakpoint{
        @include fn;
        width: 100%;
        margin-top: 0;
      } // breakpoint
    } // lContentsAreaMedia
    .lContentsMediaTxtArea{
      bottom: 23px;
        width: 80%;
      @include breakpoint{
        bottom: 1.6em;
        width: 80%;
      } // breakpoint
      @include breakpoint_users_max(480px){
        font-size: 85%;
        width: 100%;
      } // breakpoint_users_max
    } //lContentsMediaTxtArea
    .lContentsMediaTxt{
      padding-left: 16px;
      @include breakpoint{
        font-size: 113%;
        padding: 0.4em 3.5% 0.4em 3.5%;
        margin-top: 0.2em;
      } // breakpoint
      &.uType01{
        letter-spacing: 0.08em;
        padding-right: 4px;
      } // uType01
      } // uType01
      span{
        &.uType02{
          margin-left: -8px;
          letter-spacing: 0.08em;
      } // span
    } //lContentsMediaTxt
    a{
      position: relative;
      .lContentsAreaTxt{
        position: absolute;
        top: 0;
        left: 0;
        color: $_ttl_color;
        border: 6px solid $_color_acua02;
        background: $_recruit_top_cont_alpha_bg;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
        width: 43%;
        text-align: center;
        // padding: 83px 0;
        height: 220px;
        // max-height: 220px;
        @include breakpoint{
          width: $_width_sp_inner;
          position: relative;
          margin: 0 auto;
          top: -1.2em;
          right: auto;
          padding: 1.7em 0 0.9em;
          height: auto;
        } // breakpoint
      } // .lContentsAreaTxt
      .lContentsAreaTxtWrap{
        position: absolute;
        transform: translateY(-50%);
        top: 63%;
        width: 100%;
        @include breakpoint{
          // position: static;
          // transform: translateY(0);
          transform: none;
          position: static;
        } // breakpoint
      } // lContentsAreaTxtWrap
      .lContentsTtl{
        @include breakpoint{
          font-size: 103%;
          line-height: 1.1;
          margin-bottom: 0.1em !important;
        } // breakpoint
      } // lContentsttl
      .lContentsSubttl{
        text-indent: 7px;
        @include breakpoint{
          font-size: 83%;
        } // breakpoint
      } // lContentsSubTtl
    } // a
  } // .uTopType04
  &.uTopType05{
    max-width: $_width_max;
    margin: 0 auto;
    @include breakpoint{
      margin-bottom: 2em;
      max-width: none;
    } // breakpoint
    a{
      position: relative;
      color: $_font_white;
      .lContentsAreaTxt{
        position: absolute;
        width: 40%;
        bottom: 38px;
        left: 8%;
        text-align: center;
        @include breakpoint_users_max(1140px){
          font-size: 85%;
          // margin-top: 20px;
        } // breakpoint_users_max
        @include breakpoint{
          font-size: 100%;
          width: 100%;
          position: static;
          background: $_color_acua03;
          padding: 1.8em 3.5% 1.7em;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
        } // breakpoint
        .lContentsTtl{
          @include breakpoint{
            font-size: 120%;
            margin-bottom: 0.4em !important;
          } // breakpoint
        } // lContentsttl
        .lContentsSubttl{
          @include breakpoint{
            font-size: 80%;
          } // breakpoint
        } // lContentsSubTtllContentsttl
        .lContentsTxt{
          @include breakpoint{
            font-size: 93%;
          } // breakpoint
          @include breakpoint_users_max(480px){
            font-size: 85%;
            // margin-top: 20px;
          } // breakpoint_users_max
        } // lContentsTxt
      } // lContentsAreaTxt
    } // a
  } // .uTopType05
  &.uTopType06{
    @include bg_image_retina(bg_dotted01, png, repeat, left, top, auto, 2px ,2px);
    padding: 47px 0;
    text-align: center;
    @include breakpoint{
      padding: 2em 0 1.8em;
    } // breakpoint
    .lContentsListWrap{
      max-width: $_width_cont;
      margin: 0 auto;
      padding: 0 18px;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
      @include breakpoint{
        max-width: none;
        padding: 0;
      } // breakpoint
    } // lContentsList
    .lContentsList{
      display: inline;
      @include breakpoint{
        display: block;
        width: $_width_sp_inner2;
        margin: 0 auto;
      } // breakpoint
    } // lContentsList
    .lContentsItem{
      width: 32.8%;
      // height: 130px;
      margin: 0 0.1%;
      display: inline-block;
      position: relative;
      max-width: 360px;
      @include breakpoint{
        width: 47.5%;
        // height: 5.3em;
        margin: 0 1% 1.5em;
        @include fl;
        max-width: none;
      } // breakpoint
      // @include breakpoint_users(480px,640px) {
      //   height: 5.5em;
      // // } // breakpoint_users_max
      @include breakpoint_users_max(480px){
        // height: 3.3em;
        margin-bottom: 0.8em;
      } // breakpoint_users_max
      a{
        // color: $_font_white;
        // @include txt19;
        // position: relative;
        // height: 100%;
        display: block;
        // @include txt_over;
        @include breakpoint{
          // font-size: 70%;
        } // breakpoint
        &:hover{
          @include opacity(0.5);
          img{
            @include opacity(0.5);
          } // img
        } // :hover
        img{
          width: 100%;
          height: auto;
        } // img
        span{
          // @include bg_image_retina(ico_arrow03, png, no-repeat, right, 48%, auto, 16px ,16px);
          // padding-right: 20px;
          // position: absolute;
          // top: 53%;
          // -webkit-transform: translateY(-50%); /* Safari用 */
          // transform: translateY(-50%);
        } // span
      } // a
      &.uType01{
        // @include bg_image_retina(btn_recruit_top01, jpg, no-repeat, left, top, 100% auto, 100% ,auto);
        a{
          span{
            // width: 72%;
            // letter-spacing: 0.2em;
            // right: 64px;
            // padding-right: 22px;
            // text-align: right;
            // @include breakpoint{
            //   right: 18%;
            // } // breakpoint
          } // span
        } //a
      } // .uType01
      &.uType02{
        // @include bg_image_retina(btn_recruit_top02, jpg, no-repeat, left, top, 100% auto, 100% ,auto);
        a{
          span{
            // width: 70%;
            // letter-spacing: 0.1em;
            // right: 29px;
            // padding-right: 20px;
            // text-align: right;
            // @include breakpoint{
            //   right: 6%;
            //   padding-right: 8%;
            // } // breakpoint
          } // span
        } //a
      } // .uType02
      &.uType03{
        // margin-right: 0;
        // @include bg_image_retina(btn_recruit_top03, jpg, no-repeat, left, top, 100% auto, 100% ,auto);
        a{
          span{
            // width: 70%;
            // letter-spacing: 0.1em;
            // right: 20px;
            // padding-right: 23px;
            // text-align: right;
            // @include breakpoint{
            //   right: 6%;
            //   padding-right: 9%;
            // } // breakpoint
          } // span
        } //a
      } // .uType03
    } // lContentsItem
  } // .uTopType06
  .lContentsAreaMedia{
    position: relative;
    width: 100%;
    @include breakpoint{
      img{
        width: 100%;
        height: auto;
      } // img
    } // breakpoint
  } // .lContentsAreaMedia
  .lContentsMedia{
    // display: flex;
    display: block;
    @include breakpoint{
      display: block;
    } // breakpoint
    img{
      width: 100%;
      height: auto;
    } // img
  } // .lContentsMedia
  .lContentsMediaTxtArea{
    position: absolute;
    bottom: 40px;
    @include breakpoint{
      bottom: 3em;
    } // breakpoint
  } //lContentsMediaTxtArea
  .lContentsMediaTxt{
    display: inline-block;
    background: $_recruit_top_message_bg;
    @include txt16;
    color: $_font_white;
    padding: 7px 10px 7px 20px;
    margin-top: 3px;
    @include breakpoint{
      font-size: 105%;
      padding: 0.5em 3.5% 0.5em 3.5%;
    } // breakpoint
  } // lContentsMediaTxt
  .lContentsAreaTxt{} // .lContentsAreaTxt
  .lContentsTtl{
    // @include breakpoint{
    //   font-size: 230%;
    //   margin-bottom: 0.6em !important;
    // } // breakpoint
  } // .lContentsTtl
  .lContentsTxt{
    @include breakpoint{
      @include txt12;
    } // breakpoint
  } // .lContentsTxt
  .lContentsSubttl{
    color: $_color_acua02;
  } // .lContentsSubttl
} // lContents

// F-5,6,7
.lContents{
  &.uRecruitChildType01{
    margin-bottom: 38px;
    .f6 &{
      margin-bottom: 12px;
      @include breakpoint{
      } // breakpoint
    } // f6
    .lContentsTtlArea{
      text-align: center;
      margin: 43px auto 75px;
      padding: 0 20px 33px;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
      max-width: $_width_cont;
      border-bottom: 2px solid $_color_acua05;
      @include breakpoint{
        width: 100%;
        margin: 2.2em auto;
        padding-bottom: 1.5em;
        max-width: none;
        padding: 0;
      } // breakpoint
      .f5 &{
        // margin: 34px auto 90px;
        // padding-bottom: 43px;
        max-width: $_width_cont_true;
        @include breakpoint{
          margin: 1.8em auto 2.5em;
          padding-bottom: 1.8em;
        } // breakpoint
      } // f5
      .f6 &{
        margin: 34px auto 90px;
        padding-bottom: 43px;
        max-width: $_width_cont_true;
        @include breakpoint{
          margin: 1.8em auto 2.5em;
          padding-bottom: 1.8em;
        } // breakpoint
        .lContentsTtl{
          letter-spacing: 0.20em;
          margin-bottom: 3px;
          @include txt24;
          @include breakpoint{
            font-size: 125%;
            letter-spacing: 0.08em;
          } // breakpoint
        } // lContentsTtl
        .lContentsSubTtl{
          @include txt16;
          letter-spacing: 0.16em;
          @include breakpoint{
            font-size: 84%;
            margin-bottom: 0.5em;
          } // breakpoint
        } // lContentsSubTtl
      } // f6
      .f7 &{
        margin: 34px auto 90px;
        padding-bottom: 43px;
        max-width: $_width_cont_true;
        @include breakpoint{
          margin: 1.8em auto 2.5em;
          padding-bottom: 1.8em;
        } // breakpoint
        .lContentsTtl{
          letter-spacing: 0.20em;
          margin-bottom: 3px;
          @include txt24;
          @include breakpoint{
            font-size: 125%;
            letter-spacing: 0.08em;
          } // breakpoint
        } // lContentsTtl
        .lContentsSubTtl{
          @include txt16;
          letter-spacing: 0.16em;
          @include breakpoint{
            font-size: 84%;
            margin-bottom: 0.5em;
          } // breakpoint
        } // lContentsSubTtl
      } // f6
      .lContentsTtl{
        @include breakpoint{
          font-size: 125%;
          margin-bottom: 0.2em;
        } // breakpoint
      } // lContentsTtl
      .lContentsSubTtl{
        color: $_color_acua04;
        @include breakpoint{
          font-size: 84%;
          margin-bottom: 0.2em;
        } // breakpoint
      } // lContentsSubTtl
    } // .lContentsTtlArea
    .lContentsInr{
      .lContentsInrWrap{
        width: $_width_cont_child;
        margin: 0 auto;
        @include breakpoint{
          width: $_width_sp_inner3;
        } // breakpoint
        .f6 &{
          width: $_width_cont_child2;
          @include breakpoint{
            width: $_width_sp_inner3;
          } // breakpoint
        } //f6
        .f7 &{
          width: $_width_cont_child2;
          @include breakpoint{
            width: $_width_sp_inner3;
          } // breakpoint
        } //f6
      } //.lContentsInrWrap
    } // .lContentsInr
    .lContentsSec{
      margin-bottom: 47px;
      @include breakpoint{
        margin-bottom: 2.5em;
      } // breakpoint
      .f6 &{
        margin-bottom: 54px;
        @include breakpoint{
          // margin-bottom: 2.2em !important;
        } // breakpoint
      } // f6
      .lContentsTtl{
        color: $_sunlogi_color;
        margin-bottom: 13px;
        @include breakpoint{
          font-size: 130%;
          margin-bottom: 0.5em !important;
        } // breakpoint
        .f6 &{
          margin-bottom: 15px;
          @include txt20;
          @include breakpoint{
            margin-bottom: 0.5em !important;
            font-size: 130%;
          } // breakpoint
          &.uType0{
            margin-bottom: 25px;
            @include breakpoint{
              margin-bottom: 2.2em !important;
            } // breakpoint
          } // .uType0
        } // f6
        .f7 &{
          margin-bottom: 15px;
          @include txt20;
          @include breakpoint{
            margin-bottom: 0.5em !important;
            font-size: 130%;
          } // breakpoint
          &.uType0{
            margin-bottom: 25px;
            @include breakpoint{
              margin-bottom: 2.2em !important;
            } // breakpoint
          } // .uType0
        } // f6
      } // lContentsTtl
      .lContentsTxt{
        @include txt16;
        line-height: 2;
        @include breakpoint{
          font-size: 110%;
        } // breakpoint
      } // lContentsTxt
      .lContentsLinks{
        margin-top: 20px;
      } // .lContentsLinks
      .lContentsMedia{
        display: block;
        text-align: center;
        .f5 &{
          width: 96.5%;
          margin: 0 auto;
        } // f5
        img.pc{
          display: inline;
          @include breakpoint{
            display: none;
          } // breakpoint
        } // img.pc
        img.sp{
          @include breakpoint{
            margin-top: 1.3em;
            margin-left: -1%;
          } // breakpoint
        } // img.pc
      } // lContentsMedia
      .lContentsDataWrap{
        border-top: 1px solid $_color_table_type_wrap;
        border-bottom: 1px solid $_color_table_type_wrap;
        padding-bottom: 11px;
      } // lContentsDataWrap
      .lContentsData{
        @include pie-clearfix;
        @include txt16;
        color: $_ttl_color;
        line-height: 2;
        &.uType01{} // .uType01
        &.uType02{
          background: $_color_table_type;
        } // .uType02
        @include breakpoint{
          font-size: 114%;
        } // breakpoint
      } // lContentsData
      .lContentsDataTtl{
        font-weight: bold;
        width: 21%;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
        padding: 14px 2% 14px 4%;
        float: left;
        @include breakpoint{
          width: 100%;
          padding: 0.8em 3.5% 0;
          float: none;
          line-height: 1.8;
        } // breakpoint
      } // lContentsDataTtl
      .lContentsDataTxt{
        width: 79%;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
        padding: 14px 2%;
        float: left;
        @include breakpoint{
          width: 100%;
          padding: 0 3.5%;
          float: none;
          font-size: 94%;
          margin-bottom: 1em;
        } // breakpoint
      } // lContentsDataTxt
    } // .lContentsSec
  } // .uRecruitChildType01
} // .lContents

// F-3
.lContents{
  &.uRecruitChildType01{
    margin-bottom: 38px;
    .f3 &{
      max-width: $_width_cont_true;
      margin: 0 auto 19px;
      padding: 0;
      @include breakpoint{
      } // breakpoint
      &.uTypeF3{
        max-width: none;
        margin: 0 auto 22px;
        padding: 0;
      } //.uTypeF3
    }
    .lContentsTtlArea{
      text-align: center;
      margin: 43px auto 75px;
      padding: 0 20px 33px;
      max-width: $_width_cont;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
      border-bottom: 2px solid $_color_acua05;
      .f3 &{
        margin: 43px auto 55px;
        @include breakpoint{
          margin: 2.2em auto 2.8em;
          padding-bottom: 1.5em;
        } // breakpoint
      }
      @include breakpoint{
        max-width: none;
        width: 100%;
        margin: 2.2em auto;
        padding: 0;
        padding-bottom: 1.5em;
      } // breakpoint
      .lContentsTtl{
        @include breakpoint{
          font-size: 125%;
          margin-bottom: 0.2em;
        } // breakpoint
      } // lContentsTtl
      .lContentsSubTtl{
        color: $_color_acua04;
        @include breakpoint{
          font-size: 84%;
          margin-bottom: 0.2em;
        } // breakpoint
      } // lContentsSubTtl
    } // .lContentsTtlArea
    .lContentsDescriptionArea{
      text-align: center;
      .lContentsDescriptionMedia{
        margin-bottom: 19px;
        @include breakpoint{
          width: 66%;
          margin: 0 auto 0.5em;
          img{
            width: 100%;
            height: auto;
          } // img
        } // breakpoint
      } // lContentsDescriptionMedia
      .lContentsDescriptionTxt{
        color: $_color_acua07;
        line-height: 1.8;
        font-size: 28px;
        letter-spacing: 0.08em;
        // margin-bottom: 19px;
        @include breakpoint{
          font-size: 120%;
          margin-bottom: 0;
          padding: 0 5%;
        } // breakpoint
        &.uType01{
          text-indent: 6px;
          @include breakpoint{
            text-indent: 0;
          } // breakpoint
        } // .uType01
        &.uType02{
          text-indent: 22px;
          @include breakpoint{
            margin-bottom: 1.3em;
            text-indent: 0;
          } // breakpoint
        } // .uType02
        span{
          &.uType01{
            letter-spacing: 0.05em;
          } // .uType01
          &.uType02{
            letter-spacing: 0.12em;
          } // .uType02
        } // span
      } // lContentsDescriptionTxt
    } //lContentsDescriptionArea
    .lContentsInfoGArea{
      @include pie-clearfix;
      position: relative;
      &.uType01{
        background-color: $_font_deep_acua01;
        .lContentsInfoGTxt{
          color: #FFF;
          height: auto;
        } //.lContentsInfoGTxt
      } //.uType01
      &.uType02{
        background-color: $_font_white;
      } //.uType02
      .lContentsInfoGAreaInr{
        max-width: $_width_cont_true;
        margin: 0 auto;
        @include pie-clearfix;
        @include breakpoint{
          max-width: none;
        } // breakpoint
      } // lContentsInfoGAreaInr
      .lContentsInfoGTtl{
        img{
          width: 100%;
          height: auto;
        } // img
      } //lContentsInfoGTtl
      .lContentsInfoGTxt{
        @include txt16;
        line-height: 2;
        @include breakpoint{
          font-size: 110%;
        } // breakpoint
        a{
          color: #FFF;
          text-decoration: underline;
          display: inline;
          &:hover{
            text-decoration: none;
          } // :hover
        } // a
      } //.lContentsInfoGTxt
      .lContentsInfoGMedia{
        // display: flex;
        display: block;
        img{
          width: 100%;
          height: auto;
          display: block;
          &.pc{
            display: block;
            @include breakpoint{
              display: none;
            } // breakpoint
          } // .pc
          &.sp{
            display: none;
            @include breakpoint{
              display: block;
            } // breakpoint
          } // .sp
        } // img
        // @include breakpoint{
        //   img{
        //     width: 100%;
        //     height: auto;
        //   } // img
        // } // breakpoint
      } //.lContentsInfoGMedia
      @for $i from 1 through 8 {
        $tmp: "0#{$i}";
        &.p#{$tmp} {
          @include breakpoint{
          } // breakpoint
          @if $i == 1{
            // height: 481px;
            // @include breakpoint{
            //   height: auto;
            // } // breakpoint
            .lContentsInfoGAreaTxt{
              width: 33.3%;
              right: 13%;
              position: absolute;
              bottom: 62px;
              @include breakpoint{
                position: static;
                width: 93%;
                margin: 0 auto;
                padding-top: 3.3em;
              } // breakpoint
            } //lContentsInfoGAreaTxt
            .lContentsInfoGTtl{
              margin-bottom: 19px;
              width: 95%;
              @include breakpoint{
                margin-bottom: 0.6em;
                width: 72.5%;
              } // breakpoint
            } //lContentsInfoGTtl
            .lContentsInfoGTxt{
              // margin-left: -0.8%;
              @include breakpoint{
                margin-left: 0;
              } // breakpoint
            } // lContentsInfoGTxt
            .lContentsInfoGAreaMedia{
              margin-left: 4%;
              width: 48%;
              @include breakpoint{
              width: 83%;
              margin: 0.1em auto 0;
              } // breakpoint
            } //lContentsDescriptionArea
          }@else if $i == 2{
            // height: 473px;
            // @include breakpoint{
            //   height: auto;
            // } // breakpoint
            .lContentsInfoGAreaTxt{
              position: absolute;
              top: 94px;
              left: 13.8%;
              @include breakpoint{
                position: static;
                width: 93%;
                margin: 0 auto;
                padding-top: 3.3em;
              } // breakpoint
            } //lContentsInfoGAreaTxt
            .lContentsInfoGTtl{
              margin-bottom: 44px;
              width: 100%;
              @include breakpoint{
                margin-bottom: 1.9em;
                width: 93%;
              } // breakpoint
            } //lContentsInfoGTtl
            .lContentsInfoGTxt{
              margin-left: -0.8%;
              @include breakpoint{
                margin-left: 0;
              } // breakpoint
            } // lContentsInfoGTxt
            .lContentsInfoGAreaMedia{
              margin-right: 3.5%;
              width: 40%;
              @include breakpoint{
                margin: -0.9em auto 2.1em;
                width: 68%;
              } // breakpoint
            } //lContentsDescriptionArea
            .lContentsInfoGMedia{
              background-color: #FFF;
            } // lContentsInfoGAreaMedia
          }@else if $i == 3{
            // height: 480px;
            // @include breakpoint{
            //   height: auto;
            // } // breakpoint
            .lContentsInfoGAreaTxt{
              width: 40.5%;
              margin: 50px 4.5% 49px;
              @include breakpoint{
                position: static;
                width: 93%;
                margin: 0 auto 2.4em;
                padding-top: 3.3em;
              } // breakpoint
            } //lContentsInfoGAreaTxt
            .lContentsInfoGTtl{
              margin-bottom: 24px;
              width: 88%;
              @include breakpoint{
                margin-bottom: 1em;
                width: 67%;
              } // breakpoint
            } //lContentsInfoGTtl
            .lContentsInfoGAreaMedia{
              position: absolute;
              left: 0;
              width: 53.5%;
              height: 447px;
              @include bg_image_retina(bg_recruit_infograpics03, png, no-repeat, left, top, contain, 732px ,479px);
              @include breakpoint_users(995px,1366px) {
                background-size: 100% 100%;
              } // breakpoint_users_max
              @include breakpoint_users(769px,995px) {
                background-size: 100% 100%;
                padding: 50px 0;
              } // breakpoint_users_max
              // @include breakpoint_users_max(320px){
              //   height: 3.9em;
              // } // breakpoint_users_max
              // @include breakpoint{
              //   @include bg_image(bg_recruit_infograpics03_sp, png, no-repeat, left, top, 100% auto);
              //   }
              @include breakpoint{
                position: static;
                width: 100%;
                height: auto;
              } // breakpoint
            } // lContentsInfoGAreaMedia
            .lContentsInfoGTxt{
              margin-left: -0.8%;
              @include breakpoint{
                margin-left: 0;
              } // breakpoint
            } // lContentsInfoGTxt
          }@else if $i == 4{
            @include bg_image_retina(bg_recruit_infograpics04, png, no-repeat, right, bottom, auto, 791px ,363px);
            @include breakpoint{
              @include bg_image(bg_recruit_infograpics04_sp, png, no-repeat, right, bottom, 100% auto);
              padding-bottom: 17.3em;
            } // breakpoint
            .lContentsInfoGAreaTxt{
              &.posLeft{
                width: 84%;
                margin: 67px 0 70px 5%;
                @include breakpoint{
                  width: 93%;
                  margin: 0 auto;
                  padding-top: 5em;
                } // breakpoint
                @include breakpoint_users_max(480px){
                  padding-top: 1em;
                } // breakpoint_users_max
              } // .posLeft
              &.posRight{
                margin: 0 auto;
                @include breakpoint{
                  width: 93%;
                  margin: 0 auto;
                  // padding-top: 3.3em;
                } // breakpoint
              } // .posRight
            } //lContentsInfoGAreaTxt
            .lContentsInfoGTtl{
              margin-bottom: 61px;
              width: 77%;
              @include breakpoint{
                margin-bottom: 4em;
                width: 90%;
              } // breakpoint
            } //lContentsInfoGTtl
            .lContentsInfoGTxt{
              width: 50%;
              margin-left: -0.5%;
              margin-bottom: 36px;
              @include breakpoint{
                position: static;
                width: 100%;
              } // breakpoint
            } //lContentsInfoGTtl
            .lContentsInfoGAreaBox{
              position: absolute;
              border: 2px solid $_color_acua08;
              width: 31.5%;
              top: 280px;
              right: 18.5%;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
              @include txt16;
              padding: 1.8% 1%;
              @include breakpoint{
                position: static;
                width: 100%;
                font-size: 110%;
                padding: 1.5em 3.3%;
                @include pie-clearfix;
              } // breakpoint
            } //.lContentsInfoGAreaBox
            .lContentsInfoGAreaBoxTtl{
              color: $_color_acua03;
              margin-bottom: 15px;
              @include breakpoint{
                margin-bottom: 1em;
              } // breakpoint
            } //lContentsInfoGAreaBoxTtl
            .lContentsInfoGAreaData{
              @include pie-clearfix;
              width: 48%;
              margin-right: 2%;
              @include fl;
            } // lContentsInfoGAreaData
            .lContentsInfoGAreaDataTtl{
              @include fl;
              width: 43%;
            } // lContentsInfoGAreaDataTtl
            .lContentsInfoGAreaDataTxt{
              @include fl;
              width: 50%;
            } // lContentsInfoGAreaDataTxt
          }@else if $i == 5{
            .lContentsInfoGAreaTxt{
              &.posLeft{
                width: 42%;
                margin-left: 5%;
                margin-top: 44px;
                @include breakpoint{
                  width: 93%;
                  margin: 0 auto;
                  padding-top: 0.3em;
                } // breakpoint
                .lContentsInfoGTtl{
                  margin-bottom: 17px;
                  width: 101%;
                  @include breakpoint{
                    margin-bottom: 0.6em;
                    width: 78.5%;
                    margin-top: 2.7em;
                  } // breakpoint
                } //lContentsInfoGTtl
                .lContentsInfoGTxt{
                  margin-left: -1%;
                } //lContentsInfoGTtl
              } // .posLeft
              &.posRight{
                @include bg_image_retina(bg_recruit_infograpics05, png, no-repeat, right, bottom, auto, 550px ,319px);
                width: 45.5%;
                margin-right: 0;
                margin-top: 52px;
                padding-bottom: 208px;
                @include breakpoint{
                  width: 93%;
                  margin: 0 auto;
                  padding-top: 2.7em;
                  padding-bottom: 14.2em;
                  background-size: contain;
                } // breakpoint
                .lContentsInfoGTtl{
                  margin-bottom: 17px;
                  width: 64.5%;
                  @include breakpoint{
                    margin-bottom: 0.5em;
                    width: 54.5%;
                    margin-left: -1%;
                  } // breakpoint
                } //lContentsInfoGTtl
                .lContentsInfoGTxt{
                  width: 91%;
                  margin-right: 0.5%;
                } //lContentsInfoGTtl
              } // .posRight
            } //lContentsInfoGAreaTxt
            @include breakpoint{
            } // breakpoint
          }@else if $i == 6{
            // height: 606px;
            // @include breakpoint{
            //   height: auto;
            // } // breakpoint
            .lContentsInfoGMedia{
              background-color: #FFF;
            } // lContentsInfoGAreaMedia
            .lContentsInfoGAreaTxt{
              &.posLeft{
                @include bg_image_retina(bg_recruit_infograpics06, png, no-repeat, right, top, auto, 503px ,606px);
                width: 45%;
                margin-left: 2%;
                padding-top: 60px;
                height: 606px;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
                padding-left: 3%;
                @include breakpoint{
                  width: 93%;
                  margin: 0 auto;
                  padding-top: 3em;
                  padding-left: 1%;
                } // breakpoint
                .lContentsInfoGTtl{
                  margin-bottom: 26px;
                  width: 62%;
                  @include breakpoint{
                    margin-bottom: 1em;
                    width: 48%;
                  } // breakpoint
                } //lContentsInfoGTtl
                .lContentsInfoGTxt{
                  margin-left: -1%;
                  span{
                    color: $_color_acua09;
                  } // span
                  a{
                    color: $_color_acua09;
                  } // $_color_acua09
                } //lContentsInfoGTtl
              } // .posLeft
              &.posRight{
                width: 40.5%;
                margin-right: 5.3%;
                padding-top: 60px;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
                position: relative;
                height: 606px;
                @include breakpoint{
                  width: 92%;
                  margin: 0 auto;
                  padding-top: 1.6em;
                  height: auto;
                } // breakpoint
                .lContentsInfoGTtl{
                  margin-bottom: 24px;
                  width: 61%;
                  @include breakpoint{
                    margin-bottom: 0.8em;
                    width: 46%;
                  } // breakpoint
                } //lContentsInfoGTtl
                .lContentsInfoGTxt{
                  width: 101%;
                  margin-left: -1%;
                  @include breakpoint{
                    width: 100%;
                  } // breakpoint
                } //lContentsInfoGTtl
                .lContentsInfoGMedia{
                  position: absolute;
                  bottom: 0;
                  right: 3%;
                  height: 233px;
                  @include breakpoint{
                    position: static;
                    margin: 0.4em auto 0;
                    width: 41%;
                    height: auto;
                  } // breakpoint
                } //lContentsInfoGMedia
              } // .posRight
            } //lContentsInfoGAreaTxt
          }@else if $i == 7{
            .lContentsInfoGAreaTxt{
              margin: 41px 0 29px 5%;
              width: 42%;
              @include breakpoint{
                width: 92%;
                margin: 0 auto;
                padding-top: 2.5em;
              } // breakpoint
            } //lContentsInfoGAreaTxt
            .lContentsInfoGTtl{
              margin-bottom: 18px;
              width: 54%;
              @include breakpoint{
                margin-bottom: 0.7em;
                width: 42%;
              } // breakpoint
            } //lContentsInfoGTtl
            .lContentsInfoGTxt{
              margin-left: -1%;
            } //lContentsInfoGTxt
            .lContentsInfoGMedia{
              img{
                height: 100%;
                width: auto;
                @include breakpoint{
                  width: 100%;
                  height: auto;
                } // breakpoint
              } // img
              // height: 358px;
              // @include breakpoint{
              //   height: auto;
              // } // breakpoint
            } //lContentsDescriptionArea
            .lContentsInfoGAreaMedia{
              position: absolute;
              bottom: 0;
              right: 19.8%;
              width: 23.5%;
              height: 346px;
              @include breakpoint{
                position: static;
                width: 50%;
                margin: 1.5em auto 0;
                height: auto;
              } // breakpoint
            } //lContentsDescriptionArea
            .lContentsInfoGList{
              color: #FFF;
            } // lContentsInfoGList
            .lContentsInfoGItem{
              position: relative;
              margin-left: 16px;
              font-size: 134%;
              line-height: 2;
              &:before{
                position: absolute;
                left: -18px;
                content: "・";
              } // before
              @include breakpoint{
                font-size: 110%;
                letter-spacing: -0.04em;
              } // breakpoint
            } //lContentsInfoGItem
          }@else if $i == 8{
            .lContentsInfoGAreaTxt{
              width: 42.5%;
              margin-right: 4.5%;
              margin-top: 80px;
              @include breakpoint{
                width: 92%;
                margin: 0 auto;
                padding-top: 2em;
              } // breakpoint
            } //lContentsInfoGAreaTxt
            .lContentsInfoGTtl{
              margin-bottom: 12px;
              margin-left: 10px;
              width: 92%;
              @include breakpoint{
                margin-bottom: 0.2em;
                width: 72%;
              } // breakpoint
            } //lContentsInfoGTtl
            .lContentsInfoGTxt{
              margin-left: -0.5%;
              @include breakpoint{
                width: 101%;
              } // breakpoint
            } //lContentsInfoGTxt
            .lContentsInfoGAreaMedia{
              margin-top: 37px;
              margin-left: 11.7%;
              width: 35.5%;
              @include breakpoint{
                margin: 2.5em auto 0;
                width: 62%;
              } // breakpoint
            } //lContentsDescriptionArea
          } // end if
        } // .s0x
      } // end for
    } // lContentsInfoGArea
  } // .uRecruitChildType01
} // .lContents

// F-1,2,4,4-1,4-2
.lContents{
  &.uRecruitChildType02{
    margin-bottom: 50px;
    @include breakpoint{
      margin-bottom: 0;
    } // breakpoint
    .f2 &{
      margin-bottom: 18px;
      @include breakpoint{
      } // breakpoint
    } // f4
    .f4 &{
      margin-bottom: 64px;
      @include breakpoint{
      } // breakpoint
    } // f4
    .lContentsTtlArea{
      text-align: center;
      margin: 43px auto 32px;
      max-width: $_width_cont;
      padding: 0 20px;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
      @include breakpoint{
        width: 100%;
        margin: 2.2em auto 1.5em;
        padding: 0;
        max-width: 100%;
      } // breakpoint
      .f4 &{
        margin: 44px auto 34px;
        @include breakpoint{
          margin: 2.2em auto 1.5em;
        } // breakpoint
        .lContentsTtl{
          letter-spacing: 0.19em;
          margin-bottom: 5px;
          @include txt24;
          @include breakpoint{
            font-size: 125%;
          } // breakpoint
        } // lContentsTtl
        .lContentsSubTtl{
          @include txt16;
          letter-spacing: 0.16em;
          text-indent: -0.5%;
          @include breakpoint{
            font-size: 84%;
          } // breakpoint
        } // lContentsSubTtl
      } // f4
      .lContentsTtl{
        @include breakpoint{
          font-size: 125%;
          margin-bottom: 0.2em;
        } // breakpoint
      } // lContentsTtl
      .lContentsSubTtl{
        color: $_color_acua04;
        @include breakpoint{
          font-size: 84%;
          margin-bottom: 0.2em;
        } // breakpoint
      } // lContentsSubTtl
    } // .lContentsTtlArea
    .lContentsMessageArea{
      position: relative;
      margin-bottom: 50px;
      @include breakpoint{
        margin-bottom: 2.6em;
      } // breakpoint
      .f1 &{
        // margin: 0 auto 55px;
        // max-width: $_width_max;
        // @include breakpoint{
        //   max-width: none;
        // } // breakpoint
        margin: 0 auto 53px;
        max-width: $_width_cont;
        padding: 0 20px;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
        @include breakpoint{
          width: 100%;
          margin-bottom: 2.7em;
          max-width: none;
          padding: 0;
        } // breakpoint
      } // f1
      .f2 &{
        margin: 0 auto 53px;
        max-width: $_width_cont;
        padding: 0 20px;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
        @include breakpoint{
          width: 100%;
          margin-bottom: 2.7em;
          max-width: none;
          padding: 0;
        } // breakpoint
      } // f2
      .f4 &{
        margin: 0 auto 28px;
        max-width: $_width_cont_true;
        // padding: 0 20px;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
        @include breakpoint{
          width: 100%;
          margin-bottom: 3em;
          max-width: none;
          padding: 0;
        } // breakpoint
      } // f4
      .lContentsMessageMedia{
        .f4 &{
          // display: flex;
          display: block;
          @include breakpoint{
            display: block;
          } // breakpoint
        } // f4
        img{
          width: 100%;
          height: auto;
        } // img
      } //lContentsMessageMedia
      .lContentsMessageWrap{
        position: absolute;
        right: 13%;
        bottom: 101px;
        @include breakpoint{
          position: static;
          width: 93%;
          margin: 1.8em auto;
        } // breakpoint
        .f1 &{
          bottom: 98px;
          @include breakpoint{
          } // breakpoint
        } // f1
        .f2 &{
          right: 1.8%;
          bottom: 131px;
          @include breakpoint{
            margin: 2.1em auto;
          } // breakpoint
        } // f4
        .f4 &{
          right: auto;
          left: 3%;
          bottom: 18px;
          @include breakpoint{
            position: absolute;
            left: 2.8%;
            bottom: 1em;
            margin: 0;
          } // breakpoint
        } // f4
      } // lContentsMessageWrap
      .lContentsMessageTxt{
        color: $_font_deep_acua01;
        .f1 &{
          @include breakpoint{
            line-height: 1.9;
            margin-bottom: 0.8em !important;
            letter-spacing: 0.04em;
            font-size: 170%;
          } // breakpoint
        } // f2
        .f2 &{
          @include breakpoint{
            line-height: 1.9;
            margin-bottom: 0.8em !important;
            letter-spacing: 0.1em;
            font-size: 170%;
          } // breakpoint
          span{
            &.uType01{
              letter-spacing: 0.05em;
            } // .type01
            &.uType02{
              margin-left: -0.3%;
              letter-spacing: 0.13em
            } // .type02
            &.uType03{
              margin-left: -1.2%;
            } // .type03
            &.uType04{
              letter-spacing: -0.3em;
              margin-left: -0.4%;
            } // .type04
            &.uType05{
              margin-left: -3%;
            } // .type05
            &.uType06{
              letter-spacing: -0.4em;
              margin-left: -1%;
            } // .type06
          } // span
        } // f2
        .f4 &{
          color: #FFF;
          font-size: 280%;
          line-height: 1.6;
          @include breakpoint{
            font-size: 100%;
          } // breakpoint
        } // f4
      } // lContentsMessageTxt
      .lContentsMessageName{
        @include txt16;
        text-align: right;
        margin-right: 3%;
        @include breakpoint{
          font-size: 84%;
          margin-right: 2%;
        } // breakpoint
        .f1 &{
          margin-right: 0;
          @include breakpoint{
            margin-right: 0;
          } // breakpoint
        } // f1
        .f2 &{
          margin-right: 4%;
          @include breakpoint{
            margin-right: 2%;
            font-size: 83%;
          } // breakpoint
        }
        span{
          font-size: 13px;
          margin-right: 2%;
          @include breakpoint{
            font-size: 90%;
          } // breakpoint
          .f2 &{
            margin-right: 2.5%;
            @include breakpoint{
              margin-right: 2%;
            } // breakpoint
          }
        } // span
      } // lContentsMessageName
    } //lContentsMessageArea
    .lContentsInrWrapIn{
      width: 99.3%;
      margin: 0 auto;
      @include breakpoint{
        width: 100%;
      } // breakpoint
    } //lContentsInrWrapIn
    .lContentsInr{
      .lContentsInrWrap{
        width: $_width_cont_child2;
        margin: 0 auto;
        @include breakpoint{
          width: $_width_sp_inner3;
        } // breakpoint
      } //.lContentsInrWrap
    } // .lContentsInr
    .lContentsSec{
      margin-bottom: 47px;
      @include breakpoint{
        margin-bottom: 2em;
      } // breakpoint
      .lContentsTtl{
        color: $_color_acua07;
        margin-bottom: 55px;
        @include breakpoint{
          font-size: 130%;
          margin-bottom: 0.5em !important;
          line-height: 1.6;
        } // breakpoint
      } // lContentsTtl
      .lContentsTxt{
        @include txt16;
        line-height: 2;
        margin-bottom: 34px;
        &:last-child{
          margin-bottom: 0;
        } // :last-child
        @include breakpoint{
          font-size: 110%;
          margin-bottom: 2em;
        } // breakpoint
      } // lContentsTxt
      .lContentsLinks{
        margin-top: 20px;
      } // .lContentsLinks
      .lContentsMedia{
        display: block;
        text-align: center;
        img.pc{
          display: inline;
          @include breakpoint{
            display: none;
          } // breakpoint
        } // img.pc
        img.sp{
          @include breakpoint{
            margin-top: 1.3em;
            margin-left: -1%;
          } // breakpoint
        } // img.pc
        img{
          width: 100%;
          height: auto;
        } // img.pc
      } // lContentsMedia
      .lContents2column{
        @include pie-clearfix;
        margin-bottom: 64px;
        @include breakpoint{
          width: 102%;
          margin-left: -1%;
          margin-bottom: 1.5em !important;
        } // breakpoint
      } // lContents2column
      .lContentsAreaMedia{
        width: 48%;
        @include breakpoint{
          width: 100%;
          margin-bottom: 1.2em;
        } // breakpoint
        &.posRight{
          margin-right: -1%;
          @include breakpoint{
            width: 100%;
            margin-right: 0;
          } // breakpoint
        } // .posRight
      } //lContentsAreaMedia
      .lContentsAreaTxt{
        width: 47%;
        margin-top: -9px;
        @include breakpoint{
          width: 100%;
          margin-top: 0;
        } // breakpoint
        &.posLeft{
          margin-top: -7px !important;
          margin-left: 0.5%;
          @include breakpoint{
            margin: 0 auto;
          } // breakpoint
        } // .posRight
      } //lContentsAreaTxt
      .lContentsColumn{
        // width: 48%;
      } // lContentsColumn
      .lContentsUl{
        @include txt16;
        margin-bottom: 16px;
        width: 110%;
        line-height: 2;
        letter-spacing: -0.01em;
        @include breakpoint{
          font-size: 110%;
          width: 100%;
          margin-bottom: 1.1em;
          line-height: 1.9;
        } // breakpoint
      } // .lContentsUl
      .lContentsLi{
        &:before{
          content: "・";
          margin-left: -1px;
        } // before
      } // .lContentsLi
    } // .lContentsSec
    .lContentsStaffArea{
      text-align: center;
      max-width: $_width_cont;
      margin: 0 auto 63px;
      @include breakpoint{
        max-width: none;
        width: 100%;
        margin-bottom: 3.2em;
      } // breakpoint
      .lContentsStaffList{
        display: inline;
      } // lContentsStaffList
      .lContentsStaffItem{
        display: inline-block;
        // float: left;
        // margin: 0 1%;
        margin: 0;
        @include breakpoint{
          margin: 0 0 0.2em;
          width: 38%;
        } // breakpoint
        img{
          width: 100%;
          height: auto;
        } // img
      } // lContentsStaffItem
    } // lContentsStaffArea
    .lContentsTalkArea{
      .lContentsTalkHeader{
        margin-bottom: 62px;
        @include breakpoint{
          margin-bottom: 1.8em;
        } // breakpoint
      } // lContentsTalkHeader
      .lContentsTalkTtl{
        background: $_color_acua07;
        color: #FFF;
        font-size: 34px;
        text-align: center;
        padding: 24px 0 15px;
        text-indent: 15px;
        @include breakpoint{
          font-size: 167%;
        } // breakpoint
        @include breakpoint_users_max(480px){
          font-size: 150%;
        } // breakpoint_users_max
        span{
          font-size: 24px;
          @include breakpoint{
            font-size: 72%;
          } // breakpoint
        } // span
      } // lContentsTalkTtl
      .lContentsTalkMedia{
        // display: flex;
        display: block;
        @include breakpoint{
          display: block;
        } // breakpoint
        img{
          width: 100%;
          height: auto;
        } // img
      } // lContentsTalkMedia
      .lContentsTalkBody{
        width: 73%;
        margin: 0 auto 68px;
        position: relative;
        max-width: 996px;
        @include breakpoint{
          width: $_width_sp_inner5;
        } // breakpoint
      } // lContentsTalkBody
      .lContentsTalkQuestion{
        color: $_color_acua07;
        font-family: $notosans;
        font-weight: 500;
        font-size: 26px;
        margin-bottom: 38px;
        padding-left: 30px;
        @include breakpoint{
          margin-bottom: 1.3em;
          font-size: 128%;
        } // breakpoint
        &:before{
          content: "Q.";
          position: absolute;
          left: 0;
        } // :before
      } // lContentsTalkQuestion
      .lContentsTalkCaution{
        text-align: right;
        position: relative;
        top: -38px;
        letter-spacing: 0.08em;
        @include breakpoint_users(1231px,1340px){
          top: -14px;
        } // breakpoint
        @include breakpoint{
          position: relative;
          top: -3em;
          right: 0;
          letter-spacing: 0.05em;
          font-size: 63%;
          text-align: right;
        } // breakpoint
        @include breakpoint_users_max(480px){
          top: -1em;
        } // breakpoint_users_max
      } // lContentsTalkCaution
      .lContentsTalkSec{
        @include pie-clearfix;
        @for $i from 1 through 7 {
          $tmp: "0#{$i}";
          &.uType#{$tmp} {
            width: 101%;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
            padding: 10px 0;
            margin-bottom: 28px;
            border: 4px solid;
            -webkit-border-radius: 20px;
                    border-radius: 20px;
            @include breakpoint{
              padding: 0.5em 0 1.5em;
              margin-bottom: 1.2em;
            } // breakpoint
            @if $i == 1{
              border-color: $_border_ct01;
            }@else if $i == 2{
              border-color: $_border_ct02;
            }@else if $i == 3{
              border-color: $_border_ct03;
            }@else if $i == 4{
              border-color: $_border_ct04;
            }@else if $i == 5{
              border-color: $_border_ct05;
            }@else if $i == 6{
              border-color: $_border_ct06;
            }@else if $i == 7{
              border-color: $_border_ct07;
            } // end if
          } // .s0x
        } // end for
      } // lContentsTalkSec
      .lContentsTalkSecMedia{
        width: 6.5%;
        padding: 0 1%;
        @include fl;
        @include breakpoint{
          width: 22%;
        } // breakpoint
        img{
          width: 100%;
          height: auto;
        } // img
      } // lContentsTalkSecMedia
      .lContentsTalkSecTxt{
        @include txt16;
        width: 87%;
        @include fr;
        line-height: 2;
        margin-right: 3.5%;
        @include breakpoint{
          width: 70.5%;
          margin-top: 0.5em;
          // font-size: 111%;
          font-size: 100%;
        } // breakpoint
      } // lContentsTalkSecTxt
    } //lContentsTalkArea
    .lContentsTalkFooter{
      text-align: center;
      margin-top: 42px;
      @include breakpoint{
        width: 76%;
        margin: 2.5em auto 0;
      } // breakpoint
      @include breakpoint_users_max(480px){
        width: 95%;
      } // breakpoint_users_max
    } // lContentsTalkFooter
    .lContentsTalkBtn{
      display: inline;
      margin-left: 0.8%;
      @include breakpoint{
        display: block;
        margin-left: auto;
      } // breakpoint
    } // lContentsTalkBtn
    .lContentsTalkBtnItem{
      display: inline-block;
      // width: 35%;
      width: 478px;
      margin: 0 0.7% 1%;
      @include breakpoint{
        display: block;
        margin: 0 auto 1em;
        width: 100%;
      } // breakpoint
      a{
        display: block;
        font-family: $notosans;
        font-weight: $Bold;
        @include txt19;
        width: 100%;
        color: #FFF;
        text-align: center;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
        padding: 18px 0;
        // @include bg_image_retina(ico_arrow02, png, no-repeat, 94%, 53%, 17px auto, 30px ,30px);
        position: relative;
        background-color: $_bg_deep_green;
        @include breakpoint{
          font-size: 94%;
        } // breakpoint
        @include breakpoint_users_max(480px){
          font-size: 90%;
          background-size: 15px 15px;
          background-position: 96% 53%;
        } // breakpoint_users_max
        &.next{
          &:after{
            content: " ";
            @include bg_image_retina(ico_arrow02, png, no-repeat, top, left, 17px auto, 17px ,17px);
            position: absolute;
            width: 17px;
            height: 17px;
            top: 38%;
            @include breakpoint_users_max(480px){
              background-size: 15px 15px;
              // left: 3%;
            } // breakpoint_users_max
          } // after
        } // next
        &.prev{
          &:before{
            content: " ";
            @include bg_image_retina(ico_arrow02_prev, png, no-repeat, top, left, 17px auto, 17px ,17px);
            position: absolute;
            width: 17px;
            height: 17px;
            top: 38%;
            left: 10%;
            @include breakpoint{
              background-size: 15px 15px;
              left: 18%;
            } // breakpoint
            @include breakpoint_users(375px,414px) {
              left: 18%;
            } // breakpoint_users_max
            @include breakpoint_users(320px,375px) {
              left: 14%;
            } // breakpoint_users_max
            @include breakpoint_users_max(320px){
              left: 8%;
            } // breakpoint_users_max
          } // after
        } // next
      } // a
    } // lContentsTalkBtnItem
  } // .uRecruitChildType01
} // .lContents

// F-common
.lContents{
  &.uRecruitNav{
    @include bg_image_retina(bg_dotted01, png, repeat, left, top, auto, 2px ,2px);
    padding: 27px 0;
    text-align: center;
    @include breakpoint{
      padding: 1.3em 0 1.8em;
    } // breakpoint
    .lContentsTtl{
      color: $_ttl_color;
      @include txt20;
      letter-spacing: 0.10em;
      @include breakpoint{
        font-size: 100%;
      } // breakpoint
    } // .lContentsTtl
    .lContentsSubTtl{
      color: $_color_acua06;
      @include txt16;
      margin-bottom: 15px;
      letter-spacing: 0.11em;
      @include breakpoint{
        font-size: 80%;
        margin-bottom: 1em;
      } // breakpoint
    } // .lContentsSubTtl
    .lContentsListWrap{
      max-width: $_width_cont;
      margin: 0 auto;
      @include breakpoint{
        max-width: none;
      } // breakpoint
    } // lContentsListWrap
    .lContentsList{
      display: inline;
      margin-left: 18px;
      @include breakpoint{
        margin-left: 0;
        // display: block;
        // width: $_width_sp_inner2;
        // margin: 0 auto;
      } // breakpoint
    } // lContentsList
    .lContentsItem{
      margin: 0 0.7%;
      display: inline-block;
      position: relative;
      width: 110px;
      height: 110px;
      @include bg_image_retina(btn_recruit_links01, png, no-repeat, left, top, auto, 110px ,110px);
      @include breakpoint{
        @include bg_image('btn_recruit_links01@2x', png, no-repeat, left, top, 100% auto);
        width: 17%;
        margin: 0 1.5% 0.2em;
      } // breakpoint
      @include breakpoint_users(640px,768px) {
        height: 6.8em;
      } // breakpoint_users_max
      @include breakpoint_users(410px,640px) {
        height: 5em;
      } // breakpoint_users_max
      @include breakpoint_users(320px,410px) {
        height: 4.6em;
      } // breakpoint_users_max
      @include breakpoint_users_max(320px){
        height: 3.9em;
      } // breakpoint_users_max
      a{
        @include txt15;
        color: $_color_acua07;
        height: 100%;
        width: 100%;
        position: relative;
        @include breakpoint{
          font-size: 80%;
        } // breakpoint
        @include breakpoint_users_max(480px){
          font-size: 74%;
        } // breakpoint_users_max
        span{
          position: absolute;
          top: 50%;
          width: 100%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          display: inline-block;
          letter-spacing: -0.03em;
          line-height: 1.4;
          @include breakpoint{
            line-height: 1.2;
          } // breakpoint
        } // span
      } // a
    } // .lContentsItem
  } // .uRecruitNav
} // .lContents