/* _footer
============================ */
.lFooter{
  background: $_font_color;
  .lFooterCopy{
    padding: 22px 0;
    color: $_font_white;
    text-align: center;
    @include txt12;
    @include breakpoint{
      padding: 1.8em 0;
      font-size: 60%;
    } // breakpoint
  }  // lFooterCopy
} // lFooter
