/* _header
============================ */
.lHeader{
  margin-top: 22px;
  @include breakpoint{
  } // breakpoint
  .lHeaderFixSP{
    @include breakpoint{
      position: fixed;
      top: 0;
      height: 4.5em;
      background: #FFF;
      width: 100%;
      z-index: 9000;
    } // breakpoint
  } //lHeaderFixSP
  .lHeaderInr{
    &.uType01{
      margin-bottom: 10px;
      @include breakpoint{
        // margin-bottom: 0.1em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
      } // breakpoint
      .lHeaderItem a{
        @include txt15;
        color: $_ttl_color;
        letter-spacing: 0.06em;
        @include breakpoint{
          color: #FFF;
          font-size: 100%;
          letter-spacing: 0.1em;
        } // breakpoint
      }
    } // .uType01
    &.uType02{
      background: $_sunlogi_color;
      @include breakpoint{
        margin-top: 4.5em;
      } // breakpoint
      .lHeaderWrap{
        padding: 20px 20px 25px;
        @include breakpoint{
          width: $_width_sp2;
          padding: 1.1em 0;
        } // breakpoint
      } // lHeaderWrap
      .lHeaderItem a{
        color: $_font_white;
        @include breakpoint{
          color: #FFF;
          font-weight: 300;
        } // breakpoint
      }
    } // .uType02
  } // .lHeaderInr
  .lHeaderWrap{
    max-width: $_width_head;
    margin: $_0;
    padding: 0 20px;
    box-sizing: border-box;
    position: relative;
    @include breakpoint{
      width: $_width_sp;
      max-width: none;
      padding: 0;
    } // breakpoint
  } // .lHeaderWrap
  .lHeaderTtl{
    width: 271px;
    height: 51px;
    display: inline-block;
    @include bg_image_retina(ttl_header01, png, no-repeat, left, 50%, auto, 271px ,51px);
    @include breakpoint{
      // @include bg_image(ttl_header01_sp, png, no-repeat, left, 50%, auto 100%);
      @include bg_image(ttl_header01_sp_1st, png, no-repeat, left, 50%, auto 100%);
      width: 85%;
      height: 3.5em;
    } // breakpoint
    &:hover{
      @include opacity(0.5);
      -webkit-transition: all 1s;
      transition: all 1s;
    } // :hover
    a{
      display: block;
      height: 100%;
      @include txt_over;
    } // a
  } // .lHeaderTtl
  .lHeaderSubttl{
    color: $_font_white;
    font-size: 30px;
    letter-spacing: 0.15em;
    display: inline-block;
    text-indent: 0.2%;
    position: relative;
    width: 50%;
    span{
      font-size: 14px;
      color: $_color_acua01;
      letter-spacing: 0.16em;
      margin-left: 12px;
      font-weight: 300;
      position: absolute;
      bottom: 10px;
      width: 50%;
    } // span
  } // .lHeaderTtl
  .lHeaderNav{
    @include pie-clearfix;
    @include fr;
    @include bg_image_retina(ico_header01, png, no-repeat, left, top, auto, 18px ,18px);
    padding-left: 16px;
    position: absolute;
    right: 20px;
    bottom: 10px;
    @include breakpoint{
      display: none;
      top: 4em;
      width: 100%;
      @include bg_image(bg_nav_sp, png, repeat, left, top, auto 100%);
      height: 100%;
      padding-left: 0;
      right: -2.9%;
      float: none;
      bottom: auto;
      box-sizing: border-box;
      padding: 1.5em 3.5%;
    } // breakpoint
  } // .lHeaderNav
  #breadcrumbs{
    @include pie-clearfix;
    @include fr;
    position: absolute;
    right: 24px;
    bottom: 29px;
    @include breakpoint{
      display: none;
    } // breakpoint
    .lHeaderItem{
      // &:after{
      //   content: ">";
      //   color: $_font_white;
      // } // :after
      @include bg_image_retina(ico_breadcrumbs01, png, no-repeat, right, 62%, auto, 6px ,11px);
      // letter-spacing: 0.06em;
      padding-right: 15px;
      margin-left: 9px;
      &:last-child{
        background: none;
        padding-right: 0;
        // content: none;
      } // :after
    }
  } // #breadcrumbs
  .lHeaderItem{
    @include fl;
    &.uSlash{
        @include bg_image_retina(ico_header01, png, no-repeat, right, top, auto, 18px ,18px);
        padding: 0 23px 0 6px;
        @include breakpoint{
          background-image: none;
          padding: 0;
          border-bottom: 1px solid #fff;
          float: none;
          text-indent: 1.8%;
          font-weight: 200;
          padding-bottom: 1.5em;
          margin-bottom: 1.4em;
        }
    } // .uSlash
    a{
      &.is_blank{
        @include bg_image_retina(ico_link01, png, no-repeat, right, 52%, auto, 12px ,11px);
        padding-right: 18px;
        @include breakpoint{
          background-image: none;
        }
        &:after{
          @include breakpoint{
            content: url("/images/ico_link01_sp.png");
            margin-left: 1.5%;
          }
        } // after
      } // .is_blank
    } // a
  } // .lHeaderItem
  .lHeaderBtn{
    @include txt_over;
    display: none;
    @include breakpoint{
      height: 100%;
      display: block;
    // &.uType03{
      position: fixed;
      width: 20%;
      top: 10px;
      right: 1.7%;
      height: 3.5em;
      z-index: 9000;
      @include bg_image(btn_menu_on, png, no-repeat, right, top, auto 100%);
    // } // .uType02
    } // breakpoint
    &.is_open{
      @include bg_image(btn_menu_off, png, no-repeat, right, top, auto 100%);
    }  //.is_open
  } // .lHeaderBtn
} // .lHeader
