// _mixin

//font
@mixin txt8 { font-size:68%; }
@mixin txt9 { font-size:74%; }
@mixin txt10 { font-size:84%; }
@mixin txt11 { font-size:92%; }
@mixin txt12 { font-size:100%; }
@mixin txt13 { font-size:109%; }
@mixin txt14 { font-size:117%; }
@mixin txt15 { font-size:125%; }
@mixin txt16 { font-size:134%; }
@mixin txt17 { font-size:142%; }
@mixin txt18 { font-size:150%; }
@mixin txt19 { font-size:159%; }
@mixin txt20 { font-size:167%; }
@mixin txt21 { font-size:175%; }
@mixin txt22 { font-size:184%; }
@mixin txt23 { font-size:192%; }
@mixin txt24 { font-size:200%; }
@mixin txt25 { font-size:209%; }
@mixin txt26 { font-size:217%; }

// text
%txt_over{
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
%txt_r{ text-align: right; }
%txt_c{ text-align: center;}
%txt_l{ text-align: left; }
%fwb{ font-weight: bold; }
@mixin txt_over{
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
@mixin txt_r{ text-align: right; }
@mixin txt_c{ text-align: center;}
@mixin txt_l{ text-align: left; }
@mixin fwb{ font-weight: bold; }
// float
@mixin fl{ float: left; }
@mixin fr{ float: right; }
@mixin fn{ float: none; }
@mixin cb{ clear: both; }


// bg_image
@mixin bg_image($name, $extention, $repeat, $posX, $posY, $size){
  background-image:url('images/' + $name + '.' + $extention);
  background-repeat: $repeat;
  background-position: $posX $posY;
  background-size: $size;
}
// bg_image_retina
@mixin bg_image_retina($name, $extention, $repeat, $posX, $posY, $size, $bgwidth, $bgHeight){
  background-image:url('images/' + $name + '.' + $extention);
  background-repeat: $repeat;
  background-position: $posX $posY;
  background-size: $size;
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 192dpi) {
        background-image: url('images/' + $name + '@2x.' + $extention);
        @include background-size($bgwidth $bgHeight);
  }
}

// bgretina
@mixin bgretina($bgwidth, $bgHeight, $bgCol, $image, $extension, $posX:0, $posY:0, $repeat:no-repeat, $ratio:'@2x') {
  background: $bgCol url($image + '.' + $extension) $posX $posY $repeat;
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 192dpi) {
        background-image: url($image + $ratio + '.' + $extension);
        @include background-size($bgwidth $bgHeight);
  }
}
@mixin bgretina_clear($bgwidth, $bgHeight, $image, $extension, $posX:0, $posY:0, $repeat:no-repeat, $ratio:'@2x') {
  background: url($image + '.' + $extension) $posX $posY $repeat;
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 192dpi) {
        background-image: url($image + $ratio + '.' + $extension);
        @include background-size($bgwidth $bgHeight);
  }
}

// a img
%a_img{
  a{
    display: block;
    height: 100%;
    &:hover{
      border-bottom: none;
    } // :hover
  } // a
}


// break point
// $widthXL: 1280px; //PC大
// $widthLG: 1024px; //PC小
// $widthMD: 768px; //タブレット
// $widthSM: 640px; //タブレット
// $widthSM5: 568px; //スマートフォン | iPhone5
// $widthSM6: 667px; //スマートフォン | iPhone6
// $widthSM6s: 736px; //スマートフォン | iPhone6s

$points: $widthMD; // tablet

$points_list01: 1390px; // tablet
$points_list02: 1400px; // tablet
@mixin breakpoint {
  //points（768px）以下の場合
  @media (max-width: ($points - 1)) {
    @content;
  }
}
@mixin breakpoint_list {
  //points（1390px）以下の場合
  @media (min-width: $widthSM) and (max-width: ($points_list01 - 1)) {
  // @media (max-width: ($points_list01 - 1)) {
    @content;
  }
}
@mixin breakpoint_list_over {
  //points（1400px）以上の場合
  @media (min-width: $points_list02) {
    @content;
  }
}
@mixin mqXL {
  //$widthXL（1280px）以上の場合
  @media (min-width: $widthXL) {
    @content;
  }
}
@mixin mqLG {
  //$widthLG（1024px）〜$widthXL-1（1279px）の場合
  @media (min-width: $widthLG) and (max-width: ($widthXL - 1)) {
    @content;
  }
}
@mixin mqMD {
  //$widthMD（768px）〜$widthLG-1（1023px）の場合
  @media (min-width: $widthMD) and (max-width: ($widthLG - 1)) {
    @content;
  }
}
@mixin mqSM {
  //$widthSM（641px）〜$widthMD-1（767px）の場合
  @media (min-width: $widthSM) and (max-width: ($widthMD - 1)) {
    @content;
  }
}
@mixin mqSM_o {
  //$widthSM（641px）〜$widthMD-1（767px）の場合
  @media (max-width: ($widthMD - 1)) {
    @content;
  }
}

@mixin mqXS {
  //$widthSM-1（641px）以下の場合
  @media (max-width: ($widthSM - 1)) {
    @content;
  }
}

@mixin sp_logo {
  //$widthSM-1（641px）以下の場合
  @media (max-width: ($widthlogo - 1)) {
    @content;
  }
}

// 指定した切り替え
@mixin breakpoint_users($width01,$width02) {
  @media (min-width: $width01) and (max-width: $width02) {
  // @media (max-width: ($points_list01 - 1)) {
    @content;
  }
}
@mixin breakpoint_users_max($width00) {
  @media (max-width: $width00) {
    @content;
  }
}

// border-radius
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

// width
%img100{
  width: 100%;
  height: auto;
}

%sp_img100{
  @include breakpoint{
    width: 100%;
    height: auto;
  } // breakpoint
} // %sp_width

%sp_width{
  @include breakpoint{
    width: 94%;
    margin: $_0;
  } // breakpoint
} // %sp_width
