/* _use_once
============================ */

.posLeft{
    // @include fl;
    float: left!important;
    @include breakpoint{
      // @include fn;
      float: none!important;
    } // breakpoint
  }// .posLeft
.posRight{
  // @include fr;
  float: right!important;
  @include breakpoint{
    // @include fn;
    float: none!important;
  } // breakpoint
}// .posRight

.fl{ @include fl; }
.fr{ @include fr; }
.fn{ @include fn; }
.cb{ @include cb; }

// sp use
br.visible_sp{
  display: none;
  @include mqSM_o{
    display: block;
  } // mqSM_o
}
// sp none
br.none_sp{
  display: block;
  @include mqSM_o{
    display: none;
  } // mqSM_o
}


// img
img.img_opacity{
  @include opacity(0.5);
}

//下のmodulesから抜粋したもの

// margin padding 調整 spのみ対応
@include mqSM_o{
  .ma0{
    margin: 0px !important;
  }
  .pa0{
    padding: 0px !important;
  }
} // mqSM_o

// 0,3,7,90,100
@each $i in 0, 3, 7, 90, 100{
  .mt#{$i}{
    margin-top: #{$i}px !important;
    &.sp_none{
      @include mqSM_o{
        margin-top: 0 !important;
      } // mqSM_o
    }
  }
  .mb#{$i}{
    margin-bottom: #{$i}px !important;
    &.sp_none{
      @include mqSM_o{
        margin-bottom: 0 !important;
      } // mqSM_o
    }
  }
  .ml#{$i}{
    margin-left: #{$i}px !important;
    &.sp_none{
      @include mqSM_o{
        margin-left: 0 !important;
      } // mqSM_o
    }
  }
  .mr#{$i}{
    margin-right: #{$i}px !important;
    &.sp_none{
      @include mqSM_o{
        margin-right: 0 !important;
      } // mqSM_o
    }
  }
  .pt#{$i}{
    padding-top: #{$i}px !important;
    &.sp_none{
      @include mqSM_o{
        padding-top: 0 !important;
      } // mqSM_o
    }
  }
  .pb#{$i}{
    padding-bottom: #{$i}px !important;
    &.sp_none{
      @include mqSM_o{
        padding-bottom: 0 !important;
      } // mqSM_o
    }
  }
  .pl#{$i}{
    padding-left: #{$i}px !important;
    &.sp_none{
      @include mqSM_o{
        padding-left: 0 !important;
      } // mqSM_o
    }
  }
  .pr#{$i}{
    padding-right: #{$i}px !important;
    &.sp_none{
      @include mqSM_o{
        padding-right: 0 !important;
      } // mqSM_o
    }
  }
}

// // 5
$i: 5;
@while $i <= 80{
  .mt#{$i}{
    margin-top: #{$i}px !important;
    &.sp_none{
      @include mqSM_o{
        margin-top: 0 !important;
      } // mqSM_o
    }
  }
  .mb#{$i}{
    margin-bottom: #{$i}px !important;
    &.sp_none{
      @include mqSM_o{
        margin-bottom: 0 !important;
      } // mqSM_o
    }
  }
  .ml#{$i}{
    margin-left: #{$i}px !important;
    &.sp_none{
      @include mqSM_o{
        margin-left: 0 !important;
      } // mqSM_o
    }
  }
  .mr#{$i}{
    margin-right: #{$i}px !important;
    &.sp_none{
      @include mqSM_o{
        margin-right: 0 !important;
      } // mqSM_o
    }
  }
  .pt#{$i}{
    padding-top: #{$i}px !important;
    &.sp_none{
      @include mqSM_o{
        padding-top: 0 !important;
      } // mqSM_o
    }
  }
  .pb#{$i}{
    padding-bottom: #{$i}px !important;
    &.sp_none{
      @include mqSM_o{
        padding-bottom: 0 !important;
      } // mqSM_o
    }
  }
  .pl#{$i}{
    padding-left: #{$i}px !important;
    &.sp_none{
      @include mqSM_o{
        padding-left: 0 !important;
      } // mqSM_o
    }
  }
  .pr#{$i}{
    padding-right: #{$i}px !important;
    &.sp_none{
      @include mqSM_o{
        padding-right: 0 !important;
      } // mqSM_o
    }
  }
  $i: $i+1;
}

// // font
@for $txt_i from 8 through 50{
  .txt#{$txt_i} {
    font-size: #{$txt_i}px !important;
  }
}


.sp_fn{
  @include mqSM_o{
    float: none;
  } // mqSM_o
}
