//* _variables
//============================ */
/*********************
color list
*********************/

$_oikaze_blue: #0d98d8;
$_thin_blue: #E0FFFF;
$_current_red: #ff0000;


$_sunlogi_color: #39AFB0;

// used
$_font_color: #333; // 文字色
$_ttl_color: #444; // タイトル
$_font_white: #fff; // 文字色

$_header_menu_line: #CCC;

$_color_acua01: #CBF7F7;
$_color_acua02: #61CCCD;
$_color_acua03: #099395;
$_color_acua04: #5FCCCC;
$_color_acua05: #92E4E5;
$_color_acua06: #60CCCC;
$_color_acua07: #199293;
$_color_acua08: #8FE4E6;
$_color_acua09: #009296;

$_font_deep_acua01: #1A9394;
$_bg_deep_green: #147778;
$_recruit_top_message_bg: rgba(26,147,148,0.8);
$_recruit_top_cont_alpha_bg: rgba(255,255,255,0.8);

$_color_table_type: #F6F6F6;
$_color_table_type_wrap: #DDD;

$_first_desc: #242323;
$_kameya_enji: #702d3e;
$_foot_color: #e3c68e;
// used


// materials
$_bg_color: #fff;


// f-4 color
$_border_ct01: #FFE1A6;
$_border_ct02: #ECA3D6;
$_border_ct03: #A1B6E9;
$_border_ct04: #95E4E4;
$_border_ct05: #BEE395;
$_border_ct06: #FFCFA6;
$_border_ct07: #B595E3;

$_head_border: #ccc;

// shadow
.uShadow{
  @include text-shadow(2px 2px 6px rgba(0,0,0, 0.4) );
}
.uShadowWhite{
  @include text-shadow(7px 7px 18px rgba(255,255,255,1));
}

/*********************
FONT
*********************/

// 通常のfont
// $_font_main: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
// jpc専用
$_font_main: "メイリオ",Meiryo,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック",sans-serif;
// // 游ゴシック体ありfont
// $_font_main_yu: "游ゴシック", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic",sans-serif;
// // // 明朝系のfont
// $_font_slice: "ヒラギノ明朝 Pro W6","HiraMinPro-W6","HG明朝E","ＭＳ Ｐ明朝","MS PMincho","MS 明朝",serif;
// // 游明朝体ありのfont
// $_font_slice_yu: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro W6","HiraMinPro-W6","HG明朝E","ＭＳ Ｐ明朝","MS PMincho","MS 明朝",serif;

// 追加font
$notosans: "Noto Sans Japanese";
// font-weight
// Thin 100, Light 300, DemiLight 350, Regular 400, Medium 500, Bold 700, Black 900
$Thin: 100;
$Thin-Light: 200;
$Light: 300;
$DemiLight: 350;
$Regular: 400;
$Medium: 500;
$Bold: 700;
$Black: 900;


// font
.fNotoT{
  font-family: $notosans;
  font-weight: $Thin;
}
.fNotoTL{
  font-family: $notosans;
  font-weight: $Thin-Light;
}
.fNotoL{
  font-family: $notosans;
  font-weight: $Light;
}
.fNotoDL{
  font-family: $notosans;
  font-weight: $DemiLight;
}
.fNotoR{
  font-family: $notosans;
  font-weight: $Regular;
}
.fNotoM{
  font-family: $notosans;
  font-weight: $Medium;
}
.fNotoB{
  font-family: $notosans;
  font-weight: $Bold;
}
.fTxt8 { font-size:68%; }
.fTxt9 { font-size:74%; }
.fTxt10 { font-size:84%; }
.fTxt11 { font-size:92%; }
.fTxt12 { font-size:100%; }
.fTxt13 { font-size:109%; }
.fTxt14 { font-size:117%; }
.fTxt15 { font-size:125%; }
.fTxt16 { font-size:134%; }
.fTxt17 { font-size:142%; }
.fTxt18 { font-size:150%; }
.fTxt19 { font-size:159%; }
.fTxt20 { font-size:167%; }
.fTxt21 { font-size:175%; }
.fTxt22 { font-size:184%; }
.fTxt23 { font-size:192%; }
.fTxt24 { font-size:200%; }
.fTxt25 { font-size:209%; }
.fTxt26 { font-size:217%; }



.fTxt27 { font-size:27px; }
.fTxt28 { font-size:28px; }
.fTxt29 { font-size:29px; }
.fTxt30 { font-size:30px; }
.fTxt31 { font-size:31px; }
.fTxt32 { font-size:32px; }
.fTxt33 { font-size:33px; }
.fTxt34 { font-size:34px; }
.fTxt35 { font-size:35px; }
.fTxt36 { font-size:36px; }
.fTxt37 { font-size:37px; }
.fTxt38 { font-size:38px; }
.fTxt39 { font-size:39px; }
.fTxt40 { font-size:40px; }
.fTxt41 { font-size:41px; }
.fTxt42 { font-size:42px; }
.fTxt43 { font-size:43px; }
.fTxt44 { font-size:44px; }
.fTxt45 { font-size:45px; }
.fTxt46 { font-size:46px; }

.lh1{ line-height: 1; }
.lh1-1{ line-height: 1.1; }
.lh1-2{ line-height: 1.2; }
.lh1-3{ line-height: 1.3; }
.lh1-4{ line-height: 1.4; }
.lh1-5{ line-height: 1.5; }
.lh1-6{ line-height: 1.6; }
.lh1-7{ line-height: 1.7; }
.lh1-8{ line-height: 1.8; }
.lh1-9{ line-height: 1.9; }
.lh2{ line-height: 2; }


.ls001{ letter-spacing: 0.01em;}
.ls002{ letter-spacing: 0.02em;}
.ls003{ letter-spacing: 0.03em;}
.ls004{ letter-spacing: 0.04em;}
.ls005{ letter-spacing: 0.05em;}
.ls006{ letter-spacing: 0.06em;}
.ls007{ letter-spacing: 0.07em;}
.ls008{ letter-spacing: 0.08em;}
.ls009{ letter-spacing: 0.09em;}
.ls010{ letter-spacing: 0.10em;}
.ls011{ letter-spacing: 0.11em;}
.ls012{ letter-spacing: 0.12em;}
.ls013{ letter-spacing: 0.13em;}
.ls014{ letter-spacing: 0.14em;}
.ls015{ letter-spacing: 0.15em;}
.ls016{ letter-spacing: 0.16em;}
.ls017{ letter-spacing: 0.17em;}
.ls018{ letter-spacing: 0.18em;}
.ls019{ letter-spacing: 0.19em;}
.ls020{ letter-spacing: 0.20em;}

.ls_001{ letter-spacing: -0.01em;}
.ls_002{ letter-spacing: -0.02em;}
.ls_003{ letter-spacing: -0.03em;}
.ls_004{ letter-spacing: -0.04em;}
.ls_005{ letter-spacing: -0.05em;}
.ls_006{ letter-spacing: -0.06em;}
.ls_007{ letter-spacing: -0.07em;}
.ls_008{ letter-spacing: -0.08em;}
.ls_009{ letter-spacing: -0.09em;}
.ls_010{ letter-spacing: -0.10em;}
.ls_011{ letter-spacing: -0.11em;}
.ls_012{ letter-spacing: -0.12em;}
.ls_013{ letter-spacing: -0.13em;}
.ls_014{ letter-spacing: -0.14em;}
.ls_015{ letter-spacing: -0.15em;}
.ls_016{ letter-spacing: -0.16em;}
.ls_017{ letter-spacing: -0.17em;}
.ls_018{ letter-spacing: -0.18em;}
.ls_019{ letter-spacing: -0.19em;}
.ls_020{ letter-spacing: -0.20em;}

// @font-face {
//  font-family: ume;
//  src: url('css/ume-ugo5.woff'); /* IE9 */
//  src: url('css/ume-ugo5.woff') format('embedded-opentype'), /* IE6-IE8 */
//  url('css/ume-ugo5.ttf') format('truetype'), /* Modern Browsers */
//  url('css/ume-ugo5.ttf') format('truetype'), /* Android, iOS */
//  url('css/ume-ugo5.ttf') format('svg'); /* Legacy iOS */
// }


/*********************
wrapper width
*********************/
$_width_max: 1280px;
$_width: 930px;
// $_width_side: 180px;
// $_width_main: 790px;
// $_width_main_box: 520px;
// $_width_main_side: 250px;

$_width_max: 1366px;
// $_width_head: 1100px;
$_width_head: 1140px;
// $_width_cont: 1100px;
$_width_cont: 1140px;
$_width_cont_true: 1100px;
$_width_cont_child: 90.5%;
$_width_cont_child2: 91.5%;

$_width_sp: 94.5%;
$_width_sp2: 93.5%;
$_width_sp_inner: 94%;
$_width_sp_inner2: 96%;
$_width_sp_inner3: 92.5%;
$_width_sp_inner4: 91.5%;
$_width_sp_inner5: 93%;


// $_width_cont_inner: 810px;
$_width_cont_inner: 802px;
$_width_foot: 1200px;

$_width_break: 768px;


$_width_home_news_main: 476px;
$_width_home_news_sub: 308px;
$_width_archive_img: 420px;
$_width_archive_txt: 532px;


// break point
$widthXL: 1280px; //PC大
$widthLG: 1024px; //PC小
$widthMD: 769px; //タブレット
$widthSM: 641px; //スマートフォン
$widthlogo: 497px; //スマートフォン


// commonly used
$_0: 0 auto;
$_10: 10px;
$_20: 20px;
$_30: 30px;
$_40: 40px;
$_50: 50px;
$_60: 60px;
$_70: 70px;
$_80: 80px;
$_90: 90px;
$_100: 100px;

// float
$_left: left;
$_right: right;
