//- index.jade
//- extends layout

//- _layout.jade
doctype html
html(lang="ja")
  head
    include ../includes/materials/meta_head_recruit
    title 採用情報｜サントリーロジスティクス株式会社
    script(src="/js/analytics_tracking.js" , type="text/javascript")
  body#top.f0
    include ../includes/modules/header_first_f0
    div#wrapper.clearfix
        include ../includes/templates/f-0
    include ../includes/modules/footer_first
    script(src="/js/script.js" , type="text/javascript")
    //- script(src="js/script.js" , type="text/javascript")