//- index.jade
//- extends layout

//- _layout.jade
doctype html
html(lang="ja")
  head
    include ../includes/materials/meta_head_recruit
    title すぐわかるサンロジ！｜サントリーロジスティクス株式会社
    script(src="/js/analytics_tracking.js" , type="text/javascript")
  body#top.recruit.f3
    include ../includes/modules/header_first_f3
    div#wrapper.clearfix
        include ../includes/templates/f-3
        include ../includes/templates/f-common
    include ../includes/modules/footer_first
    script(src="/js/script.js" , type="text/javascript")
    //- script(src="js/script.js" , type="text/javascript")